
<div class="rial">
    <div class="modal_service"> 
        <div class="modal-header ng-scope">
            <p class="modal-title" id="modal-title">业务标签
                <i class="fa fa-times pull-right" aria-hidden="true" ng-click="close()"></i>
            </p>
        </div>
        <div class="modal-body ng-scope clearfix" id="modal-body" >
            <h1 class="modal_body_h1">请选择业务标签&nbsp;&nbsp;至少选择1个</h1>
            <div class="modal_body_con"> 
                <div class="service_tag_name">销售</div>
                <div class="all_service"> 
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售的</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                </div>
            </div>
            <div class="modal_body_con"> 
                <div class="service_tag_name">投资</div>
                <div class="all_service"> 
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                </div>
            </div>
            <div class="modal_body_con"> 
                <div class="service_tag_name">交易</div>
                <div class="all_service"> 
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                </div>
            </div>
            <div class="modal_body_con"> 
                <div class="service_tag_name">投行</div>
                <div class="all_service"> 
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl class="on"> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                </div>
            </div>
            <div class="modal_body_con"> 
                <div class="service_tag_name">研究</div>
                <div class="all_service"> 
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                </div>
            </div>
            <div class="modal_body_con"> 
                <div class="service_tag_name">中后台</div>
                <div class="all_service"> 
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售</dd>
                    </dl>
                    <dl class="on"> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                </div>
            </div>
            <div class="modal_body_con"> 
                <div class="service_tag_name">中介</div>
                <div class="all_service"> 
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>股票销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>理财销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>债券销售</dd>
                    </dl>
                    <dl> 
                        <dt><img src="tag_img1.png"/></dt>
                        <dd>其他</dd>
                    </dl>
                </div>
            </div>
            <div class="service_modal_btn"><input type="button" value="确定" id="service_modal_btn"/></div>

        </div>
   </div>
</div>
