.modal-content{
    width:auto;
    height:auto;
    margin:.4rem auto;
    background:#233840;  
}
.rial{
    font-size:.16rem;
}
.modal-header{
    width:100%;
    height:.53rem;
    line-height:.33rem;
    color:#fff;
    background:url('../images/bodal_bg.png') repeat-x;
    font-size:.16rem;

}
.modal_body_h1{
    width:100%;
    text-align:center;
    color:#ffeb62;
    font-size:.16rem;
    margin-top:.1rem;
}
.modal_body_con{
    width:6.6rem;
    height:.43rem;
    margin:.2rem auto 0 auto;
}
.modal_body_con div{
    float:left;
}
.service_tag_name{
    width:.6rem;
    height:.43rem;
    line-height:.43rem;
    font-size:.16rem;
    color:#fff6bf;
}
.modal_body_con .all_service{
    width:6rem;
    height:.43rem;
}
.modal_body_con .all_service dl{
    width:1.4rem;
    height:.41rem;
    border:1px #3b515d solid;
    border-radius:.06rem;
    line-height:.41rem;
    float:left;
    margin-right:.1rem;
}
.modal_body_con .all_service dl:hover{
    background:#997e51;
}
.modal_body_con .all_service dl.on{
    background:#997e51;
}
.modal_body_con .all_service dl dt{
    width:.26rem;
    height:.23rem;
    margin:.08rem .1rem;
    float:left;
    display:inline;
}
.modal_body_con .all_service dl dt img{
    width:100%;
    height:100%;
}
.modal_body_con .all_service dl dd{
    padding-left:.08rem;
    font-size:.14rem;
    float:left;
    color:#fff6bf;
    line-height:.41rem;
}
.service_modal_btn{
    width:.9rem;
    height:.3rem;
    margin:.4rem auto;
}
.service_modal_btn input{
    width:.9rem;
    height:.3rem;
    border:none;
    border-radius:.06rem;
    line-height:.3rem;
    text-align:center;
    background:#ff671b;
    color:#fff;
    font-size:.16rem;
}
