@import '../../common/css/common';

//calculator {
	//color: #000;
//}
h1,h2,h3,h4,h5,h6{
	margin: 0; 
	padding: 0;
}
div.bondprice{
	height:8rem;
	margin:0 auto;
	overflow:auto;
	
	border:0.02rem solid #666;
	border-radius:0.1rem;
		div.header{
			height:0.4rem;
			padding-left:.1rem;
			color:#fff;
			background:#666666;
		}
		div.main{
		height:7.6rem;
		Width:100%;
		float:left;
			div.trade{
					height:100%;
					Width:70%;
					positive:relative;
					//width:7rem;
					float:left;
					box-sizing:boeder-box;
					.trade_content{
						height:1.3rem;
						width:100%;
						.trade_content_left{
							height:0.6rem;
							padding-left:.2rem;
							padding-top:.2rem;
							box-sizing:boeder-box;
						}
						.trade_content_right{
							height:0.6rem;
							
							line-height:0.6rem;
							float:right;
							text-align:center;
							//background:yellow;
						}
					}
					.table_code{
					margin-top:.3rem;
						th{
						font-size:.14rem;
						}
						td{
						 font-size:.13rem;
						}
					}
					.footer{
						height:.6rem;
						width:1rem;
						//background:green;
						margin-top:.8rem;
						margin-left:2rem;

						}
					
				}
				div.tradetype{
					height:100%;
					Width:30%;
					//width:4.78rem;
					float:left;
					border:.02rem solid #666;
					.tradetype_search{
						height:1rem;
							.tradetype_search_one{
							width:50%;
							height:.4rem;
							line-height:.4rem;
							float:left;
							magrin-top:.08rem;
							
								input{
								display:inline-block;
								//background:green;
								height:.2rem;
								width:.5rem;
								}
							}
						}
						.tradetype_table{
						      th{
						      font-size:.14rem;
						      border:none;
						      }
						      td{
						      font-size:.12rem;
						      }
						}
				}
			}

	
}