<div class="make_com_html">
<form name="form" ng-submit="userFeedback()">
    <h1>我要吐槽</h1>
    <div style="position:relative;"> 
        <textarea class="make_com_text" placeholder="行情不及时？资讯不喜欢？想要的功能没有？都快快向我们吐槽吧！" maxlength="800"  ng-model="default.feedbackContent" required></textarea>
        <span class="text_span" ng-if="default.feedbackContent.length>0">{{default.feedbackContent.length}}/800</span> 
        <span class="text_span" ng-if="!default.feedbackContent.length">0/800</span>
    </div>
    
    <h2 ng-if="_images.length && _images.length>0">你还可以选择上传图片（{{_images.length}}/6张）</h2> 
    <h2 ng-if="!_images.length">你还可以选择上传图片（0/6张）</h2>
    <div class="addimg">
        <div ng-if="_images.length>0" ng-repeat="ima in _images">
            <img src="{{ima}}"/>
            <div class="chacha" ng-click='delImage($index)'></div>
        </div>
        <div ng-if="_images.length<=6">
            <img src="../images/add_img.png" ng-click="addPic($event)"/>
            <input type="file" multiple  id="onFileChange" style="display: none" name="file"/>
        </div> 
    </div> 
    <div class="make_com_btn"><button type="submit" id="make_com_btn">确认</button ng-disabled="isDisabled"></div>
</form>
</div> 