

.my-now-bond{
	.modal-wfxl.modal-dialog {
		width: 12rem;
		.modal-content{
			color:$textF;
			// margin-top:0.5rem;
			background: #243841;
			.modal-body{
				width: 12rem;
			}
		}
	}
	@media screen and (min-width: 768px){
		.modal-dialog {
			margin-top:0.2rem;
		}
	}
}

.nowBond{
	color:$textF;
	input,textarea{
		border:$bgDefaultLightA;
		background: none;

	}
	textarea{
		overflow: visible;
		height: 0.24rem;
		resize: none;
	}
	.bg{
		background:url('../../../../../resource/images/img_bg_title.png')  center;
		background-size: auto 100%;
	}
	.btn-default.active{
		background-color:$bgGold;
		color:#F7EFB5;
	}
	div.modal-header{
		// height:0.32rem;
		line-height: 0.32rem;
		padding:0 0.1rem;
		border-bottom:1px solid $borderDefault;
		i.fa{
			line-height: 0.32rem;
		}
	}
	div.modal-body{

		.hideSelf{
			display: none;
		}
		padding:0.06rem;
		padding-bottom:0.2rem;
		>.mytable,.mysearch{
			float:left;
		}

		div.mytable{
			width:7.4rem;
			margin:0 0.05rem;
			.btnOk{
				text-align: center;
			}
			#formLeft{
				height: 5rem;
				overflow-y: auto;
			}
			.head{
				margin-bottom:0.1rem;
			}
			table.table{
				thead{
					th{
						font-weight:normal;
						border:none;
					}
				}
				tbody{
					tr{
						background:#20333A;
						border-bottom:1px solid $borderDefault;
						td{
							border:none;
							input[type="text"]{
								width:100%;
								border:0;
								white-space: normal;
							    overflow: hidden;
							    text-overflow: ellipsis;
							}
						}
					}
				}
			}
		}
		div.mytable.hideRight{
			width: 99%;
		}
		button.btn.dropdown-toggle.selectpicker.btn-info{
			width:1rem;
			margin-left:0.05rem;
			display:inline-block;
		}
		div.btn-group.bootstrap-select.show-tick{
			width:1rem!important;
			display:inline-block;
		}
		div.mysearch.hideRight{
			display: none;
		}
	}
	div.modal-footer{
		margin-bottom: 0.3rem;
		text-align: center;
		border-top:none;
	}

}
.nowBond >div.modal-body{
	div.mysearch{
		width:4.3rem;
		transition: all 1s;
		background:#273E46;
		header{
			color:$textD;
			// height:.32rem;
			line-height:.32rem;
			padding-left:.06rem;
			background-image:url('../../../../../resource/images/img_bg_title.png');
			background-size: auto 100%;
			background-repeat:repeat-x;
		}
		section{
			input{
				width:0.7rem;
				// padding-left:0.05rem;
				text-align: center;
				background:#1B2F36;
				height:.26rem;
			}
			padding:0.1rem 0.05rem;
			.className{
				width:1rem;
				height:0.3rem;
				.ui-select-match-item{
					background:#ccc
				}
				input.ui-select-search.input-xs{
					width:1rem;
				}
			}
			.cont_l,.cont_r{
				display:inline-block;
				border:none;
				margin-bottom: 0.1rem;
				.title{
					display: inline-block;
					width:0.56rem;
					text-align: right;

				}
				.DY{
					display: inline-block;
					text-align:center;
					line-height: 0.26rem;
					width: 0.51rem;
					right:-0.1rem;
					// top:-0.02rem;
					height: 0.26rem;
					background: url('../../../../../resource/images/btn_changeday_normal.png') no-repeat 100%;
					position: relative;
				}
				.DY.active{
					background: url('../../../../../resource/images/btn_changeday_select.png') no-repeat 100%;
				}
			}
			// .cont_l{
			// 	width:1.6rem;


			// }
			// .cont_r{
			// 	width:2.5rem;
			// 	.title{
			// 		width:0.55rem;
			// 	}
			// }
			.select{
				.ourSelect{
					width:100px;
				}
			}
		}
		main{
			div.table-search-list{
				overflow-y:auto;
				height:4rem;
				table.table{
					th{
						font-weight:normal;
						border:none;
					}
					tr{
						border-bottom:1px solid $borderDefault;
						th,td{
							border:none;
						}
						td{
							.overFlow{
								width: 100%;
								white-space:nowrap;
								text-overflow:ellipsis;
								-o-text-overflow:ellipsis;
								overflow:hidden;
							}
						}
						.sortDown,.sortUp{
							display:inline-block;
							width:0.07rem ;
							height:0.11rem;
							position: absolute;
							top:4px;
							right:-7px;
						}
						.sortDown{
							background: url('../../../../../resource/images/btn_sort_down.png') no-repeat  center;
						}
						.sortUp{
							background: url('../../../../../resource/images/btn_sort_up.png') no-repeat  center;
						}
						.bondShrtnm{
							display: inline-block;
							width: 100%;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
					}
					tr.active{
						background: $bgDefaultLightB;
						td{
							background: $bgDefaultLightB;
						}
					}
					.addQuote{
						display: inline-block;
						width: 0.2rem;
						height: 0.2rem;
						background: url('../../../../../resource/images/btn_plus_normal.png') no-repeat center;
					}
					.addQuote:hover{
						background: url('../../../../../resource/images/btn_plus_hover.png') no-repeat center;
					}
					margin-bottom:0;
				}
			}
		}

	}
}
