<div class="nowBond " >
	<div class="modal-header bg">
		现券报价
		<i class="fa fa-times pull-right" ng-click="$ctrl.modalInstance.dismiss('cancel')"></i>
	</div>
	<div class="modal-body"  ng-init='hideRight=true'>
		<div class="table-responsive mytable" ng-class='{"hideRight" : hideRight}'>
			<div class="head">
				<span>
					<span style="padding:10px;">交易方向</span>
					<label  ng-model='$ctrl.drc' uib-btn-radio="'1'"  class="btn  btn-default">卖出</label >
					<label  ng-model='$ctrl.drc' uib-btn-radio="'-1'"  class="btn  btn-default">买入</label >
				</span>
				<span class="pull-right">
					<label  class="btn btn-primary" ng-click="addQuote()">添加债券</label>
					<label  class="btn btn-primary"  ng-click="hideRight =!hideRight">债券搜索</label>
				</span>
			</div>
			<form name='leftList' id="formLeft">
				<table class="table myTable">
					<thead>
						<tr class="bg">
							<th style="width:.5rem">序号</th>
							<!-- <th style="width:.46rem">方向</th> -->
							<th style="width:.90rem">债券代码</th>
							<th style="width:1.17rem">债券简称</th>
							<th style="width:.66rem">数量(万)</th>
							<th style="width:.67rem">收益率%</th>
							<th style="width:.71rem">净价(元)</th>
							<th style="width:.57rem">匿名</th>
							<th style="width:.7rem"  ng-hide='$ctrl.isShow'>大厅挂牌</th>
							<th style="width:1.43rem">备注</th>
							<th style="width:0.5rem">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in quoteList" >
							<td style="width:.5rem">
								{{$index+1}}
							</td>
							<td style="width:.90rem">
								<input type="text"
									placeholder="债券代码或简称"
									ng-model="item.searchBond"
									uib-typeahead="list as list.bondCd for list in queryQuote($viewValue)"
									typeahead-template-url="customTemplateNowBond.html"
									typeahead-on-select = 'onSelected(item)'
									typeahead-show-hint="false">
							</td>
							<td style="width:1.17rem">
								<input type="text" disabled="true" ng-model="item.bondShrtnm" placeholder="债券简称">
							</td>
							<td style="width:.66rem">
								<input type="text" ng-model="item.num" validation-tooltip="validdationNum($value)" placeholder="输入金额">
								<!-- <input type="text" ng-model="item.num" placeholder="输入金额"> -->
							</td>
							<td style="width:.67rem">
								<input type="text" ng-model="item.yield" validation-tooltip="validdationYield($value,item)" placeholder="输入收益率" ng-change='netprc(item )'>
								<!-- <input type="text" ng-model="item.yield" placeholder="输入收益率" ng-change='netprc(item )'> -->
							</td>
							<td style="width:.71rem">
								<input type="text" ng-model="item.netprc" validation-tooltip="validdationNetprc($value ,item)" placeholder="输入净价" ng-change='yield(item)'>
								<!-- <input type="text" ng-model="item.netprc" placeholder="输入净价" ng-change='yield(item)'> -->
							</td>
							<td style="width:.57rem">
								<input type="checkbox" ng-model="item.wthrAnon">
							</td>
							<td style="width:.68rem" ng-hide='$ctrl.isShow'>
								<input type="checkbox" ng-model="item.wthrListg" >
							</td>
							<td style="width:1.43rem">
								<input type="text" placeholder="这里输入50个字..." ng-model="item.remark" ng-change='deleteRemark(item)'>
							</td>
							<td style="width:.68rem">
								<span ng-click='deleteList($index)'>删除</span>
							</td>
						</tr>
					</tbody>
			 	</table>
			</form>
			<div class="btnOk">
				<button class="btn btn-primary" type="button" ng-disabled="quoteList.length==0" ng-click='ok()'>发布</button>
			</div>
		</div>
		<div class="mysearch" ng-class='{"hideRight" : hideRight}'>
			<header>
				债券搜索
			</header>
			<section>
				<div class="cont_l">
					<span class="title">债券类型</span>{{nowBondService.bondTp.data}}
					<new-select title='全部' ng-model='$ctrl.searchConditions.creditTypeSelecteds' multiple items='$ctrl.nowBondService.bondTp.data'></new-select>
				</div>
				<div  class="cont_r" ng-onInit='$ctrl.isActive==false'>
					<span class="title" >期限</span>
					<span class="DY active" ng-model='$ctrl.searchConditions.termType' ng-click='changeDY()'>{{$ctrl.searchConditions.termType}}</span>
					<input type="text" placeholder="数字" style="width:50px;" ng-model="$ctrl.searchConditions.termStart">&nbsp;&nbsp;至&nbsp;&nbsp;
					<input type="text" placeholder="数字" style="width:50px;" ng-model="$ctrl.searchConditions.termEnd">
				</div>
				<div class="cont_l">
					<span class="title">票面</span>
					<new-select title='全部' ng-model='$ctrl.searchConditions.rateTypeSelecteds' multiple items='$ctrl.nowBondService.face.data'></new-select>
				</div>
				<div  class="cont_r">
					<span class="title">评级</span>
					<new-select title='全部' ng-model='$ctrl.searchConditions.creditSymbolSelecteds' multiple items='$ctrl.nowBondService.sbjRtg.data'></new-select>
				</div>
				<button  type='button' class='btn btn-primary pull-right' ng-click="searchBonds()">搜索</button>
			</section>
			<main>
				<div class=" table-search-list">
					<table class="table ">
						<thead>
							<tr class="bg">
								<th style="width: 0.7rem" >债券代码</th>
								<th style="width: 1rem" >债券简称</th>
								<th  ng-click='onTitleClick("yield");isYield=!isYield;isRsdtrm=null;isSbjRtg=null;' >收益率%
									<span style="position: relative;" ng-if='isYield!=null'><i ng-class="{ 'sortDown'   : isYield ,'sortUp' :!isYield}"></i></span>
								</th>
								<th ng-click='onTitleClick("rsdtrm");isRsdtrm = !isRsdtrm;isYield=null;isSbjRtg =null;'>剩余期限
									<span style="position: relative;" ng-if="isRsdtrm!=null"><i ng-class="{ 'sortDown'   :isRsdtrm ,'sortUp' : !isRsdtrm}"></i></span></th>
								<th ng-click=' onTitleClick("sbjRtg");isSbjRtg=true;isYield=null;isRsdtrm=null'>评级
									<span style="position: relative;" ng-if="isSbjRtg!=null"><i ng-class="{ 'sortDown'   :isSbjRtg ,'sortUp' : !isSbjRtg}"></i></span></th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="bodyTr"  ng-init='$ctrl.tr_active =0'>
							<tr
								ng-class='{"active" : $index ==$ctrl.tr_active}' ng-repeat="item2 in $ctrl.searchList"
								ng-click='$ctrl.tr_active=$index'
								ng-dblclick='toDetail(item2)' >
								<td >{{item2.bondCd}}</td>
								<td style='max-width: 0.8rem'><span class="bondShrtnm" uib-tooltip='{{item2.bondShrtnm }}'>{{item2.bondShrtnm }}</span></td>
								<td >{{item2.yield | yldrtoFilter}}</td>
								<td >{{item2.rsdtrm }}</td>
								<td >{{item2.sbjRtg}}</td>
								<td >
									<span class="addQuote" ng-click="addQuote(item2)" ></span>
									<!-- <a >+</a> -->
								</td>
							</tr>
						</tbody>
				 	</table>
				</div>
			</main>
		</div>
		<div style="clear: both;"></div>
	</div>
	<!-- <div class="modal-footer">
		
	</div> -->
</div>

