<div class="a-P">
	<!-- <div class="header_nav">
		<span>债券报价查询</span>
	</div> -->
	<div class="header_look">
			<div class="header_one">
				<span>
					机构类型
							<div class="btn-group">

						        <label class="btn btn-primary " uib-btn-checkbox  ng-model="checkModel.a" >不限</label>
						        <label class="btn  btn-primary" uib-btn-checkbox  ng-model="checkModel.b" >银行</label>
						        <label class="btn  btn-primary" uib-btn-checkbox  ng-model="checkModel.c" >证券</label>
						         <label class="btn btn-primary" uib-btn-checkbox  ng-model="checkModel.l" >基金</label>
						        <label class="btn  btn-primary" uib-btn-checkbox  ng-model="checkModel.m" >保险</label>
						        <label class="btn  btn-primary" uib-btn-checkbox  ng-model="checkModel.right" >资产管理</label>
						         <label class="btn btn-primary" uib-btn-checkbox  ng-model="checkModel.left" >信托公司</label>
						        <label class="btn  btn-primary" uib-btn-checkbox  ng-model="checkModel.middle" >财务公司</label>
						        <label class="btn  btn-primary" uib-btn-checkbox  ng-model="checkModel.d" >投资公司</label>
						         <label class="btn btn-primary" uib-btn-checkbox  ng-model="checkModel.e" >企业</label>
						        <label class="btn  btn-primary" uib-btn-checkbox  ng-model="checkModel.f" >其他金融</label>
				    		</div>
				    </span>
				    <span>
				    	机构名称 <input type="text">
		    			用户姓名<input type="text">
		    			注册手机号<input type="text">
				    </span>
	    		
			</div>
			<div class="header_one">
				<span>
					债券类型
							<div class="btn-group">

						        <label class="btn  btn-primary"  uib-btn-checkbox  ng-model="checkModel.left" >不限</label>
						        <label class="btn  btn-primary"  uib-btn-checkbox  ng-model="checkModel.middle" >国债</label>
						        <label class="btn  btn-primary"  uib-btn-checkbox  ng-model="checkModel.right" >央票</label>
						         <label class="btn btn-primary" uib-btn-checkbox ng-model="checkModel.l" >金融债</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.m" >地方债</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.right" >短融</label>
						         <label class="btn btn-primary" uib-btn-checkbox ng-model="checkModel.left" >中票</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.middle" >企业债</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.right" >同业存单</label>
						         <label class="btn btn-primary" uib-btn-checkbox ng-model="checkModel.left" >公司债</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.middle" >其他</label>
				    		</div>
				    </span>
				    
    				<span>
					剩余期限
							<div class="btn-group">

						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.left" >不限</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.middle" >&lt;=3M</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.right" >3~6M</label>
						         <label class="btn btn-primary" uib-btn-checkbox ng-model="checkModel.l" >6~9M</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.m" >9~12M</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.right" >1~3Y</label>
						         <label class="btn btn-primary" uib-btn-checkbox ng-model="checkModel.left" >3~5Y</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.middle" >5~7Y</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.right" >7~10Y</label>
						         <label class="btn btn-primary" uib-btn-checkbox ng-model="checkModel.left" >>10Y</label>
						        <!-- <label class="btn  btn-primary" ng-model="checkModel.middle" >其他金融</label> -->
				    		</div>
				    </span>
			</div>
			<div class="header_one" style="border-bottom:none;">
				<span>
				    	代码/简称 <input type="text">
				    	报价状态
							<div class="btn-group">

						        <label class="btn btn-primary " uib-btn-checkbox ng-model="checkModel.left" >不限</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.middle" >有效</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.right" >成交</label>
						         <label class="btn btn-primary" uib-btn-checkbox ng-model="checkModel.l" >撤销</label>
						        
				    		</div>
				    	方向
							<div class="btn-group">

						        <label class="btn btn-primary " ng-model="checkModel.left" >不限</label>
						        <label class="btn  btn-primary" ng-model="checkModel.middle" >卖出</label>
						        <label class="btn  btn-primary" ng-model="checkModel.right" >买入</label>
						        
				    		</div>
				    		报价日期<input type="date">-<input type="date">
		    			
				    </span>
				<span>
						挂牌类型
							<div class="btn-group">

						        <label class="btn btn-primary  " uib-btn-checkbox ng-model="checkModel.left" >不限</label>
						        <label class="btn  btn-primary"  uib-btn-checkboxng-model="checkModel.middle" >公开挂牌</label>
						        <label class="btn  btn-primary" uib-btn-checkbox ng-model="checkModel.right" >定向发送</label>
						         <label class="btn btn-primary  " uib-btn-checkbox ng-model="checkModel.l" >客服代挂</label>
						        
				    		</div>
				    		<button type="button" class="btn btn-primary" type="button" >查询</button>
				    </span>
				    
	    		
			</div>
		
		</div>
	<!-- <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Left</label>
        <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox>Middle</label>
        <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</label>
    </div>
		<button type="button" class="btn btn-primary" type="button" >查询</button>
	</div> -->
	<!-- 报价记录列表 -->
	
	<div class="list">
			<div class="filter">
				<span>当前筛选下，共计报价<span>300</span>笔，金额<span>100亿</span>。</span>
				<button class="btn btn-primary">发送给用户</button>
				<a href="#">导出为excel</a>

			</div>
	<!-- 左侧列表 -->
			<div class="talk_left">
				    <main>
						<div class="scroll-body" slim-scroll>
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th></th>
											<th>用户姓名</th>
											<th>注册手机</th>
											<th>机构名称</th>
											<th>方向</th>
											<th>债券简称</th>
											<th>债券代码</th>
											<th>剩余期限</th>
											<th>数量</th>
											<th>收益率</th>
											<th>净价</th>
											<th>备注信息</th>
											<th>报价状态</th>
											<th>报价时间</th>
											<th>挂牌类型</th>
											<th>操作人</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><input type="checkbox"></td>
											<td>张三</td>
											<td>12345678901</td>
											<td>国寿安保基金管理有限公司</td>
											<td>卖出</td>
											<td>16国开10</td>
											<td>160210.IB</td>
											<td>1.56Y</td>
											<td>5000万</td>
											<td>3.51%</td>
											<td>100.25元</td>
											<td>这里是备注</td>
											<td>成交</td>
											<td>2016-11-22 12:00:45</td>
											<td>公开挂牌</td>
											<td></td>
											<td><a href="#">查看议价记录</a></td>
										</tr> 
										
										
									</tbody>
							 	</table>
							</div>
						</div>
					</main>
			    </div>
	</div>

<!-- 弹窗 -->
	<!-- 1.发送报价-选择用户弹窗 -->
		<div class="modal-dialog  select-user" >
		     	<div class="modal-content"  >
		     		
			     		<div class="modal-header ng-scope">
			            	<p class="modal-title" id="modal-title">选择用户 
			            	<i  style=""class="fa fa-times" aria-hidden="true" ></i>
			            	</p>

			        	</div>
			        	<div class="modal_main">
			        		<p><label for="">注册手机</label><input type="text"></p>
			        		<p><input type="text"></p>
			        	</div>
			        <div class="modal-footer ng-scope" style=" border:none;"	>
			            <button type="button" class="btn btn-primary" type="button" >取消</button>
			            <button  type="button" class="btn " type="button" >确定</button>
			            <!-- btn-warning -->
			        </div>
			     </div>
			 </div>



		</div>

