
    <div class="newdebt"  ng-init="$ctrl.show_shengoudialog">
    		<!-- 申购弹窗 1-->
    		<!-- <div class="  shengoudialog" ng-If="$ctrl.aaaaa">
		     	<div class="modal-content shengoudialog-header"  >
			     		<div class="modal-header ng-scope" >
			            	<p class="modal-title"  >我要分销</p> 
			            	<i id="close_11"  ng-click="$ctrl.closefriendtipDialog()">
			            		<img src="../../../../../resource/images/btn_close02_gray.png" height="10" width="10" alt="">
			            	</i>
			        	</div>

				        <div class="modal-body ng-scope"  > 
				       <span>确定参与该债券的分销？</span>
				        </div>
			       		<div class="modal-footer">
			       			<button  type="button" class="btn " style="background:#FF671B;"   type="button" ng-click='$ctrl.NewdebtdialogModalService.open($ctrl.aachange);$ctrl.closefriendtipDialog();'>确定</button>
			       			<button type="button" class="btn " ng-click="$ctrl.closefriendtipDialog();$ctrl.show_shengoudialog='null';" style="background:#677983;" >取消</button>
			       		</div>
			       			
				            
			     </div>
			</div> -->
		
    	<div class=" newdebt_nav">
		    	<div class="newdebt_nav_lf">{{$ctrl.newobj_one.bondNm | addTwoLine}}</div>
		    	<!-- ui-sref="home.cast({lid:$ctrl.liveBond_id.lid,state:$ctrl.liveBond_id.state})" -->
		    	<span class="newdebt_nav_tou_01"   ng-If="$ctrl.liveBond_lid!= 0" ng-click="$ctrl.clickEnterLive()"><img ng-src="../../../../../resource/images/luyan_btn.png.jpg" height="30" width="80" alt=""></span>
		    	<span class="newdebt_nav_tou" ng-if="$ctrl.newobj_one.roleId==5">{{$ctrl.newobj_one.roleId |rolefilter}}</span>
		    	<span  class="newdebt_nav_tou_tou" ng-if="$ctrl.newobj_one.roleId!=5" >{{$ctrl.newobj_one.roleId |rolefilter}}</span>
		    	<div class="newdebt_nav_box">
			    	<ul>
			    		<li>期限:{{$ctrl.newobj_one.trmText | addTwoLine }}</li>
			    		<!-- <li>期限:{{$ctrl.newobj_one.trm | addTwoLine}}<e ng-If="$ctrl.newobj_one.trm!=0">D</e></li> -->
			    		<li>申购利率:
			    		<e ng-if="$ctrl.newobj_one.sbrbIntrtLwrLmt==0 && $ctrl.newobj_one.sbrbIntrtUpLm==100.0000">--</e><e ng-if="$ctrl.newobj_one.sbrbIntrtLwrLmt!=0||$ctrl.newobj_one.sbrbIntrtUpLm!=100.0000">{{$ctrl.newobj_one.sbrbIntrtLwrLmt | addTwoLine }}%-{{$ctrl.newobj_one.sbrbIntrtUpLm | addTwoLine }}%  </e>
			    		<!-- <e ng-show="$ctrl.newobj_one.sbrbIntrtLwrLmtBoder">[</e>   <e ng-show="!$ctrl.newobj_one.sbrbIntrtLwrLmtBoder">(</e>  -->
			    		
			    		<!-- <e ng-show="!$ctrl.newobj_one.sbrbIntrtUpLmBoder">)</e><e ng-show="$ctrl.newobj_one.sbrbIntrtUpLmBoder">]</e>%</li> -->
			    		<li>发行量:
			    		<!-- <e ng-If="$ctrl.newobj_one.issuNum>0">{{$ctrl.newobj_one.issuNum |numChangeYiFilter | addTwoLine }}</e><e  ng-If="$ctrl.newobj_one.issuNum<=0">{{$ctrl.newobj_one.issuNumText  | addTwoLine }}</e></li> -->
			    		{{$ctrl.newobj_one.issuNum | addTwoLine}}<e ng-If="$ctrl.newobj_one.issuNum>=0">亿</e>
			    		<li>发债主体:{{$ctrl.newobj_one.entpTp | entpTpfilter | addTwoLine}}</li>
			    		<li>主/债:{{$ctrl.newobj_one.sbjRtg | addTwoLine}}/{{$ctrl.newobj_one.dbtItmRtg | addTwoLine}}</li>
			    	</ul>
		    	</div>
		    	<span class="newdebt_nav_span" ng-If="false"> 我要分销 </span>
		    	<span class="newdebt_nav_span_span" ng-click='$ctrl.healdCalculatorService.open($ctrl.newobj_one);'>&nbsp;综收计算器
		    		<!-- <i class="calater"   ng-click='$ctrl.healdCalculatorService.open($ctrl.newobj_one);'  ></i> -->
		    		<!-- <span   class="a" ng-click='$ctrl.healdCalculatorService.open($ctrl.newobj_one);'>综收计算器</span> -->
		    	</span>
		    	<!-- <span   class="a" ng-click='$ctrl.healdCalculatorService.open($ctrl.newobj_one);'>综收计算器</span> -->
		    	
    	</div>
    	<div class="header_nav_info " >
			<ul>
				<!-- <li  ng-class="{'nav_back':$root.$state.is('home.newdebtinformationdetails')}" 
				ui-sref="home.newdebtinformationdetails({dstrBondId:$ctrl.$stateParams.dstrBondId,issuId:$ctrl.$stateParams.issuId,roleId:$ctrl.newobj_one.roleId,trm:this.newobj_one.trm})">债券资料</li>
 -->
				<li class="btn" ng-class="{'nav_back':$root.$state.is('home.newdebtinformationdetails')}" ng-click="$ctrl.jumpTodetail();">债券资料</li>


				<!-- <li ng-class="{'nav_back':$root.$state.is('home.newdebtinformationdetails.distributor')}"
				ui-sref="home.newdebtinformationdetails.distributor({dstrBondId:$ctrl.$stateParams.dstrBondId,issuId:$ctrl.$stateParams.issuId,roleId:$ctrl.newobj_one.roleId,alrdySbrbInd:alrdySbrbInd,trm:this.newobj_one.trm})">申购助手（分销）</li> -->
				<li class="btn" ng-class="{'nav_back':!$root.$state.is('home.newdebtinformationdetails')}" ng-click="$ctrl.jumpTo($ctrl.newobj_one.roleId)"
				>申购助手</li>

				<!-- <li ng-class="{'nav_back':$root.$state.is('home.newdebtinformationdetails.investor')}"
				ui-sref="home.newdebtinformationdetails.investor({dstrBondId:$ctrl.$stateParams.dstrBondId,issuId:$ctrl.$stateParams.issuId,roleId:$ctrl.newobj_one.roleId,trm:this.newobj_one.trm})">申购助手（投资）</li>
				<li ng-class="{'nav_back':$root.$state.is('home.newdebtinformationdetails.bond-dstr-main')}"
				ui-sref="home.newdebtinformationdetails.bond-dstr-main({dstrBondId:$ctrl.$stateParams.dstrBondId,issuId:$ctrl.$stateParams.issuId,roleId:$ctrl.newobj_one.roleId,trm:this.newobj_one.trm})">申购助手(主承)</li> -->
			</ul>
		</div>
		
	<div class="newdebt_content" ui-view="main">
		<div class="newdebt_content_lf">
			<div class="newdebt_content_header">基本资料</div>
			<div class="newdebt_content_info" ng-init="isShow==0">
	    		<div class="newdebt_content_info_content">
	    				<ul>
	    					<li>债券全称&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.bondNm | addTwoLine}}</li>
	    					<li>债券类型&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.bondTp |bondTpfilter | addTwoLine}}</li>
	    					<li>债券期限&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.trmText | addTwoLine}}</li>
	    					<!-- <li>债券期限：{{$ctrl.newobj_two.trm | addTwoLine}}<e ng-If="$ctrl.newobj_one.trm!=0">D</e></li> -->
	    					<li>含权类型&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.wrghtTp | hanquanFilter | addTwoLine}}</li>
	    					<li>利率类型&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.intrtTp | rateTpfilter | addTwoLine}}</li>
	    					<li>基础利率名：{{$ctrl.newobj_two.baseIntrtNm | addTwoLine}}</li>
	    					<!-- <li>发行收益(%)：{{$ctrl.newobj_two.bondNm}}</li> -->
	    					<li>付息频率&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.intpymtFrq | intpymtFrqfilter | addTwoLine}}</li>
	    					<li>主  承  商&nbsp;&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.primUdwr | addTwoLine}}</li>
	    				</ul>
	    		</div>
	    		<div class="newdebt_content_info_button dropup " ng-click="$ctrl.opendialog()" >
						<span class="btn  dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    承销团
						  </span>
						  <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenu2" >
						    <li  class="disabled" ng-repeat="list in $ctrl.newdata_chengxiao " ><a href="javascript:0;">{{list.uwrtFullNm | addTwoLine}}</a></li>
						  </ul>

	    		</div>

	    		
	    		<div class="newdebt_content_info_content">
	    				<ul>
	    					<li> &nbsp;</li>
	    					<!-- <li>是否城投债：</li> -->
	    					<li>发   行   量&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.issuNum | addTwoLine}}<e ng-If="$ctrl.newobj_two.issuNum>=0">亿</e></li>
	    					<!-- <li>发行量：<span ng-If="$ctrl.newobj_two.issuNum>0">{{$ctrl.newobj_two.issuNum |numChangeYiFilter| addTwoLine}}</span><span ng-If="$ctrl.newobj_two.issuNum<=0">{{$ctrl.newobj_two.issuNumText | addTwoLine}}</span></li> -->
	    					<li>还本方式&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.repypnpMod | addTwoLine}}</li>
	    					<li>票面利率&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.faceintrate | addTwoLine}}<e ng-If="$ctrl.newobj_two.faceintrate>0">%</e></li>
	    					<li>基础利率&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：{{$ctrl.newobj_two.baseIntrt | addTwoLine}}<e ng-If="$ctrl.newobj_two.baseIntrt>0">%</e></li>
	    					<li>发行价格(元)：{{$ctrl.newobj_two.issuPrc | addTwoLine}}</li>
	    					<!-- <li> 计息平率： {{$ctrl.newobj_two.bondNm}}</li> -->
	    				</ul>
	    		</div>
	    		<!-- 弹窗 -->
	    		<!-- <div class="newdebt_content_info_content_tanchuang" iscroll  ng-If="$ctrl.tanchuangflag" >
	    			<ul>
	    				<li   ng-repeat="list in $ctrl.newdata_chengxiao track by $index"  >{{list.uwrtFullNm}}</li>
	    				
	    			</ul>
	    		</div> -->
    		</div>
    		<div class="newdebt_content_header" style="margin-top:10px;">发行人资料</div>
			<div class="newdebt_content_info"  >
	    		<div class="newdebt_content_info_content">
	    				<ul>
	    					<li>发行主体  &nbsp;&nbsp;：{{$ctrl.newobj_three.issuSbj | addTwoLine}}</li>
	    					<li>主体类型 &nbsp;&nbsp;：{{$ctrl.newobj_three.sbjTp |entpTpfilter| addTwoLine}}</li>
	    					<li>一级行业  &nbsp;&nbsp;：{{$ctrl.newobj_three.fstIdy | addTwoLine}}</li>
	    					<li>地区(省) &nbsp;&nbsp; ：{{$ctrl.newobj_three.prvc| addTwoLine}}</li>
	    					<li>控股股东  &nbsp;&nbsp;：{{$ctrl.newobj_three.hldgShrh| addTwoLine}}</li>
	    					<li>控股比例  &nbsp;&nbsp;：{{$ctrl.newobj_three.hldgPct |dotFilter | addTwoLine}}<e ng-If="$ctrl.newobj_two.hldgPct>0">%</e></li>
	    					<li>实际控制人：{{$ctrl.newobj_three.actCntlr | addTwoLine}}</li>
	    				</ul>
	    		</div>
	    		<div class="newdebt_content_info_content">
	    				<ul>
	    					<li>&nbsp;</li>
	    					<li>组织形式：{{$ctrl.newobj_three.orgForm| addTwoLine}}</li>
	    					<li>二级行业：{{$ctrl.newobj_three.secIdy| addTwoLine}}</li>
	    					<li>地区(市)&nbsp;：{{$ctrl.newobj_three.cityZon| addTwoLine}}</li>
	    					<!-- <li>中央国资委：{{$ctrl.newobj_three.actCntlr}}</li> -->
	    					<li>注册资本：{{$ctrl.newobj_three.rgstCptl| addTwoLine}}</li>
	    					<!-- <li>中央国资委(亿元)：{{$ctrl.newobj_three.actCntlr}}</li> -->
	    				</ul>
	    		</div>
	    		<div class="newdebt_content_info_range" ng-init="is_show=0" >
		    		   <div class="newBox" >
			    		   <div class="newBox-left"><span>	经 营 范 围&nbsp;：</span></div>
			    		   <div class="newBox-right" >
				    		  <p ng-class="{'span_a':is_show==0, 'span_b':is_show==1}"> {{$ctrl.newobj_three.oprtScop | addTwoLine}}
				    		   <!-- 公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技、超越常规理念，力争提供行业内最优秀的信息技术服务公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技、超越常规理念，力争提供行业内最优秀的信息技术服务
				    		   业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技、超越常规理念，力争提供行业内最优秀的信息技术服务 -->

				    		   </p>
								<!-- <p >
				    		   <a id="open" href="javascript:0;" ng-click="$ctrl.doCheck(0);is_show=1"   ng-show="is_show==0"  >全部展开</a>
				    		   <a href="javascript:0;" ng-click="$ctrl.doCheck(0);is_show=0"  ng-show="is_show==1"     >收起</a>
				    		   </p> -->
			    			</div>
			    			<div style="clear:both;"></div>
		    		   </div> 
	    		</div>
    		</div>
		</div>
		<div class="newdebt_content_rt">
			<div class="newdebt_content_rt_header">我要申购</div>
			<div class="newdebt_content_rt_content"   ng-init="isShow==0">
				<span class="newdebt_content_rt_content_p">这些好友在分销此债券</span>
				<ul>
					<li ng-repeat="list in $ctrl.debtinfriendList track by $index" ng-init="is_showshengou=0">
						<div class="newdebt_content_rt_title">
							<img ng-src="{{list.userUrl}}" height="16" width="18" alt="">
						</div>
						<div class="newdebt_content_rt_name">
							<span class="newdebt_content_rt_span">
								<span class="newdebt_content_rt_names">{{list.userNm}}</span> 
								<span  ><img src="../../../../../resource/images/icon_realname.png" height="16" width="18" alt=""></span>
								<!-- <span ng-show="list.realNmCtfnEStatus!='实名认证'" >{{list.realNmCtfnEStatus}} </span> -->
								<span class="newdebt_content_rt_friend">好友</span>
								<span class="newdebt_content_rt_group">{{list.roleId|rolefilter}}</span>
								<!-- 在团 -->
							</span>
							<span class="newdebt_content_rt_span">{{list.instNm}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list.teamNm}}</span>
						</div>
						<div class="newdebt_content_rt_button2" ng-click='$ctrl.friendtipDialog(list);$ctrl.NewdebtdialogModalService.open($ctrl.aachange)' >申购</div>
						<!-- <div class="newdebt_content_rt_button2" ng-click="$ctrl.friendtipDialog(list);" >申购</div> -->
					</li>
					<!-- *****************************8 -->
					<!-- <li  ng-init="is_showshengou=0">
						<div class="newdebt_content_rt_title">
							<img ng-src="{{list.userUrl}}" height="16" width="18" alt="">
						</div>
						<div class="newdebt_content_rt_name">
							<span class="newdebt_content_rt_span">
								<span class="newdebt_content_rt_names">32</span> 
								<span ng-If="list.realNmCtfnEStatus=='实名认证'" ><img src="../../../../../resource/images/icon_realname.png" height="16" width="18" alt=""></span>
								<span ng-show="list.realNmCtfnEStatus!='实名认证'" >{{list.realNmCtfnEStatus}} </span>
								<span class="newdebt_content_rt_friend">好友</span>
								<span class="newdebt_content_rt_group">在团</span>
							</span>
							<span class="newdebt_content_rt_span">22&nbsp;4444</span>
						</div>
						<div class="newdebt_content_rt_button2" ng-click='$ctrl.friendtipDialog(list);$ctrl.NewdebtdialogModalService.open($ctrl.aachange)'  >申购</div>
					</li> -->
					
				</ul>
			</div>
			<!-- 写代码 -->
			<div class="newdebt_content_rt_header" style="margin-top:10px;">债券日历</div>
			<div class="newdebt_content_rt_footer">
				<div class="newdebt_content_rt_footer_one">
					<ul>
						<li>公告日</li>
						<li>发行日</li>
						<li>缴款日</li>
						<!-- <li>起息日</li> -->
						<li>上市日</li>
					</ul>
				</div>
				<div class="newdebt_content_rt_footer_one">
					<ul>
						<li style="color:#65787F;">{{$ctrl.getBondCdrs_info.ancmDt| addTwoLine}}</li>
						<li style="color:#65787F;">{{$ctrl.getBondCdrs_info.issuDt| addTwoLine}}</li>
						<li>{{$ctrl.getBondCdrs_info.pyDt| addTwoLine}}</li>
						<li>{{$ctrl.getBondCdrs_info.lstDt| addTwoLine}}</li>
						<!-- <li>{{$ctrl.getBondCdrs_info.issuStDt}}</li> -->
					</ul>
				</div>
				<div class="newdebt_content_rt_footer_one">
					<ul>
						<li>--</li>
						<li>{{$ctrl.getBondCdrs_info.issuDtCrndayDys | addTwoLine}}</li>
						<li>{{$ctrl.getBondCdrs_info.pyDtCrndayDys | addTwoLine}}</li>
						<li>{{$ctrl.getBondCdrs_info.lstDtCrndayDys | addTwoLine}}</li>
						<!-- <li>上市日</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>


</div>











   
   