
<div class="rial">
    <div class="modal-wfcontent" > 
        <div class="modal-header ng-scope">
            <p class="modal-title" id="modal-title">兑换商品
                <i class="fa fa-times pull-right" aria-hidden="true" ng-click="close()"></i>
            </p>
        </div> 
        <div class="modal-body ng-scope clearfix wealth_modal_body">
            <dl> 
                <dt><img src="tag_img1.png"/></dt>
                <dd> 
                    <h1>苹果手机iPhone7 Plus 128G 玫瑰红 三网通手机三网通手机</h1>
                    <p>礼品价格：<span>68,000金币</span><br/> 礼品类型：实物礼品</p>
                </dd>
            </dl>
            <div class="yellow">收件信息</div>
            <div>收件人<input type="text" style="margin-left:.4rem"/></div>
            <div>联系电话 <input type="text"/></div>
            <div>收件地址<input type="text"  style="margin-left:.25rem"/></div>
            <div style="width:2.2rem;margin:0 auto;padding-bottom:.4rem"><button type="button" >确认兑换</button><button type="button">取消</button></div>
        </div>
    </div>
</div>
