
<div class="rial">
<form name="Nform" ng-submit="golbGiftchangeFun()">
    <div class="modal-wfcontent" > 
        <div class="modal-header ng-scope">
            <p class="modal-title" id="modal-title">兑换商品
                <i class="fa fa-times pull-right" aria-hidden="true" ng-click="close()"></i>
            </p>
        </div> 
        <div class="modal-body ng-scope clearfix wealth_modal_body">
            <dl> 
                <dt><img ng-src="{{infoGift.imageUrl}}"/></dt>
                <dd> 
                    <h1>{{infoGift.name}} {{infoGift.description}}</h1>
                    <p>礼品价格：<span>{{infoGift.priceCoin}}金币</span><br/> 礼品类型：{{infoGift.goodsType}}礼品</p>
                </dd>
            </dl> 
            <div class="yellow">收件信息</div>
            <div>收件人<input type="text" style="margin-left:.4rem" ng-model="uesrI.userName" required/></div>
            <div>联系电话 <input type="text" ng-model="getLoginNames" name="numP" required ng-change="numPhone()" validation-tooltip="valid_numP($value,Nform.numP)"/></div>
            <div>收件地址<input type="text"  style="margin-left:.25rem" ng-model="uesrI.workAddress" required/></div> 
            <div style="width:2.2rem;margin:0 auto;padding-bottom:.4rem"><button type="submit" ng-disabled="isDisabled">确认兑换</button><button type="button" ng-click="cancel()">取消</button></div>
        </div> 
    </div>
    </form>
</div>
