<div iscroll on-bottom="$ctrl.moreInfo()">
    <!--如果没有直播列表,提示没有直播-->
    <p class="noCast" ng-if="$ctrl.list.length == 0">暂时还没有直播哦~</p>
    <!--直播列表-->
    <div class="row"  style="margin: 5px;">
        <div class="col-sm-3" ng-repeat="item in $ctrl.list track by $index" ng-click="$ctrl.sessionInfo(item.lid, item.state, item.times)">
            <a ng-click="$ctrl.showModel(item.state, item.lid)">
                <div class="castCard">
                    <div class="castImg"
                         ng-style="{'background': 'url({{item.logo}}) no-repeat', 'background-size': 'cover'}">
                        <p class="rightTop">
                            <img src=""/> <span class="fa fa-video-camera"> {{item.state | caststate}}</span>
                            <span><count-down ng-if="item.state == 2" format='mm:ss'
                                              ctrl="$ctrl.ctrl[$index]"></count-down></span>
                        </p>
                    </div>
                    <div class="castInfo">
                        <p class="castTitle">{{item.title}}</p>
                        <div class="castOthers">
                            <span>{{item.begin_time | changeTime}}</span>
                            <p class="castOtherRight">
                                <span class="fa fa-map-marker"> </span><span> {{item.locale}}</span>
                                <span class="fa fa-user"> </span><span
                                    ng-style="{'color': '#fda700'}"> {{item.sum_online}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <p></p>
        </div>
    </div>
</div>
