
.willQuote {
	input{
		width:1rem;
	}
	.tit{
		width:100%;
		height: 0.4rem;
		text-align: center;
		line-height: 0.4rem;
		background:$bgDefaultDarkA;
	}
	color: $textF;
	.bg{
		background:url(../../../../../../../resource/images/img_bg_title.png) center;
		background-size: auto 100%;
	}
	background: $bgDefault;
	header#top{
		padding:0.1rem 0.2rem;
		textarea.cont{
			resize:none;
			width:100%;
			height:1rem;
			margin-bottom:0.1rem;
			border-color:$borderDefault;
			background:$bgDefaultDarkA;
		}

	}
	#secondList{
		.form-control{
			display:inline-block;
		}
		input{
			background:$bgDefaultDarkC;
			border:none;
		}
		.typeBtn{
			background:#ff671b;
		}
	}
	section{
		.bgStar{
			background: url(../../../../../../../resource/images/btn_star_normal.png) no-repeat center;
		}
		.bgStar:hover,.bgStar.active{
			background: url(../../../../../../../resource/images/btn_star_select.png) no-repeat center;
		}
		div.btn-group.bootstrap-select.show-tick{
			width:1rem!important;
			display:inline-block;
		}
	}
}