
h1,h2,h3,h4,h5,h6{
	margin: 0; 
	padding: 0;
}
.a-c-d{
	height:100%;
	overflow:auto;
	font-size:0.12rem;
	color:#a3cbd9;
	ul{
			list-style:none;
			
		}
	div._nav{
		height:.6rem;
		line-height:0.6rem;
		width:100%;
		background:#253942 ;
		div.title_lf{
			float:left;
			height:100%;
		 	width:60%;
		 	padding-left:.16rem;
		 	color:#ffeb62;
		 	font-size: 18px;
		 	font-weight:700;

		 }



		 //div.title_co{
		 //float:left;
		// background:url('../../../../../../resource/images/btn_selectbox_hover.png') no-repeat;
		 

		// }




		 div.title_rt{
		 	height:.6rem;
		 	width:4rem;
		 	float:right;
			 	.title_rt_input{
				 	height:0.3rem;
				 	width:2.6rem;
				 	line-height:0.3rem;
				 	float:left;
				 	padding-left:0.1rem;
				 	margin-top:0.15rem;
				 	background:#2B414C;
				 	border-radius:0.15rem;
				 	z-index:200;
				 	position:relative;
				 	left:0;
				 	top:0;
					 	input{
						 	border:none;
						 	outline:none;
						 	height:0.3rem;
						 	width:2.24rem;
						 	background:#2B414C;
						 	border-radius:0.15rem;
					 	}
					 	#box_search{
					 		width:2rem;
					 		//height:.3rem;
					 		background:#FFFFFF;
					 		border-radius:.05rem;
					 		
					 		li{
					 			height:.26rem;
					 			width:2rem;
					 			line-height:.3rem;
					 			text-align:center;

					 		}
					 		li:hover{
								background:#377DC2;
							}

					 	}
		 	}
			 	.title_rt_tub{
					 	height:.3rem;
					 	width:1rem;
					 	
					 	float:right;
					 	margin-top:0.15rem;
					 		.cal{
					 		display:inline-block;
					 		height:.24rem;
					 		width:.24rem;
					 		float:left;
					 			background:url("../../../../../../resource/images/btn_calculator2_normal.png") no-repeat;
					 		}
					 		.cal:hover{
					 		background:url("../../../../../../resource/images/btn_calculator2_hover.png") no-repeat;
					 		}
						 	.start{
							 	display:inline-block;
						 		height:.24rem;
						 		width:.24rem;
						 		float:right;
						 		margin:0rem .2rem;
						 		background:url("../../../../../../resource/images/btn_star2_normal.png") no-repeat;
							 		
						 	}
						 	.start:hover{
					 		background:url("../../../../../../resource/images/btn_star2_select.png") no-repeat;
					 		}
			 	}
		 }
	}
		div.info{
			height:2rem;
			font-size:.12rem;
			color:#a3cbd9;
			z-index:100;
			margin-top:.14rem;
			div.content{
				height:100%;
				width:25%;
				float:left;
				padding-left:.16rem;
			
			//margin:0.1rem 0.1rem;
			ul{
				list-style:none;
				}
			li{
				height:.3rem;
				}
				}
				span{
									font-size:.16rem;
									color:#ffeb62;
								}
		}

		.selector{
			height:9rem;
			width:100%;
			//background:#888;
				.selector_left{
					width:51.4%;
					float:left;
					overflow-y:auto;
					//background:green;
					.header{
						height:.4rem;
						line-height:.4rem;
						padding-left:.16rem;
						font-size:.12rem;
						font-weight:700;
						color:#fff;
						background:#2E424D;
					}
					.main{
						height:2.4rem;
						width:100%;
						float:left;
						
						margin-top:0.1rem;
							.mainInfo{
								padding-left:.1rem;
								height:2rem;
								width:50%;
								float:left;
								//margin:0.1rem 0.1rem;
								li{
								height:.3rem;
								}
								
							}
						}
						div.clearfixed{
						display:block;
						clear:both;
						content:"";
						visibility:hidden;
						height:0
					} 
						div#business{
						width:100%;
						height:4rem;
						font-size:0.14rem;
						color:#a3cbd9;
						margin-top:.3rem;
						overflow:hidden;
							#box{
								
									.newBox{
										overflow:hidden;
										width:100%;
										float:left;
									
										white-space:wrap;
									   
									    .newBox-left{
									    	height:100%;
									    	width:20%;
									    	//background:blue;
									    	padding-left:.16rem;
									    	float:left;
									    	
									    }
									    .newBox-right{
									    	height:100%;
									    	width:80%;
									    	float:left;
									    	.span_a{
											width:100%;
											//height:.6rem;
											font-size:12px;
											word-break:break-all;
											text-overflow:ellipsis;
											display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
					    					-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
					    					-webkit-line-clamp: 2; /** 显示的行数 **/
					    					overflow: hidden;  /** 隐藏超出的内容 **/
									    }
									    .span_b{
											width:100%;
											
											font-size:12px;
											overflow:hidden;
											
									    }
									    .span_c{
											width:100%;
											//height:.6rem;
											font-size:12px;
											word-break:break-all;
											text-overflow:ellipsis;
											display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
					    					-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
					    					-webkit-line-clamp: 2; /** 显示的行数 **/
					    					overflow: hidden;  /** 隐藏超出的内容 **/
									    }
									    .span_d{
											width:100%;
											//height:2rem;
											font-size:12px;
											overflow:hidden;
											
									    }
									    	
									   }
									}

							}
							
						}

				}
				.selector_right{
					height:100%;
					overflow-y:auto;
					padding-left:.1rem;
					#selector_right_height{
									    	height:.4rem;
									    	padding-left:.04rem;
									    	line-height:.4rem;
									    	font-size:.18rem;
									    	font-weigth:7rem;
									    	background:#333;
									    	}
									    	.tr{
									    		height:32rem;
									    	}
				}
			
		}
		

		

	

}