
    <div class="a-c-d">
    	<div class="_nav">
		    	<div class="title_lf"><span>16国开10&nbsp;[160210.IB]</span></div>
		    	<div class="title_rt">
			    	<div class="title_rt_input">
				    	<i class="fa fa-search"></i>
				    	<input type="text" placeholder="输入债券代码或简称" id='ip'>
				    	<i class="fa fa-remove" ng-click="$ctrl.searchCloce()"></i>
				    </div>
			    	<div class="title_rt_tub">
				    	<i class="fa fa-calculator fa" ><img src="" alt=""></i>
				    	<i class="fa fa-heart-o fa" id="fa-heart-o" style="color:red;"></i>
			    	</div>
		    	</div>
    	</div>
    	<!-- 债券信息 -->
    	<div class="info" ng-repeat="list in $ctrl.list">
    		<div class="content">
    				<ul>
    				<!-- {{list.rsdtrm}} -->
    					<li><h5>剩余期限(年):9Y</h5></li>
    					<li>期限（年）：{{list.enterMaturity}}</li>
    					<li>发行规模（亿）：{{list.issueAmount}}</li>
    					<li>发行价格（元）：{{list.issuePrice}}</li>
    					<li>交易市场：{{list.marketType}}</li>
    					<li>主承销商：{{list.underwriterName}}</li>
    				</ul>
    		</div>
    		<div class="content">
    				<ul>
    					<li><h5>票面利率（%）：{{list.bondRate}}</h5></li>
    					<li>付息频率：{{list.payInterestRuleFreq}}</li>
    					<li>是否城投债：</li>
    					<li>距下一付息日：{{list.nextPayInterestDate}}</li>
    					<li>下一行权日：{{list.nextPerformDate}}</li>
    					
    				</ul>
    		</div>
    		<div class="content">
    				<ul>
    					<li><h5>债券类型：{{list.creditType}}</h5></li>
    					<li>利率类型：{{list.rateType}}</li>
    					<li>兑付方式：{{list.paymentMethod}}</li>
    					<li>票息品种：{{list.rateVariety}}</li>
    					<li>担保人：{{list.warrantorName}}</li>
    					<li>发行方式：{{list.issueType}}</li>
    				</ul>
    		</div>
    		<div class="content">
    				<ul>
    					<li><h5>上市日期：{{list.enterDate}}</h5></li>
    					<li>起息日期：{{list.valueDay}}</li>
    					<li>缴款日期：{{list.payDate}}</li>
    					<li>摘牌日期：{{list.DelistingDate}}</li>
    					<li>到期日期：{{list.maturedDay}}</li>
    					<!-- <li>主承销商：——</li> -->
    				</ul>
    		</div>
    	</div>
    	<!-- 发行人信息 -->
    <div class="selector">
    	<div class="selector_left">
    		<div class="header">发行人信息</div>
	    	<div class="main">
	    		
	    		<div class="mainInfo">
	    			
	    			<ul ng-repeat="item in $ctrl.info">
	    			   	<li><h4>{{item.name}}</h4></li>
	    			   	<li>证监会行业（门类）:{{item.csrcCategory}}</li>
	    				<li>最新信用评级：{{item.lastCreditRank}}</li>
	    				<li>设立日期：{{item.regDate}}</li>
	    				<li>是否上市公司：{{item.listed}}</li>
	    				<li>法人代表：{{item.contract}}</li>
	    				<li>公司网址：{{item.website}}</li>
	    				<li>电话：{{item.phone}}</li>
	    			</ul>
	    		</div>
	    		<div class="mainInfo">
		    			<!-- <h4></h4> -->
		    			<ul>
		    				<li></li>
		    				<li>评级机构：{{item.creditInstitution}}</li>
		    				<li>证监会行业（大类）:{{item.csrcIndustry}}</li>
		    				<li>注册资本：{{item.money}}</li>
		    				<li>注册地址：{{item.address}}</li>
		    				<li>总经理：{{item.manager}}</li>
		    				<li>企业性质：{{item.nature}}</li>
		    				<!-- <li>电话：010-68306940</li> -->
		    			</ul>
		    	</div>
	    	</div>
			 <div class="clearfixed"></div>
    	<!-- 经营范围 -->
	    	<div id="business" >
	    		<div id="box"  >
	    		   <div class="newBox" >
		    		   <div class="newBox-left"><span>经营范围：{{item.scope}}</span></div>
		    		   <div class="newBox-right"> 吸收除居民储蓄存款之外的公众存款；发放短期、中期和长期贷款；办理国内外结算中期和长期贷款；
		    		   <span ng-show='$ctrl.target'>
		    		    111吸收除居民储蓄存款之外的公众存款；发放短期、中期和长期贷款；办理国内外结算中期和长期贷款 222222222222222吸收除居民储蓄存款之外的公众存款；发放短期、中期和长期贷款；办理国内外结算中期和长期贷款 333吸收除居民储蓄存款之外的公众存款；发放短期、中期和长期贷款；办理国内外结算中期和长期贷款
		    		   </span>
		    		   <a id="open" href="#" ng-click="$ctrl.doCheck()"   ng-hide="$ctrl.target" >...全部展开</a>
		    		   <!-- ng-show="!$ctrl.target" -->
		    		   <a href="#" ng-click="$ctrl.doCheck()"     ng-hide="!$ctrl.target" >收起</a>
		    		   </div>

		    		  
		    		   <!-- ng-show="$ctrl.target"  -->
	    		   </div>

	    		 </div>

	    		<div id="box" class="box1" >
	    		   <div class="newBox" >
		    		   <div class="newBox-left"> <span>公司简介：{{item.profile}}</span></div>
		    		    <div class="newBox-right">国家开发银行成立于1994年，是直属中国国务院领导的政策性金融机构。2008年12月
		    		   <span ng-show='$ctrl.target1'>
			    		1111吸收除居民储蓄存款之外的公众存款；发放短期、中期和长期贷款；办理国内外结算中期和长期贷款 222吸收除居民储蓄存款之外的公众存款；发放短期、中期和长期贷款；办理国内外结算中期和长期贷款 333333333333333吸收除居民储蓄存款之外的公众存款；发放短期、中期和长期贷款；办理国内外结算中期和长期贷款
			    		</span>
		    		   	<a id="open" href="#" ng-click="$ctrl.doCheck1()"  ng-show="!$ctrl.target1"  >...全部展开</a>
			    		<a href="#" ng-click="$ctrl.doCheck1()"  ng-show="$ctrl.target1" >收起</a>
			    		</div>
			    	</div>
	    		 </div>
	    	
	    	</div>
 		</div>
		
		<div class="selector_right">
			<div id="selector_right_height">
				<span>评价信息</span>
			</div>
   			 <div class="talk">
		    <main>
				<div class="scroll-body" slim-scroll>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>评级标准</td>
									<td>信用评级</td>
									<td>评级展望</td>
									<td>变动方向</td>
									<td>评级机构</td>
									<td>评级日期</td>
									
								</tr>
							</thead>
							<tbody ng-repeat="lis in $ctrl.creditInfo">
								<tr>
									<td>{{lis.creditStandard}}</td>
									<td>{{lis.creditRank}}</td>
									<td>{{lis.creditFuture}}</td>
									<td>{{lis.creditDirection}}</td>
									<td>{{lis.creditInstitution}}</td>
									<td>{{lis.creditRankDate}}</td>
								</tr> 
								<!-- <tr>
									<td>债项评级</td>
									<td>AA</td>
									<td>首次</td>
									<td>维持</td>
									<td>联合资信评估有限公司表格单元格</td>
									<td>2016-06-20</td>
								</tr> 
								<tr>
									<td>主体评级</td>
									<td>AA</td>
									<td></td>
									<td>首次</td>
									<td>联合资信评估有限公司表格单元格</td>
									<td>2016-06-20</td>
								</tr>  -->
							</tbody>
					 	</table>
					</div>
				</div>
			</main>
	    </div>
    	
    	</div>
	  </div>  	<!-- 评价信息 -->
	   
        <!-- 弹窗 -->

       <!--  <button type="button" class="btn btn-default" ng-click="$ctrl.openDialog()">打开弹窗</button>
       
     <div class="modal-dialog " style="height:600px; display:none;">
     	<div class="modal-content"  style="height:580px;position:relative;">
     		
	     		<div class="modal-header ng-scope">
	            	<p class="modal-title" id="modal-title">选择联系人 
	            	<i  style="padding-left:470px;"class="fa fa-times" aria-hidden="true" ng-click="$ctrl.closeDialog()"></i>
	            	</p>

	        	</div>
	        	
	        <div class="modal-body ng-scope" id="modal-body" style="height: 420px;width: 598px;float:left;"> -->
	        	<!-- 左侧 -->
	           <!--  <div class="modal_lef" style="height: 400px;width: 282px; border:1px solid #6666;float:left;overflow:hidden;">
	            	<div class="left_top" style="height: 24px; width:100%;border-bottom:1px solid #6666;">
	            		<input type="text" style=" width:100%;" placeholder=" 搜索" style="outline:none; border:none;">
	            	</div>
	            	<div class="left_content" style="height: 374px; width:100%;" >

	            		<ul>
	            			<li ng-click="$ctrl.checked()" ><input type="checkbox" class="checkAll"  >我的好友
			            			<i class="fa fa-angle-down" aria-hidden="true" style="padding-left:180px;"  ng-show="!$ctrl.tag"  ng-click="$ctrl.fridentShow()"></i>
			            			<i class="fa fa-angle-up" aria-hidden="true" ng-show="$ctrl.tag"  style="padding-left:180px;"ng-click="$ctrl.fridentShow()"></i>
									<div class="friends" id="friends" style="padding-left:20px; " ng-show="$ctrl.tag">
										<ul class="checkBody">
											<li><input type="checkbox"  ><span><i class="fa fa-user" aria-hidden="true" ></i>我的好友1</span></li>
											<li><input type="checkbox" ><span><i class="fa fa-user" aria-hidden="true"></i>我的好友</span></li>
										</ul>
									</div>

	            			</li>
	            			<li><input type="checkbox" class="checkAll_group">我的群组
	            					<i class="fa fa-angle-down" aria-hidden="true" style="padding-left:180px;"  ng-show="!$ctrl.tag"  ng-click="$ctrl.groupShow()"></i>
			            			<i class="fa fa-angle-up" aria-hidden="true" ng-show="$ctrl.tag"  style="padding-left:180px;"ng-click="$ctrl.groupShow()"></i>
			            			<div class="groupAll" ng-show="$ctrl.group" >
			            				<ul style="padding-left:20px;" class="checkAll_group_body" >
			            					<li><input type="checkbox"><span><i class="fa fa-users" aria-hidden="true"></i>XXX讨论组</span> -->
					            					<!-- <div class="groupOne" >
														<ul style="padding-left:20px;" class="checkAll_group_talk" >
															<li><input type="checkbox" id="aaaa"><span><i class="fa fa-user" aria-hidden="true"></i>讨论1</span></li>
														</ul>
													</div> -->
			            					<!-- </li>
			            					<li><input type="checkbox"><span><i class="fa fa-users" aria-hidden="true"></i>123债券群</span> -->
					            					<!-- <div class="groupTwo">
					            						<ul style="padding-left:20px;" class="checkAll_group_bond" >
															<li><input type="checkbox"><span><i class="fa fa-user" aria-hidden="true"></i>债券1</span></li>
														</ul>
													</div> -->
			            					 <!-- </li>
			            				</ul>
	            				</div>
	            			</li>
	            		</ul>
	            	</div>
	            </div> -->
	            <!-- 右侧 -->
	           <!--  <div class="modal_rt" style="height: 400px;width: 282px; border:1px solid #6666;float:right;overflow:hidden;">
	            	<div class="left_top" style="height: 24px; width:100%;border-bottom:1px solid #6666">
	            		已选择(4)
	            	</div> -->
					<!-- 存放好友 -->
	            	<!-- <div class="rt_frident">

	            		<ul>
	            			<li><span><i class="fa fa-user" aria-hidden="true"></i>我的好友1</span></li>
	            		</ul>
	            	</div> -->
					<!-- 存放讨论 -->
					<!-- <div class="rt_talk">
	            		<ul>
	            			<li></li>
	            		</ul>
	            	</div> -->
	            	<!-- 存放债券群 -->
	            	<!-- <div class="rt_ground">
	            		<ul>
	            			<li></li>
	            		</ul>
	            	</div> -->
	            	 <!-- 右侧节点 -->
	           <!--  </div>
	        </div>
	        <div class="modal-footer ng-scope" style="height: 60px;position:absolute;left:440px;bottom:30px; border:none;"	>
	            <button type="button" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">取消</button>
	            <button  type="button" class="btn " type="button" ng-click="$ctrl.cancel()">确定</button> -->
	            <!-- btn-warning -->
	      <!--   </div>
	     </div>
	 </div> -->

    
<!-- 第二次变动 -->

 <div class="modal-dialog " style="height:600px;width:800px;">
     	<div class="modal-content"  style="height:580px;position:relative;">
     		
	     		<div class="modal-header ng-scope">
	            	<p class="modal-title" id="modal-title">选择联系人 
	            	<i  style="padding-left:670px;"class="fa fa-times" aria-hidden="true" ng-click="$ctrl.closeDialog()"></i>
	            	</p>

	        	</div>
	        	
	        <div class="modal-body ng-scope" id="modal-body" style="height: 490px;width:798px;float:left;">
	        	<!-- 左侧 -->
	            <div class="modal_lef" style="height: 490px;width: 282px; border:1px solid #666;float:left;overflow:auto;">
	            	<div class="left_top" style="height: 40px; width:100%;border-bottom:1px solid #6666;;">
	            		<input type="text" style=" width:90%; height:30px;margin:5px 5%;" placeholder=" 搜索" >
	            	</div>
	            	<div class="left_content" style="height: 350px; width:100%;" >

	            		<ul>
	            			<li  >
		            				<div style="display:block; height:30px;width:100%;line-height:30px;background:#777;padding-left:10px; float:left; ">
			            				<span style="display:block; height:30px;width:200px;line-height:30px; float:left;">我的好友({{ $ctrl.friendLists.length}})</span>
			            				<span style="display:block; height:30px;width:30px;line-height:30px;text-align:center;float:right "><i class="fa fa-angle-down" aria-hidden="true"  ng-show="$ctrl.tag"  ng-click="$ctrl.fridentShow()"></i><i class="fa fa-angle-up" aria-hidden="true" ng-show="!$ctrl.tag" ng-click="$ctrl.fridentShow()"></i>
			            				</span>		
				            		</div>
									<div class="friends" id="frds" style="width:100%;display:none; overflow-y:auto;" >
										<ul class="checkBody" style="width:100%;" ng-repeat="ls in $ctrl.friendLists" >


											<li style=" display:block;height:60px;width:100%; border-bottom:1px solid #666;padding-left: 8px; ">
												<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-top:5px;">
													<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{ls.iconUrl}}" alt="">
												</div>
												<div class="name" style="height:50px;width:190px; float:left;padding-left:10px;">
													<p>{{ls.userName}} <span style="display:inline-block;height:20px;width:60px;background:#666;">{{ls.realCertifyState}}</span></p>
													<p style="font-size:10px;">{{ls.organizationShortName}}{{ls.position}}</p>
												</div>
												<div style="height:50px;width:15px;line-height:50px; float:left;"> <input type="checkbox" ng-click="$ctrl.checked()" ></div>
												
											</li>
											
										</ul>
									</div>

	            			</li>
	            			<li>
			            			<div style="display:block; height:30px;width:100%;line-height:30px;background:#777;padding-left:10px;float:left;">	
				            			<span style="display:block; height:30px;width:200px;line-height:30px; float:left;">我的群组({{ $ctrl.grouplists.length}})
				            			</span>
				            			<span style="display:block; height:30px;width:30px;line-height:30px;text-align:center;float:right ">
				            			<!-- style="padding-left:152px;" -->
				            					<i class="fa fa-angle-down" aria-hidden="true"   ng-show="$ctrl.group"  ng-click="$ctrl.groupShow()"></i>
						            			<i class="fa fa-angle-up" aria-hidden="true" ng-show="!$ctrl.group" ng-click="$ctrl.groupShow()"></i>
						            			 <!-- style="padding-left:150px;" -->
						            	</span>
					            	</div>

			            			<div class="groupAll" style="display:none;clear:both;">
			            				<ul style="" class="checkAll_group_body"   ng-repeat="its in $ctrl.grouplists">
											<li style=" display:block;height:60px;width:100%; border-bottom:1px solid #666;padding-left: 8px; ">
													<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-top:5px;">
														<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{its.groupheadAdr}}" alt="">
													</div>
													<div class="name" style="height:50px;width:190px; float:left;padding-left:10px;">
														<p>{{its.groupGrpNm}}</p>
														<p style="font-size:10px;">群成员:({{its.groupaStaffTotNum}})人</p>
													</div>
													<div style="height:50px;width:15px;line-height:50px; float:left;"> <input type="checkbox" ng-click="$ctrl.groupChecked()"></div>
													 
													
											</li>
			            					
			            				</ul>
	            				</div>
	            			</li>
	            		</ul>
	            	</div>
	            </div>
	            <!-- 右侧 -->
	            <div class="modal_rt" style="height: 490px;width: 470px; float:left;margin-left:8px;">
	            	
			            	<div class="left_top" style="height: 40px; width:100%;">
			            		<span>已选择({{$ctrl.alls.length}})用户,({{$ctrl.all_grounp.length}})个群</span> 
			            	</div>
			            	<div class="content_main" style="height: 400px;width: 470px; border:1px solid #6666;overflow:auto;">
								<!-- 存放好友 -->
					            	<div class="rt_frident">

					            		<ul  ng-repeat="items in $ctrl.alls">
					            			<li  class=" fdrtClose"  style="dispaly:block;width:120px;height:140px; float:left;border:1px solid yellow;margin:5px ;">
							            			<div  style="height:60px;width:120px; float:left;">
							            				<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-left:35px;margin-bottom:8px;">
							            					<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{items.iconUrl}}" alt="">
							            				</div>
							            				<i  style="padding-left:-6px;"class="fa fa-times" aria-hidden="true" ng-click="$ctrl.cancelClose()"></i>
							            			</div>
							            			<p style="text-align:center;">{{items.userName}}<span style="display:inline-block;height:20px;width:60px;background:#999;">{{items.realCertifyState}}</span></p>
													<p style="padding-left:10px;text-align:center;">{{items.organizationShortName}}</p>
					            			</li>
					            		</ul>
					            	</div>
									<!-- 存放讨论 -->
									<div class="rt_talk">
					            		<ul ng-repeat="lst in $ctrl.all_grounp">
					            			<li  class=" rtClose"style="dispaly:block;width:120px;height:140px; float:left;border:1px solid yellow;margin:5px ;" >
							            			<div  style="height:60px;width:120px; float:left;">
							            				<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-left:35px;margin-bottom:8px;">
							            					<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{lst.groupheadAdr}}" alt="">
							            				</div>
							            				<i  style="padding-left:-6px;"class="fa fa-times" aria-hidden="true" ng-click="$ctrl.cancelClose()"></i>
							            			</div>
							            			<p style="text-align:center;font-size:10px;">{{lst.groupGrpNm}}债券交易交流群</p>
													<p style="text-align:center;font-size:10px;">群成员：{{lst.groupaStaffTotNum}}人</p>
					            			</li>
					            			<!-- <li  class=" rtClose"style="dispaly:block;width:120px;height:140px; float:left;border:1px solid yellow;margin:5px ;">
							            			<div  style="height:60px;width:120px; float:left;">
							            				<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-left:35px;margin-bottom:8px;">
							            					<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{items.iconUrl}}" alt="">
							            				</div>
							            				<i  style="padding-left:-6px;"class="fa fa-times" aria-hidden="true" ng-click="$ctrl.cancelClose()"></i>
							            			</div>
							            			<p style="text-align:center;font-size:10px;">债券交易交流群</p>
													<p style="text-align:center;font-size:10px;">群成员：37人</p>
					            			</li> -->
					            		</ul>
					            	</div>
					            	<!-- 存放债券群 -->
					            	<!-- <div class="rt_ground">
					            		<ul>
					            			<li></li>
					            		</ul>
					            	</div> -->
	            			</div>
			            <div class="modal-footer ng-scope" style="height: 40px;position:absolute;left:300px;bottom:0px; border:none;"	>
				            <button  type="button" class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">发送</button>
				            <button type="button" class="btn " type="button" ng-click="$ctrl.ok()">取消</button>
				            
				        </div> 
	            	 <!-- 右侧节点 -->
	            </div>
	        </div>
	       
	     </div>
	 </div>

<!-- 第二次弹窗变动结束 -->
</div>













   
   