
    <div class="a-c-d">
    	<div class="_nav">
		    	<div class="title_lf"><span>{{$ctrl.list.bondShrtnm}}&nbsp;[ {{$ctrl.list.bondCd}}.{{$ctrl.nameAll}}]</span></div>


		    	<!-- <div class="title_co"><input type="checkbox">
					<label for=""> </label>
		    	</div> -->


		    	<div class="title_rt">
			    	<div class="title_rt_input" >
				    	
				    	<input type="text"  ng-model="$ctrl.searchBondBreedInfo.keyword" placeholder="输入债券代码或简称" ng-keyup="$ctrl.queryQuoteList()">
				    	<div id="box_search"  ng-if="$ctrl.dics==true">
				    		<ul >
				    			<li ng-repeat=" list in $ctrl.bads" ng-click='$ctrl.search(list)' >  {{list.name}}  </li>
				    		</ul>
				    	</div>

						<!--  <input type="text"  class="form-control"   ng-model="$ctrl.searchBondBreedInfo.keyword"
							      
							       (keyup)="$ctrl.search()"
							     >
							     <div   id="two" style="
							     width:240px;z-index:40;margin-left:48px;background:#ffffff;" ng-If="org_tags">
							     	<ul ng-repeat="let items of orc,let i = index;">
							     		<li (click)="seleced_fullName(i,items,bbbb)">{{items.organizationFullName}}</li>
							     	</ul>
							     </div>
							</div> -->












				    </div>
			    	<div class="title_rt_tub">

				    	<a class="cal"  href="javascript:;"    ng-click="$ctrl.openCalculator(item)">
				    	<!-- <img src="../../../../../../resource/images/btn_calculator2_normal.png" height="24" width="24" alt=""> -->
				    	</a>
				    	<a class="start" id="fa-heart-o"  ng-If="false">
				    	<!-- <img src="../../../../../../resource/images/btn_star2_normal.png" height="24" width="24" alt=""> -->
				    	</a>
			    	</div>
		    	</div>
    	</div>
    	<!-- 债券信息 -->
    	<div class="info" >
    		<div class="content">
    				<ul>
    				
    					<li><h5>剩余期限（年）：{{$ctrl.list.rsdtrm}}</h5></li>
    					<li>期限（年）：{{$ctrl.list.enterMaturity}}</li>
    					<li>发行规模（亿）：{{$ctrl.list.issueAmount}}</li>
    					<li>发行价格（元）：{{$ctrl.list.issuePrice}}</li>
    					<li>交易市场：{{$ctrl.list.marketType}}</li>
    					<li>主承销商：{{$ctrl.list.underwriterName}}</li>
    				</ul>
    		</div>
    		<div class="content">
    				<ul>
    					<li><h5>票面利率（%）：{{$ctrl.list.bondRate}}</h5></li>
    					<li>付息频率：{{$ctrl.list.payInterestRuleFreq}}</li>
    					<!-- 问题 -->
    					<li>是否城投债：{{$ctrl.list.isCityBond}}</li>
    					<li>距下一付息日：{{$ctrl.list.nextPayInterestDate}}</li>
    					<li>下一行权日：{{$ctrl.list.nextPerformDate}}</li>
    					
    				</ul>
    		</div>
    		<div class="content">
    				<ul>
    					<li><h5>债券类型：{{$ctrl.list.creditType}}</h5></li>
    					<li>利率类型：{{$ctrl.list.rateType}}</li>
    					<li>兑付方式：{{$ctrl.list.paymentMethod}}</li>
    					<li>票息品种：{{$ctrl.list.rateVariety}}</li>
    					<li>担保人：{{$ctrl.list.warrantorName}}</li>
    					<li>发行方式：{{$ctrl.list.issueType}}</li>
    				</ul>
    		</div>
    		<div class="content">
    				<ul>
    					<li><h5>上市日期：{{$ctrl.list.enterDate}}</h5></li>
    					<li>起息日期：{{$ctrl.list.valueDay}}</li>
    					<li>缴款日期：{{$ctrl.list.payDate}}</li>
    					<li>摘牌日期：{{$ctrl.list.DelistingDate}}</li>
    					<li>到期日期：{{$ctrl.list.maturedDay}}</li>
    					<!-- <li>主承销商：——</li> -->
    				</ul>
    		</div>
    	</div>
    	<!-- 发行人信息 -->
    <div class="selector">
    	<div class="selector_left">
    		<div class="header">发行人信息</div>
	    	<div class="main" >
	    		
	    		<div class="mainInfo">
	    			
	    			<ul  >
	    			   	<li><span style="font-size:16px;color:#ffeb62;">{{item.name}}</span></li>
	    			   	<li>证监会行业（门类）:{{$ctrl.info[0].csrcCategory}}</li>
	    				<li>最新信用评级：{{$ctrl.info[0].lastCreditRank}}</li>
	    				<li>设立日期：{{$ctrl.info[0].regDate}}</li>
	    				<li>是否上市公司：{{$ctrl.info[0].listed}}</li>
	    				<li>法人代表：{{$ctrl.info[0].contract}}</li>
	    				<li>公司网址：{{$ctrl.info[0].website}}</li>
	    				<li>电话：{{$ctrl.info[0].phone}}</li>
	    			</ul>
	    		</div>
	    		<div class="mainInfo" style="padding-left:0px;">
		    			<!-- <h4></h4> -->
		    			<ul>
		    				<li></li>
		    				<li>评级机构：{{$ctrl.info[0].creditInstitution}}</li>
		    				<li>证监会行业（大类）:{{$ctrl.info[0].csrcIndustry}}</li>
		    				<li>注册资本：{{$ctrl.info[0].money}}</li>
		    				<li>注册地址：{{$ctrl.info[0].address}}</li>
		    				<li>总经理：{{$ctrl.info[0].manager}}</li>
		    				<li>企业性质：{{$ctrl.info[0].nature}}</li>
		    				<!-- <li>电话：010-68306940</li> -->
		    			</ul>
		    	</div>
	    	</div>
			 <div class="clearfixed"></div>
    	<!-- 经营范围 -->
	    	<div id="business" >
	    		<div id="box" ng-init="is_show=0" >
	    		   <div class="newBox" >
		    		   <div class="newBox-left"><span >经营范围：</span></div>
		    		   <div class="newBox-right" >
		    		  <p ng-class="{'span_a':is_show==0, 'span_b':is_show==1}"> 
		    		  {{$ctrl.info[0].scope}}
		    		   <!-- 公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技、超越常规理念，力争提供行业内最优秀的信息技术服务公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技、超越常规理念，力争提供行业内最优秀的信息技术服务 -->
		    		   </p>
		    		    <!-- {{$ctrl.article_one_content}}  -->
		    		   <!-- </span> -->
						<p ng-If="$ctrl.jianjie" >
		    		   <a id="open" href="javascript:0;" ng-click="$ctrl.doCheck(0);is_show=1"   ng-show="is_show==0"  >全部展开</a>
		    		   <!-- ng-hide="$ctrl.target" -->
		    		   <a href="javascript:0;" ng-click="$ctrl.doCheck(0);is_show=0"  ng-show="is_show==1"     >收起</a>
		    		   </p>
		    		    <!-- ng-hide="!$ctrl.target" -->
		    		   </div>

		    		  
	    		   </div>

	    		 </div>

	    		<div id="box" class="box1" ng-init="is_show_one=0">
	    		   <div class="newBox" >
		    		   <div class="newBox-left"> <span>公司简介：</span></div>
		    		    <div class="newBox-right">
		    		    
						<p ng-class="{'span_c':is_show_one==0, 'span_d':is_show_one==1}"> 
						{{$ctrl.info[0].profile}}
		    		  <!--  公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技、超越常规理念，力争提供行业内最优秀的信息技术服务公司秉承“科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技、超越常规理念，力争提供行业内最优秀的信息技术服务 -->
		    		   </p>
		    		    <!-- {{$ctrl.article_one_content}}  -->
		    		   <!-- </span> -->
						<p ng-If="$ctrl.fanwei ">
		    		   <a id="open" href="javascript:0;" ng-click="$ctrl.doCheck(1);is_show_one=1"   ng-show="is_show_one==0"  >全部展开</a>
		    		   <!-- ng-hide="$ctrl.target" -->
		    		   <a href="javascript:0;" ng-click="$ctrl.doCheck(1);is_show_one=0"  ng-show="is_show_one==1"     >收起</a></p>



		    		    <!-- {{$ctrl.article_two}}  -->
		    		    
		    		  <!--  <span ng-show='$ctrl.target1'>
		    		   {{$ctrl.article_two_content}} 
			    		
			    		</span>
		    		   	<a id="open" href="javascript:0;" ng-click="$ctrl.doCheck1()"    >...全部展开</a>
			    		<a href="javascript:0;" ng-click="$ctrl.doCheck1()"  ng-show="$ctrl.target1" >收起</a> -->
			    		</div>
			    	</div>
	    		 </div>
	    	
	    	</div>
 		</div>
		 <div class="clearfixed"></div>
		<div class="selector_right">
			<div id="selector_right_height">
				<span>评价信息</span>
			</div>
   			 <div class="talk">
		    <main>
				<div class="scroll-body" slim-scroll>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>评级标准</td>
									<td>信用评级</td>
									<td>评级展望</td>
									<td>变动方向</td>
									<td>评级机构</td>
									<td>评级日期</td>
									
								</tr>
							</thead>
							<tbody ng-repeat="lis in $ctrl.creditInfo">
								<tr>
									<td>{{lis.creditStandard}}</td>
									<td>{{lis.creditRank}}</td>
									<td>{{lis.creditFuture}}</td>
									<td>{{lis.creditDirection}}</td>
									<td>{{lis.creditInstitution}}</td>
									<td>{{lis.creditRankDate}}</td>
								</tr> 
								<!-- <tr>
									<td>债项评级</td>
									<td>AA</td>
									<td>首次</td>
									<td>维持</td>
									<td>联合资信评估有限公司表格单元格</td>
									<td>2016-06-20</td>
								</tr> 
								<tr>
									<td>主体评级</td>
									<td>AA</td>
									<td></td>
									<td>首次</td>
									<td>联合资信评估有限公司表格单元格</td>
									<td>2016-06-20</td>
								</tr>  -->
							</tbody>
					 	</table>
					</div>
				</div>
			</main>
	    </div>
    	
    	</div>
	  </div>  	<!-- 评价信息 -->
	   
      
    
<!-- 第二次变动 -->
<!--  -->

 <!-- <div class="modal-dialog " style="height:600px;width:800px;background:#192D34; ">
     	<div class="modal-content"  style="height:580px;position:relative;background:#192D34;">
     		
	     		<div class="modal-header ng-scope" style="background:#2B414C;border-bottom:1px solid #2B414C;">
	            	<p class="modal-title" id="modal-title">选择联系人 
	            	<i  style="padding-left:670px;" aria-hidden="true" ng-click="$ctrl.closeDialog()">
	            		<img src="../../../../../../resource/images/btn_close02_gray.png" height="10" width="10" alt="">
	            	</i>
	            	</p>

	        	</div> -->

	        <!-- <div class="modal-body ng-scope" id="modal-body" style="height: 490px;width:798px;float:left;"> -->
	        	<!-- 左侧 -->
	           <!--  <div class="modal_lef" style="height: 490px;width: 282px; float:left;clear:both;">
		            <div style="height: 40px; width:100%;"> -->
		            <!-- #192D34 -->
		            	<!-- <div class="left_top" style="height: 30px; width:95%;border-radius:10px ;border:1px solid #666;background:#192D34;margin-left:6px;">
		            		<input type="text"  placeholder=" 搜索" ng-model='$ctrl.searchInfo.queryValue' 
								ng-change="$ctrl.searchAllGroup()" style="width:90%; height:28px;border-radius:10px;border:none;background:#192D34;">
								<i style="display:inline-block;height:20px;width:20px;position:absoluted;left:-4px;top:3px;">
		            					<img src="../../../../../../resource/images/icon_search.png" alt="">
		            			</i> -->
								<!-- style=" width:90%; height:30px;margin:5px 5px;background:green;" -->
		            	<!-- </div>
		            </div>
		         <div style="height: 475px;width: 282px; border:1px solid #666;overflow:auto;background:#2B414C;">
	            	<div class="left_content" style="height: 350px; width:100%;" >

	            		<ul>
	            			<li  >
		            				<div style="display:block; height:30px;width:100%;line-height:30px;background:#2A3E49;padding-left:10px; float:left; ">
			            				<span style="display:block; height:30px;width:200px;line-height:30px; float:left;">我的好友({{ $ctrl.friendLists.length}})</span>
			            				<span style="display:block; height:30px;width:30px;line-height:30px;text-align:center;float:right ">
			            				<i       aria-hidden="true"  ng-show="$ctrl.tag"  ng-click="$ctrl.fridentShow()" >
			            					<img src="../../../../../../resource/images/btn_arrow_unfold.png" alt="">
			            				</i>
			            				
			            				<i  aria-hidden="true" ng-show="!$ctrl.tag" ng-click="$ctrl.fridentShow()">
			            					<img src="../../../../../../resource/images/btn_arrow_packup.png" alt="">
			            				</i>
			            				</span>		
				            		</div>
									<div class="friends" id="frds" style="width:100%;display:none; overflow-y:auto;" >
										<ul class="checkBody" style="width:100%;" ng-repeat="ls in $ctrl.friendLists" >


											<li style=" display:block;height:60px;width:100%; border-bottom:1px solid #666;padding-left: 8px; ">
												<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-top:5px;">
													<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{ls.iconUrl}}" alt="">
												</div>
												<div class="name" style="height:50px;width:190px; float:left;padding-left:10px;">
													<p>{{ls.userName}} <span style="display:inline-block;height:20px;width:60px;background:#666;">{{ls.realCertifyState}}</span></p>
													<p style="font-size:10px;">{{ls.organizationShortName}}{{ls.position}}</p>
												</div>
												<div style="height:50px;width:15px;line-height:50px; float:left;"> <input type="checkbox" ng-click="$ctrl.checked()" ></div>
												
											</li>
											
										</ul>
									</div>

	            			</li>
	            			<li> -->
			            			<!-- <div style="display:block; height:30px;width:100%;line-height:30px;background:#2A3E49;padding-left:10px;float:left;">	
				            			<span style="display:block; height:30px;width:200px;line-height:30px; float:left;">我的群组({{ $ctrl.grouplists.length}})
				            			</span>
				            			<span style="display:block; height:30px;width:30px;line-height:30px;text-align:center;float:right "> -->
				            			<!-- style="padding-left:152px;" -->
				            					<!-- <i  aria-hidden="true"   ng-show="$ctrl.group"  ng-click="$ctrl.groupShow()">
				            						<img src="../../../../../../resource/images/btn_arrow_unfold.png" alt="">
				            					</i>
						            			<i  aria-hidden="true" ng-show="!$ctrl.group" ng-click="$ctrl.groupShow()">
						            				<img src="../../../../../../resource/images/btn_arrow_packup.png" alt="">
						            			</i> -->
						            			 <!-- style="padding-left:150px;" -->
						            	<!-- </span>
					            	</div>

			            			<div class="groupAll" style="display:none;clear:both;">
			            				<ul style="" class="checkAll_group_body"   ng-repeat="its in $ctrl.grouplists">
											<li style=" display:block;height:60px;width:100%; border-bottom:1px solid #666;padding-left: 8px; ">
													<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-top:5px;">
														<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{its.groupheadAdr}}" alt="">
													</div>
													<div class="name" style="height:50px;width:190px; float:left;padding-left:10px;">
														<p>{{its.groupGrpNm}}</p>
														<p style="font-size:10px;">群成员:({{its.groupaStaffTotNum}})人</p>
													</div>
													<div style="height:50px;width:15px;line-height:50px; float:left;"> <input type="checkbox"  name="user" class="checkBox"  ng-click="$ctrl.groupChecked()"></div>
													 
													
											</li>
			            					
			            				</ul>
	            				</div>
	            			</li>
	            		</ul>
	            	</div>
	            </div>
	            </div> -->
	            <!-- 右侧 -->
	           <!--  <div class="modal_rt" style="height: 440px;width: 500px; float:left;margin-left:8px;background:#2B414C;">
	            	
			            	<div class="left_top" style="height: 40px; width:100%;padding-top:8px;background:#192D34;">
			            		<p style="text-align:center;">已选择<span  style="color:#439ec9;">{{$ctrl.alls.length}}</span>用户,<span style="color:#439ec9;">{{$ctrl.all_grounp.length}}</span>个群</p> 
			            	</div>
			            	<div class="content_main" style="height: 400px;width: 100%; border:1px solid #6666;overflow:auto;"> -->
								<!-- 存放好友 -->
					            	<!-- <div class="rt_frident">

					            		<ul  ng-repeat="items in $ctrl.alls">
					            			<li  class=" fdrtClose"  style="dispaly:block;width:120px;height:140px; float:left;border:1px solid yellow;margin:5px ;">
							            			<div  style="height:60px;width:120px; float:left;">
							            				<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-left:35px;margin-bottom:8px;">
							            					<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{items.iconUrl}}" alt="">
							            				</div>
							            				<i  style="padding-left:-6px;" aria-hidden="true" ng-click="$ctrl.fdClose(items.oppositeUserId)">
							            					<img src="../../../../../../resource/images/btn_delete_normal.png" height="12" width="12" alt="">
							            				</i>
							            			</div>
							            			<p style="text-align:center;">{{items.userName}}<span style="display:inline-block;height:20px;width:60px;background:#999;">{{items.realCertifyState}}</span></p>
													<p style="padding-left:10px;text-align:center;">{{items.organizationShortName}}</p>
					            			</li>
					            		</ul>
					            	</div> -->
									<!-- 存放讨论 -->
									<!-- <div class="rt_talk">
					            		<ul ng-repeat="lst in $ctrl.all_grounp">
					            			<li  class=" rtClose"style="dispaly:block;width:120px;height:140px; float:left;border:1px solid yellow;margin:5px ;" >
							            			<div  style="height:60px;width:120px; float:left;">
							            				<div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-left:35px;margin-bottom:8px;">
							            					<img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;" src="{{lst.groupheadAdr}}" alt="">
							            				</div>
							            				<i  style="padding-left:-6px;" aria-hidden="true" ng-click="$ctrl.cancelClose(lst.groupGrpid)">
							            					<img src="../../../../../../resource/images/btn_delete_normal.png" height="12" width="12" alt="">
							            				</i>
							            			</div>
							            			<p style="text-align:center;font-size:12px;color:#fff;">{{lst.groupGrpNm}}债券交易交流群</p>
													<p style="text-align:center;font-size:12px;color:#a3c8d9;">群成员：{{lst.groupaStaffTotNum}}人</p>
					            			</li>
					            			
					            		</ul>
					            	</div> -->
					            	<!-- 存放债券群 -->
					            	<!-- <div class="rt_ground">
					            		<ul>
					            			<li></li>
					            		</ul>
					            	</div> -->
	            			<!-- </div>
			            <div class="modal-footer ng-scope" style="height: 30px;width:200px;position:absolute;left:380px;bottom:0px; border:none;"	>
				            <button  type="button" class="btn btn-primary" type="button" ng-click="$ctrl.sendOffer()">发送</button>
				            <button type="button" class="btn " type="button" ng-click="$ctrl.ok()">取消</button>
				            
				        </div>  -->
	            	 <!-- 右侧节点 -->
	           <!--  </div>
	        </div>
	       
	     </div>
	 </div> -->
<div class="clear" style="clear:both;"></div>
<!-- 第二次弹窗变动结束 -->
</div>



<script type="text/ng-template" id="customTemplate.html">
    <a data-id="{{match.model.bondid}}">
        <span>{{match.model.bondCd}}</span>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
       
    </a>
</script>










   
   