<div class="newdebtdialog ">
    <!-- <div class="modal-wfcontent"  > -->
    <div class="modal-header ng-scope">
        <p class="modal-title newdebtdialog-title">提示
            <span class="cancal-right" style="width: 40px" ng-click="$ctrl.close()">关闭</span>
        </p>
    </div>
    <div class="modal-body ng-scope addApp">
        <p class="text-center">
            请选择身份进入:
        </p>
        <div class="row">
            <div class="col-xs-6">
                <div class="nameLogo" ng-class="{'userLoginBorder': $ctrl.me}">
                    <p>
                        <a ng-click="$ctrl.meClick()">
                            <img ng-src="{{$ctrl.iconUrl}}" width="50" height="50"/>
                        </a>
                    </p>
                    <p>{{$ctrl.username!=null?$ctrl.username:"(未实名认证)"}}</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="nameLogo" ng-class="{'userLoginBorder': $ctrl.under}">
                    <p>
                        <a ng-click="$ctrl.undefinedClick()">
                            <img ng-src="../../../../../../resource/images/ico_yk.png" width="50" height="50"/>
                        </a>
                    </p>
                    <p>游客</p>
                </div>
            </div>
            <p class="text-center">
                <button ng-click="$ctrl.goClassRoom()" class="btn btn-default" style="padding: 6px 70px; background: #ff9000; color: #fff; border: none;">确定</button>
            </p>
            <p class="text-center" style="color: #777"><i class="fa fa-lightbulb-o"></i> 小提醒: 选择游客进入可隐藏个人身份哦</p>
            <p class="text-center userLogoChecked" ng-bind-html="$ctrl.message"></p>
        </div>

    </div>
</div>