pub-report-dialog {
	display:block;
	font-size:.12rem;
	color: $textF;
	background:#233840;
	div.modal-body{
		table.table{
			margin-bottom:0;
			border:0;
			tr{
				td{
					width:.4rem;
					padding:0;
					border:0;
					input{
						width:100%;
						text-align:center;
						border:none;
						@include radius();
						background-color:$bgDefaultDark;
					}
				}
				td.td-label{
					text-align:right;
					padding-right:.06rem;
					&.label-am,&.label-mm{
						width:.2rem;
					}
				}
				td.all-multiply{
					width:.3rem;
				}
				td.marginal-multiply{
					width:.3rem;
				}
				td.marginal-yield{
					width:.3rem;
				}
				td.tender-end-time{
					width:1.6rem;
				}
			}
		}
	}
	div.modal-footer#pubreportdialogfooter{
		height:.6rem;
		button{
			position:absolute;
			left:50%;
			width:1.24rem;
			margin-left:-.62rem;
		}
	}
}
