<div class="addApp">
    <div class="col-xs-12" style="padding: 0; margin-left: 5px;">
        <form name="addApplicationForm">
            <table width="100%">
                <tr>
                    <th>申购人</th>
                    <th>利率(%)</th>
                    <th>申购量(亿)</th>
                    <th>交割方式</th>
                    <th>销售方式</th>
                    <th>备注</th>
                </tr>
                <tr ng-repeat="item in $ctrl.addItems track by $index" ng-class='{clicked: $index==$ctrl.trClicked}'
                    ng-click="$ctrl.trClick($index)">
                    <td>
                        <!--<input type="text" name="" ng-focus="$ctrl.searchUser()" ng-blur="$ctrl.hideUser()"-->
                        <!--ng-model="item.userNm" class="appUser" required/>-->
                        <!--<ul class="selectUser" ng-show="$ctrl.showUserList">-->
                        <!--<li ng-repeat="item in $ctrl.applicationUser"-->
                        <!--ng-click="$ctrl.addAppUser(item.instNm, item.teamNm, item.userNm, item.userId, item.teamId, item.instId)">-->
                        <!--{{item.instNm + "-" + item.teamNm + "-" + item.userNm}}-->
                        <!--</li>-->
                        <!--</ul>-->
                        <select class="appUser" ng-model="item.userNm" ng-change="$ctrl.addAppUser(item.userNm)">
                            <option ng-repeat="item in $ctrl.applicationUser track by $index"
                                    value="{{item.instId+'-'+item.teamId+'-'+item.userId}}">
                                {{item.instNm+'-'+item.teamNm+'-'+item.userNm}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="sbrbIntrt" ng-model="item.sbrbIntrt" required/>
                    </td>
                    <td>
                        <input type="text" name="sbrbNum" ng-model="item.sbrbNum" required/>
                    </td>
                    <td>
                        <select ng-model="item.dlvTp" name="dlvTp">
                            <option value="1">上市</option>
                            <option value="2">分销</option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="item.sellrMod" name="sellrMod">
                            <option value="1">折价</option>
                            <option value="2">单返</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="rmrk" ng-model="item.rmrk" class="appUser" required/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-xs-6">
        <a class="applicationColor" ng-click="$ctrl.copyPlace()"><i class="fa fa-copy"></i> 复制标位</a>
        <a class="applicationColor" ng-click="$ctrl.addPlace()"><i class="fa fa-plus-circle"></i> 添加标位</a>
    </div>
    <div class="col-xs-6 text-right">
        <a class="applicationColor" ng-click="$ctrl.submitAdd()"><i class="fa fa-check-square"></i> 确定</a>
        <a class="applicationColor" ng-click="$ctrl.clearAdd();"><i class="fa fa-trash"></i> 清空</a>
        <a class="applicationColor" ng-click="$ctrl.cancelAdd()"><i class="fa fa-times"></i> 取消</a>
    </div>
    <p class="text-danger">{{$ctrl.message}}</p>
</div>

