<div class="addApp">
  <form name="addApplicationForm" ng-submit="$ctrl.submitAdd()">
    <div class="col-xs-12" style="padding: 0;">

      <table width="100%">
        <tr>
          <th width="30"></th>
          <th style="text-align: left;">联系人</th>
          <th>票面利率(%)</th>
          <th>综收利率(%)</th>
          <th>返费(元)</th>
          <th>申购量(亿)</th>
          <th>交割方式</th>
          <th>销售方式</th>
          <th>申购状态</th>
          <th>申购渠道</th>
          <th>申购时间</th>
          <th>备注</th>
          <th></th>
        </tr>
        <tr ng-repeat="item in $ctrl.addItems track by $index" ng-class='{clicked: $index==$ctrl.trClicked}'
            ng-click="$ctrl.trClick($index)">
          <td width="30"></td>
          <!--联系人-->
          <td>
            <input type="text"
                   placeholder="请输入联系人"
                   ng-model="item.name"
                   uib-typeahead="list as list.name for list in $ctrl.getUserList($viewValue)"
                   typeahead-template-url="add-user-list.html"
                   typeahead-show-hint="false"
                   style="width: 150px"
                   validation-tooltip="$ctrl.userValidate($value, $index)"
            >
          </td>
          <!--票面利率-->
          <td width="8%">
            <input type="text" name="sbrbIntrt" ng-model="item.sbrbIntrt"
                   validation-tooltip="$ctrl.sbrbIntrtValidate($value)" ng-disabled="item.sellrMod==1"
                   ng-change="$ctrl.cprInt(item)"
            />
          </td>
          <td width="8%">
            <input type="text" name="cprsvPftIntrt" ng-model="item.cprsvPftIntrt"
                   validation-tooltip="$ctrl.cprsvPftIntrtValidate($value)" ng-disabled="item.sellrMod==2"
                   ng-change="$ctrl.clcInt(item)"
            />
          </td>
          <td width="8%">
            <input type="text" name="retFee" ng-model="item.retFee" validation-tooltip="$ctrl.retFeeValidate($value)"/>
          </td>
          <!--申购量-->
          <td width="8%">
            <input type="text" name="sbrbNum" ng-model="item.sbrbNum"
                   validation-tooltip="$ctrl.sbrbNumValidate($value)"/>
          </td>
          <td width="8%">
            <select ng-model="item.dlvTp" name="dlvTp">
              <option value="1">上市</option>
              <option value="2">分销</option>
            </select>
          </td>
          <td width="8%">
            <select ng-model="item.sellrMod" name="sellrMod" ng-change="$ctrl.intrtChange()">
              <option value="1">折价</option>
              <option value="2">单返</option>
            </select>
          </td>
          <td width="8%">
            <span ng-if="item.sbrbChnl == '1'">未发送</span>
            <span ng-if="item.sbrbChnl == '4'">已读</span>
          </td>
          <td width="8%">
            <select ng-model="item.sbrbChnl">
              <option value="1">平台</option>
              <option value="4">录入</option>
            </select>
          </td>
          <td  width="8%">

          </td>
          <td  width="10%">
            <input type="text" name="rmrk" ng-model="item.rmrk" style="width: 80px"/>
          </td>
          <td width="5%">
            <div class="col-xs-6">
              <a class="btn btn-default btn-xs"
                 ng-if="item.sndrSbrbEStatus == '5' || item.sndrSbrbEStatus == '8' || (item.sbrbChnl == 4 && item.sndrSbrbEStatus == '4')"
                 ng-click="$ctrl.delApp(item.sbrbId)">删</a>
            </div>
            <div class="col-xs-6">

            </div>
          </td>
        </tr>
      </table>

    </div>
    <div class="col-xs-6">
      <a class="applicationColor" ng-click="$ctrl.copyPlace()"><i class="fa fa-copy"></i> 复制标位</a>
      <a class="applicationColor" ng-click="$ctrl.addPlace()"><i class="fa fa-plus-circle"></i> 添加标位</a>
    </div>
    <div class="col-xs-6 text-right">
      <button style="background: none; border: none;" type="submit" class="applicationColor"><i
        class="fa fa-check-square"></i> 确定
      </button>
      <a class="applicationColor" ng-click="$ctrl.clearAdd();"><i class="fa fa-trash"></i> 清空</a>
      <a class="applicationColor" ng-click="$ctrl.cancelAdd()"><i class="fa fa-times"></i> 取消</a>
    </div>
    <p class="text-danger">{{$ctrl.message}}</p>
  </form>
</div>

