@import '../../css/common';

.pagetab {
	height:$headerH/2;
	line-height:$headerH/2;
	display:block;
	color:$defaultTextLight;
	ul.nav.nav-tabs{
		border-bottom:.1px solid #1c2b36;
		>li{
			>a{
				padding:.02rem .15rem;
			}
			>a:hover{
				border-color: #eee #eee $defaultBgLight;
			}
		}
		>li.active{
			a,a:focus,a:hover{
				background-color:$defaultBgLight;
			}
		}
	}
}
