@import '../../css/common';

.pagetab {
	height:2.4rem;
	line-height:2.4rem;
	display:block;
	color:$defaultTextLight;
	ul.nav.nav-tabs{
		>li{
			>a{
				padding:.3rem 1.5rem;
			}
			>a:hover{
				border-color: #eee #eee $defaultBgLight;
			}
		}
		>li.active{
			a,a:focus,a:hover{
				background-color:$defaultBgLight;
			}
		}
	}
}
