@import '../../common/css/common';

*{
	margin:0;
	padding:0;
}
.pageheader,.pagepanel,.pagefooter{
	position:absolute;
	left:0;right:0;
}
.pageheader{
	top:0;
}
.pagepanel{
	top:4.8rem;
	bottom:2rem;
}
.pagefooter{
	bottom:0;
}