<div id="capitalQuotation">
	<header id="condition"  ng-hide='$root.$state.includes("home.capitalQuotation.*.create")' >
		<ul class="head" >
			<li>
				<a ui-sref="home.capitalQuotation.onLineBond" ui-sref-active="actived">线上资金</a>
			</li>
			<li>
				<a ui-sref="home.capitalQuotation.lineDownQuotation" ui-sref-active="actived">线下资金</a>
			</li>
			<li>
				<a ng-class='{actived:$root.$state.includes("home.capitalQuotation.mineQuotation")}' ng-click='tolist()' >我的报价</a>
			</li>
			<li class="willBond">
				<a class="willBond actived" ng-click='towillbond()' >我要报价</a>
			</li>
		</ul>
	</header>
	<div id="list" >
		<div ui-view="list" class="list"></div>
	</div>
</div>

