
capital-quotation {
	height:100%;
	color: $textD;
	.btn,.btn:hover,.btn.focus,.btn.active,.btn.visited,.btn:focus{
		// background-color:$bgDefaultLightC;
		outline: none;
		color:$textD;
		border:none;
		padding: 0 0.1rem;
	}
	.btn-default,.btn-default:hover,.btn-default.focus,.btn-default.active,.btn-default.visited,.btn-default:visited{
		background-color:$bgDefaultLightC;
		color:$textD;
		border:none;
	}
	.btn-default.active{
		background: $btnPrimary;
	}
	.btn-primary,.btn-primary:hover,.btn-primary.focus,.btn-primary.active,.btn-primary.visited,.btn-primary:visited{
		background-color:$btnPrimary;
		border:none;
	}
	.o-v-a{
		margin:0.05rem;
		#capitalQuotation{
			header#condition{

				height: .32rem;
				padding: 0  0.2rem;
				background:url(../../../../../resource/images/img_bg_title.png)  center;
				ul.head{
					li{
						display: inline-block;
						margin-top: 0.06rem;
						height: 0.2rem;
						width:0.9rem;
						margin-right: 0.1rem;
						border-radius: 0.2rem;
						text-align:center;
						a{
							color: $textD;
							display: inline-block;
							width:0.9rem;
							height:0.2rem;
							text-decoration: none;
						}
						a.active{
							background:$btnPrimary;
						}
					}
					li.bond{
						border-radius: 0.04rem;
					}
				}
			}
			#list{
				.list{
					height:100%;
				}
			}
		}
	}
}
