<div class="o-v-a">
	<h1>{{$ctrl.name}}</h1>
	<md-button class="md-primary md-raised" ng-click="$ctrl.showGridBottomSheet()">BottomSheet</md-button>
	<md-content>
		<md-autocomplete
			ng-disabled="$ctrl.isDisabled" 
			md-no-cache="$ctrl.noCache" 
			md-selected-item="$ctrl.selectedItem" 
			md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)" 
			md-search-text="$ctrl.searchText" 
			md-selected-item-change="$ctrl.selectedItemChange(item)" 
			md-items="item in $ctrl.querySearch($ctrl.searchText)" 
			md-item-text="item.display" 
			md-min-length="0" 
			placeholder="……">
			<md-item-template>
				<span 
					md-highlight-text="$ctrl.searchText"
					md-highlight-flags="^i">
					{{item.display}}
				</span>
			</md-item-template>
			<md-not-found>
				"{{$ctrl.searchText}}" 未找到
				<a ng-click="$ctrl.newState($ctrl.searchText)">Create a new one!</a>
			</md-not-found>
		</md-autocomplete>
		<br/>
		<md-checkbox ng-model="$ctrl.simulateQuery">伪装查询</md-checkbox>
		<md-checkbox ng-model="$ctrl.noCache">缓存</md-checkbox>
		<md-checkbox ng-model="$ctrl.isDisabled">禁用</md-checkbox>
	</md-content>
	<md-content>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button>{{title}}</md-button>
			<md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
			<md-button ng-disabled="true" class="md-primary">Disabled</md-button>
			<md-button class="md-warn">{{title4}}</md-button>
			<div class="label">Flat</div>
		</section>

		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-raised">Button</md-button>
			<md-button class="md-raised md-primary">Primary</md-button>
			<md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
			<md-button class="md-raised md-warn">Warn</md-button>
			<div class="label">Raised</div>
		</section>

		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-fab" aria-label="Eat cake">
				<i class="fa fa-cog fa-lg"></i>
			</md-button>

			<md-button class="md-fab md-primary" aria-label="Use Android">
				<i class="fa fa-cog fa-lg"></i>
			</md-button>

			<md-button class="md-fab" ng-disabled="true" aria-label="Comment">
					<i class="fa fa-cog fa-lg"></i>
			</md-button>

			<md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
					<i class="fa fa-cog fa-lg"></i>
			</md-button>

			<md-button class="md-fab md-mini" aria-label="Eat cake">
					<i class="fa fa-cog fa-lg"></i>
			</md-button>

			<md-button class="md-fab md-mini md-primary" aria-label="Use Android">
				<i class="fa fa-cog fa-lg" style="color:red;"></i>
			</md-button>
			<div class="label">FAB</div>
		</section>

		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button ng-href="{{googleUrl}}" target="_blank">Default Link</md-button>
				<md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Primary Link</md-button>

				<md-button>Default Button</md-button>
			<div class="label">Link vs. Button</div>
		</section>

		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
			<md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
			<md-button class="md-accent">Accent</md-button>
			<md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
			<div class="label">Themed</div>
		</section>

		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-icon-button md-primary" aria-label="Settings">
				<i class="fa fa-cog fa-lg"></i>
			</md-button>
			<md-button class="md-icon-button md-accent" aria-label="Favorite">
				<i class="fa fa-cog fa-lg"></i>
			</md-button>
			<md-button class="md-icon-button" aria-label="More">
				<i class="fa fa-cog fa-lg"></i>
			</md-button>
			<md-button href="http://baidu.com" title="Launch Google.com in new window" target="_blank" ng-disabled="true" aria-label="Google.com" class="md-icon-button launch" >
				<i class="fa fa-cog fa-lg"></i>
			</md-button>
			<div class="label">Icon Button</div>
		</section>
	</md-content>
</div>