<!-- 第二次变动 -->
<div class="friends-modal">
    <div class="modal-header ng-scope" style="background:#2B414C;border-bottom:1px solid #2B414C;width:100%">
        <p class="modal-title" id="modal-title" style="font-size:12px;display:block;height:20px;width:676px;float:left;color:#fff;">
            <span>
                选择联系人
            </span>
        </p>
        <i id="close_11" style="display:block;height:20px;width:20px;margin-right:10px;float:right;text-align:center;"
        aria-hidden="true" ng-click="$ctrl.closeDialog()"></i>
    </div>
    <div class="modal-body">
        <!-- 左侧 -->
        <div class="pull-left friends-modal-leftbox">
            <div style="height: 40px;">
                <!-- #192D34 -->
                <div class="left_top" style="height: 30px; width:95%;border-radius:10px ;border:1px solid #666;background:#192D34;">
                    <input type="text" placeholder=" 搜索" ng-model='$ctrl.searchInfo.queryValue'
                    ng-change="$ctrl.searchAllGroup()" style="width:90%; height:28px;border-radius:10px;border:none;background:#192D34;color:#a3c8d9;">
                    <i style="display:inline-block;height:20px;width:20px;position:absoluted;left:-4px;top:3px;">
                        <img src="../../../../resource/images/icon_search.png" alt="">
                    </i>
                </div>
            </div>
            <div class="friends-modal-list">
                <ul>
                    <li>
                        <div style="display:block; height:30px; line-height:30px;background:#2A3E49;padding-left:10px;color:#fff;"
                         ng-click="is_showFriends=!is_showFriends">
                            <span class="pull-left">
                                我的好友({{ $ctrl.friendLists.length}})
                            </span>
                            <span style="width:30px;text-align:center;float:right ">
                                <i aria-hidden="true">
                                    <img ng-if="!is_showFriends" src="../../../../resource/images/btn_arrow_unfold.png" alt="">
                                    <img ng-if="is_showFriends" src="../../../../resource/images/btn_arrow_packup.png" alt="">
                                </i>
                            </span>
                        </div>
                        <div class="friends" ng-show="is_showFriends" style="width:100%; overflow-y:auto;">
                            <ul class="checkBody">
                                <li ng-repeat="ls in $ctrl.friendLists" style="height:60px; border-bottom:1px solid #666;padding-left: 8px;"
                                ng-click="ls.is_seleced=!ls.is_seleced;$ctrl.countByFriend()">
                                    <div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-top:5px;">
                                        <img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;"
                                        ng-src="{{ls.iconUrl}}" alt="">
                                    </div>
                                    <div class="name" style="height:50px;width:190px; float:left;padding-left:10px;color:#fff;">
                                        <p>
                                            {{ls.userName}}
                                            <span style="display:inline-block;height:20px;width:34px;text-align:center;">
                                                <img src="../../../../resource/images/icon_realname.png" height="16" width="18"
                                                alt="">
                                            </span>
                                        </p>
                                        <p style="font-size:12px;color:#a3c8d9;word-break:break-all;text-overflow:ellipsis;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;  ">
                                            {{ls.organizationShortName}}{{ls.position}}
                                        </p>
                                    </div>
                                    <div style="height:50px;width:15px;line-height:50px; float:left;">
                                        <input type="checkbox" ng-checked="ls.is_seleced==true">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="height:30px;line-height:30px;background:#2A3E49;padding-left:10px;"
                         ng-click="is_showGroups=!is_showGroups">
                            <span style="height:30px;line-height:30px;color:#fff; float:left;">
                                我的群组({{ $ctrl.grouplists.length}})
                            </span>
                            <span style="display:block; height:30px;width:30px;line-height:30px;text-align:center;float:right ">
                                <i aria-hidden="true">
                                    <img ng-if="!is_showGroups" src="../../../../resource/images/btn_arrow_unfold.png" alt="">
                                    <img ng-if="is_showGroups" src="../../../../resource/images/btn_arrow_packup.png" alt="">
                                </i>
                            </span>
                            <span class="clear"></span>
                        </div>
                        <div class="groupAll" style="clear:both;">
                            <ul style="" class="checkAll_group_body" ng-show="is_showGroups">
                                <li ng-repeat="its in $ctrl.grouplists" 
                                ng-click="its.is_seleced=!its.is_seleced;$ctrl.countByGroup()"
                                style=" display:block;height:60px;width:100%; border-bottom:1px solid #666;padding-left: 8px; ">
                                    <div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-top:5px;">
                                        <img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;"
                                        ng-src="{{its.groupheadAdr}}" alt="">
                                    </div>
                                    <div class="name" style="height:50px;width:190px; float:left;padding-left:10px;color:#fff;">
                                        <p style="word-break:break-all;
                                        text-overflow:ellipsis;
                                        display: -webkit-box; 
                                        -webkit-box-orient: vertical; 
                                        -webkit-line-clamp: 1; 
                                        overflow: hidden;  ">
                                            {{its.groupGrpNm}}
                                        </p>
                                        <p style="font-size:12px;color:#a3c8d9; ">
                                            群成员:({{its.groupaStaffTotNum}})人
                                        </p>
                                    </div>
                                    <div style="height:50px;width:15px;line-height:50px; float:left;">
                                        <input type="checkbox" name="user" class="checkBox" ng-checked="its.is_seleced">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="pull-right friends-modal-selecteds">
            <div class="left_top" style="height: 40px; width:100%;padding-top:8px;background:#192D34;">
                <p style="text-align:center;font-size:16px;color:#b8d1dd;">
                    已选择
                    <span style="font-size:16px;color:#439ec9;">
                        {{$ctrl.count_friend}}
                    </span>
                    用户,
                    <span style="font-size:16px;color:#439ec9;">
                        {{$ctrl.count_group}}
                    </span>
                    个群
                </p>
            </div>
            <div class="friends-modal-selecteds-main">
                <!-- 存放好友 -->
                <div class="rt_frident">
                    <ul ng-repeat="firend in $ctrl.friendLists|filter:{is_seleced:true}">
                        <li class=" fdrtClose" style="dispaly:block;width:120px;height:140px; float:left;margin:5px ;">
                            <div class="img" style="height:60px;width:120px; float:left;color:#fff;">
                                <div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-left:35px;margin-bottom:8px;">
                                    <img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;"
                                    ng-src="{{firend.iconUrl}}" alt="">
                                </div>
                                <i class="friends-modal-close-btn" style=" display:block;height: 12px;width: 12px;float:left;margin-left:-6px;"
                                aria-hidden="true" ng-click="firend.is_seleced=false">
                                </i>
                            </div>
                            <p style="text-align:center;color:#fff;">
                                {{firend.userName}}
                                <span style="display:inline-block;height:20px;width:34px;text-align:center;">
                                    <img src="../../../../resource/images/icon_realname.png" height="16" width="18"
                                    alt="">
                                </span>
                            </p>
                            <p style="padding-left:10px;text-align:center;font-size:12px;color:#a3c8d9;">
                                {{firend.organizationShortName}}
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- 存放讨论 -->
                <div class="rt_talk">
                    <ul ng-repeat="lst in $ctrl.grouplists|filter:{is_seleced:true}">
                        <li class=" rtClose" style="dispaly:block;width:120px;height:140px; float:left;margin:5px ;">
                            <div style="height:60px;width:120px; float:left;">
                                <div class="headportrait" style="height:50px;width:50px;background:green; float:left;border-radius:25px;margin-left:35px;margin-bottom:8px;">
                                    <img style=" display:block;width:100%; height: 100%;overflow:hidden;border-radius:50%;"
                                    ng-src="{{lst.groupheadAdr}}" alt="">
                                </div>
                                <i id="img" style="display:block;height: 13px;width: 13px;float:left;margin-left:-6px;"
                                aria-hidden="true" ng-click="lst.is_seleced=false">
                                </i>
                            </div>
                            <p style="text-align:center;font-size:12px;color:#fff;">
                                {{lst.groupGrpNm}}
                            </p>
                            <p style="text-align:center;font-size:12px;color:#a3c8d9;">
                                群成员：{{lst.groupaStaffTotNum}}人
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" type="button" ng-click="$ctrl.closeDialog()">
                    取消
                </button>
                <button type="button" class="btn btn-primary" type="button" ng-click="$ctrl.sendOffer()">
                    发送
                </button>
            </div>
            <!-- 右侧节点 -->
        </div>
    </div>
    <div class="clear"></div>
    <!-- 第二次弹窗变动结束 -->
</div>