@import "../common";

pageheader{
	background-color: $defaultBgDark;
	height:4.8rem;
	display:block;
}

div#altarea{
	.leftblock,.rightblock{
		height:2.4rem;
		line-height:2.4rem;
		color:$defaultTextLight;
	}
	.leftblock{
		float:left;
	}
	.rightblock{
		float:right;
	}
	#nav{
		width: 30rem;
	}
}