@import "common/css/common";
.app {
	color:$textDefault;
	background-color: $bgDefaultLightA;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	font-size:.14rem;
	>div[ui-view]{
		height:100%;
	}
}
button:focus {outline:0;}
::selection {
	background:#c30e2e; 
	color:#eee;
}
::-moz-selection {
	background:#c30e2e; 
	color:#eee;
}
::-webkit-selection {
	background:#c30e2e; 
	color:#eee;
}
a,a:active,a:hover{
	color:#337ab7;
	text-decoration: none;
	cursor: pointer;
}
