// @import url(http://fonts.googleapis.com/css?family=Roboto);

//字体颜色
$textA:#fff6bf;
$textB:#b8d1dd;
$textC:#e6dea8;
$textD:#ffffff;
$textE:#667882;
$textF:#a3c8d9;
$textG:#ffeb62;
$textH:#1ba1ff;
$textI:#ff1f64;
$textJ:$textD;
$textK:#6b838e;
$textL:$textG;
$textM:#ff671b;
$textN:$textG;
$textDefault:$textB;
$textFrameActive:$textA;
$textHighlight:$textG;

//背景色
$bgGold:#997E51;
$bgDefaultLightC:#677983;
$bgDefaultLightB:#3a5664;
$bgDefaultLightA:#2d424c;
$bgDefault:#243941;
$bgDefaultDark:#1b2f37;
$bgDefaultDarkA:#192d35;
/* $bgDefaultDark:#192d35; */
$bgDefaultDarkB:#15272e;
/* $bgDefaultDark:#13242b; */
$bgDefaultDarkC:#111f25;

//按钮
$btnPrimary:$textM;

//border
$borderDefault:#36474f;

$primaryText:#3caa9e;
$successText:#90b901;
$warnText:#e1bd2c;
$dangerText:#ea6969;

$primaryBg:#209e91;
$successBg:#90b901;
$warnBg:#dfb81c;
$dangerBg:#e85656;

$navH:.4rem;
$tabH:.32rem;
$headerH:$navH+$tabH;
$footerH:.3rem;
$tipsH:.32rem; 

@mixin radius($rd:.04rem) {
	border-radius: $rd;
	-moz-border-radius: $rd;
	-webkit-border-radius: $rd;
}
@mixin mixheight($h){
	height:$h;
	line-height:$h;
}
@mixin absolutePos($t,$r,$b,$l){
	display:block;
	position:absolute;
	top:$t;
	bottom:$b;
	left:$l;
	right:$r;
}
@mixin background($url,$color,$size){
	background-image:url($url);
	background-color:$color;
	background-size:$size;
	background-repeat: no-repeat;
	background-position: center;
}
@mixin ellipsis{
	word-break:keep-all;/* 不换行 */ 
	white-space:nowrap;/* 不换行 */ 
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}