*,h1,h2,h3,h4,h5,h6,ol,ul{margin: 0; padding: 0;}
*{
	outline:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*,html,body,input,textarea{
	font-family: 'microsoft yahei';
}
html {
	font-size:100px;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 1366px) {
    html {
		font-size:100px;
	}
}

body {
	font-size:.14rem;
	margin: 0;
}
ul>li{
	list-style:none;
}
a,a:active,a:hover{
	color:#337ab7;
	text-decoration: none;
	cursor: pointer;
}

