<div class="pagetab">
	<ul>
		<li ng-repeat="tab in pagetabService._tabs" ng-class="{'active':tab.tabKey==pagetabService.activeTabKey}" ng-click="pagetabService.activeTab(tab);pagetabService.activeIndex=$index">
			<a>{{tab.routeLabel}}
				<span class="close-tab" ng-click="pagetabService.closeTab(tab, $event)">
					<i class="fa fa-times" aria-hidden="true"></i>
				</span>
			</a>
			
		</li>
		
		<li class="drop">
			<a>
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
	<!-- <ul class="nav nav-sm nav-tabs">
		<li ng-repeat="tab in $ctrl.tabs" class="{{tab.routeClass}}" ng-click="$ctrl.activeTab(tab)">
			<a ui-sref="{{tab.routeState}}">{{tab.routeLabel}}</a>
		</li>
	</ul> -->
</div>