*,h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size:100px;
}
body {
	margin: 0;
	font-size:100px;
}