

.mineQuotation {
	color:$textF;
	.colorH{
		color:$textH;
	}
	.colorI{
		color:$textI;
	}
	.colorF{
		color:$textF;
	}
	.colorN{
		color:$textN;
	}
	margin:0.1rem 0.05rem ;
	.bg{
		background: url('../../../../../../../resource/images/img_bg_title.png') center;
		background-size: auto 100%;
	}
	header#mineQuotation{
		ul.head{
			li{
				display:inline-block;
				padding:0.07rem 0.1rem;

				a{
					display:inline-block;
					width:100%;
					height:100%;
					text-decoration: none;
					color:$textF;
				}
				a:hover{
					color:$textF;
				}
			}
			li.active{
				background: url('../../../../../../../resource/images/img_bg_title.png') center;
				background-size: auto 100%;
			}
		}
	}
	section#mineQuotationList{
		font-size:0.14rem;
		table{
			td{
				min-width:0.5rem;
			}
			th,td{
				text-align: center;
				white-space:nowrap;
			}
			td.maxWid15{
						max-width:1rem;
						overflow:hidden ;
						text-overflow: ellipsis;
						white-space:nowrap;
					}
			.field_handle{
				span{
					display:inline-block;
					width:0.2rem;
					height:0.2rem;
					margin:0 0.05rem;
				}
				span.downline{
					background:url('../../../../../../../resource/images/btn_undo_normal.png') no-repeat center;
				}
				span.downline:hover{
					background:url('../../../../../../../resource/images/btn_undo_hover.png') no-repeat center;
				}
				span.deal{
					background:url('../../../../../../../resource/images/btn_complete_normal.png') no-repeat center;
				}
				span.deal:hover{
					background:url('../../../../../../../resource/images/btn_complete_hover.png') no-repeat center;
				}
				span.towillbond{
					background:url('../../../../../../../resource/images/btn_edite_normal.png') no-repeat center;
				}
				span.towillbond:hover{
					background:url('../../../../../../../resource/images/btn_edite_hover.png') no-repeat center;
				}
			}
			.other,.txnRstNm{
				max-width:0.8rem;
				overflow:hidden ;
				text-overflow: ellipsis;
				white-space:nowrap;
			}
			.otherTooltip,.other:hover,.txnRstNm:hover{
				color:$textM;
			}
			.txnRstNm{
				display:inline-block;
			}
			div.rmrk{
				max-width:1.1rem;
				display:inline-block;
				overflow:hidden ;
				text-overflow: ellipsis;
				white-space:nowrap;
			}
			.rmrk:hover{
				color:$textM;
			}
			div.tooltip-inner{
				color:$textM;
				padding:0.05rem 0.1rem;
			}
		}
	}
}
.mineCreat{
	margin:0;
	padding:0;
		.head{
			margin-bottom:0.1rem;
			div.plus{
				float:right;
				height:0.24rem;
				width:0.24rem;
				background:$bgDefaultLightC;
				border-radius:0.24rem;
				span.bgPlus{
					display:inline-block;
					height:0.24rem;
					width:0.24rem;
					background:url(../../../../../../../../../resource/images/btn_plus_normal.png) no-repeat center;
				}
				span.bgPlus:hover{
					background:url(../../../../../../../../../resource/images/btn_plus_hover.png) no-repeat center;
				}
			}
		}
		#table{
			table.table{
				thead>tr{
					background-size:100%;
				}
				tbody{
					td.maxWid15{
						max-width:1.5rem;
						overflow:hidden ;
						text-overflow: ellipsis;
						white-space:nowrap;
					}
					.delete{
						display:inline-block;
						width:0.24rem;
						height:0.24rem;
						background:url(../../../../../../../../../resource/images/btn_delete_normal.png) no-repeat center;
					}
					.delete:hover{
						background:url(../../../../../../../../../resource/images/btn_delete_hover.png) no-repeat center;
					}
					.uDFTrmList{
						input{
							width:35%;
						}
						span.bgPlus{
							position: absolute;
							bottom:0.05rem;
							right:0;
							height:0.24rem;
							width:0.24rem;
							background:url(../../../../../../../../../resource/images/btn_plus_normal.png) no-repeat center;
						}
						span.bgPlus:hover{
							background:url(../../../../../../../../../resource/images/btn_plus_hover.png) no-repeat center;
						}
					}
				}
			}
		}
		.footer{
			text-align:center;
			button.btn{
				display:inline-block;

			}
		}
}
