<div class="mineQuotation " ng-class='{mineCreat:$root.$state.includes("home.capitalQuotation.mineQuotation.create")}' ui-view='mineCreat'>
	<header id="mineQuotation">
		<ul class="head" >
			<li ng-class='{"active": active==0}'>
				<a ng-click='tolist(0)' >线上资金</a>
			</li>
			<li ng-class='{"active": active==1}'>
				<a ng-click='tolist(1)' >线下资金</a>
			</li>
		</ul>
	</header>
	<section id="mineQuotationList" style="width: 100%;">
		<mineon-list-component ng-if="active==0"></mineon-list-component>
		<mineoff-list-component ng-if="active==1"></mineoff-list-component>
	</section>
</div>