<!-- 报价修改 -->
	<form class=" changeBond" name='changeBond' ng-submit='$instanceCtrl.ok()'>
		<!-- <div class="modal-content" > -->
				<div class="modal-header">
					报价修改
					<i class="fa fa-times pull-right" ng-click="$instanceCtrl.modalInstance.dismiss('cancel')"></i>
				</div>
				<div class="modal-body " id="modal-body" >
				    <div class="one cont_l">
				    	<label><span>方向</span></label>
						<div class="btn-group">
							<span class="btn btn-default" ng-model = 'item.drc' uib-btn-radio="'-1'" disabled='true'>买入</span>
							<span class="btn btn-default"  ng-model = 'item.drc'  uib-btn-radio="'1'" disabled='disabled'>卖出</span>
						</div>
					</div>
				   <!-- 债券代码/简称 -->
					<div class="one cont_r" >
						<label><span class="colorH">债券代码/简称</span></label>
						<div class="bondCd">{{item.bondShrtnm}}&nbsp;[{{item.bondCd}}{{item.marketType | bondQuotationMarkeTType}}]</div>
					</div>
					<!-- 数量 -->
					<div class="one cont_l">
						<label><span>数量</span></label>
						<input type="text" class="form-control"  validation-tooltip="validdationNum($value)"   ng-model = 'item.num'>
						<span class="marL10">万</span>
					</div>
					<!-- 收益率 -->
					<div class="one cont_r">
						<label><span>收益率</span></label>
						<input type="text" class="form-control" validation-tooltip="validdationYield($value)" ng-model = 'item.yldrto' ng-blur='netprcFn(item)'>
						<span class="marL10">%</span>
					</div>
					<!-- 净价 -->
					<div class="one cont_l">
						<label><span>净价</span></label>
						<input type="text" class="form-control"  validation-tooltip="validdationNetprc($value)"  ng-model = 'item.netprc' ng-blur='yldrtoFn(item)'>
						<span class="marL10">元</span>
					</div>

						<!-- 是否匿名 -->
					<div class="one cont_r">
						<label><span>是否匿名</span></label>
						<div ng-click='item.wthrAnon=item.wthrAnon==1?0:1;' ng-class='{"trueChoice" :item.wthrAnon=="1" , "falseChoice" : item.wthrAnon=="0"}'></div>
					</div>
					<div style="clear: both;"></div>
					<!-- 备注 -->
					<div class="bot " >
						<textarea  class="form-control" placeholder='备注' ng-model = 'item.rmrk' ng-change='deleteRemark(item)'></textarea>
						<span class="contNum">{{(item.rmrk).length}}/50</span>
					</div>
					<div class="modal-footer " id='myFooter'>
						<button  type="button" class="btn btn-default" type="button" ng-click="$instanceCtrl.modalInstance.dismiss('cancel')">取消</button>
						<button type="submit" class="btn btn-primary" type="button">保存</button>
						<!-- btn-warning -->
						<div style="clear: both;"></div>
					</div>
			 </div>
		<!-- </div> -->
	</form>
