
	// color: #000;
	// height:8rem;

.my-change-bond{
	.modal-xl.modal-dialog {
		width: 4.9rem;
		.modal-content{
			margin-top:0.5rem;
		}
	}
}
.changeBond{
	.btn-default.active{
		background: #997E51;
	}
	.modal-header{
		line-height: 0.32rem;
		padding: 0 0.1rem ;
		border:none;
		background: url('./images/img_bg_title.png') 100%;
		background-size: auto 100%;
		i.fa{
			line-height:0.32rem;
		}
	}
	input,textarea{
		background: #1B2F36;
	}
	width:4.9rem;
	color:$textD;
	font-size:0.12rem;
	label{
		font-weight:normal;
	}
	#modal-body{
		background: #24383F;
		padding:0.1rem;
		color:$textF;
		input{
			width:120px;
		}
		.bondCd{
			display: inline-block;
			color:$textG;
		}
		.one{
			float:left;
			height: 0.4rem;
			label span{
				margin-right: 0.2rem;
			}
		}
		.cont_l{
			width:2.2rem;
		}
		.cont_r{
			width:2.5rem;
			label span{
				display: inline-block;
				width:.8rem;
				text-align: right;
			}
			.falseChoice,.trueChoice{
				display: inline-block;
				width: 0.53rem;
				height: 0.16rem;
			}
			.trueChoice{
				background: url('./images/btn_switch_on.png') no-repeat center;
			}
			.falseChoice{
				background: url('./images/btn_switch_off.png') no-repeat center;
			}
		}
		.cont_l .marL10,.cont_r .marL10{
			margin-left: 0.1rem;
			display: inline-block;
		}
		.bot{
			width:4.7rem;
			textarea{
				width:100%;
				height: 0.5rem;
				resize: none;
			}
			.contNum{
				float: right;
				position: relative;
				top:-0.2rem;
				right:0.1rem;
			}
		}
		.form-control{
			display:inline-block;
		}
	}
	.modal-footer#myFooter{
		text-align: center;
	}
}

// 修改报价
