@import '../../css/common';

.my-alert-modal{
	.modal-xxx.modal-dialog {
		width: 3.7rem;
		height: auto;
		.modal-content{
			background: $bgDefault;
			height: auto;
			border:0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			.modal-header{
				border-color:$borderDefault;
			}
			.modal-body{
				background: $bgDefault;
				color:$textG;
				width: 3.7rem;
				height: 1.4rem;
				text-align: center;
				vertical-align: middle;
			}
			.modal-footer{
				background: $bgDefault;
				// left: 2.7rem;
				height: auto;
			    position: static;
			    border: none;
			    text-align: center;
			}
		}
	}
}
.alertModal {
	color: $textD;

	.btn,.btn:hover,.btn.focus,.btn.active,.btn.visited,.btn:focus{
		background: $btnPrimary;
		outline: none;
		color:$textD;
	}
	font-size:0.14rem;

}
