<div class="myAppStyle">
    <div class="container" style="width: 100%; padding: 5px; overlfow-x: hidden">
        <!--我的申购开始-->
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <stat-app show="true"></stat-app>
                </div>
            </div>
            <p style="position: absolute; right: 10px; top: 50px; z-index: 999">
                <span class="applicationTitleFive">当前团队负责人: {{$ctrl.admin.userNm}}</span>
                <a class="applicationTitleSix" style="color: #fff" ng-if="$ctrl.admin.userNm != $ctrl.username"
                   ng-click="$ctrl.gotoAdmin()">我是负责人</a>
                <span class="applicationTitleSix"
                      style="background: #627982; color: #fff; font-size: 12px; padding: 3px 20px;"
                      ng-if="$ctrl.admin.userNm == $ctrl.username">我是负责人</span>
            </p>
            <!-- 客户申购 开始 -->
            <div style="height: 600px; position: relative;">
                <bond-dstr-main tab-flag="$ctrl.winbid" export-excel-url="$ctrl.downUrl"></bond-dstr-main>
            </div>
            <!-- 客户申购 结束 -->
            <div class="row">
                <div class="col-xs-9">
                    <p>
                        <button class="btn btn-primary" ng-click="$ctrl.updateMyList()"
                                ng-if="$ctrl.admin.userNm == $ctrl.username">生成我的申购
                        </button>
                        <button class="btn btn-primary" ng-if="$ctrl.admin.userNm != $ctrl.username"
                                style="cursor: not-allowed">生成我的申购
                        </button>
                    </p>
                </div>
                <div class="col-xs-3">
                    <p>
                        <button class="btn btn-primary" ng-click="$ctrl.updateWinbid()">分配我的申购列表</button>
                    </p>
                </div>
            </div>
            <div class="myApplicationTitle">
                <div class="row">
                    <div class="col-sm-8 blockOverflow">
                        <span class="applicationTitleOne">我的申购</span>
                        <span
                                class="applicationTitleTwo">利率区间: {{$ctrl.myapp.sbrbIntrtLwrLmt | yldrtoCopyFilter}}--{{$ctrl.myapp.sbrbIntrtUpLm | yldrtoCopyFilter}}</span>
                        <span class="applicationTitleThree">当前待申购量: {{$ctrl.myapp.sbrbTnum | changeToMoney}}</span>
                        <span class="applicationTitleThree">我的申购总量: {{$ctrl.myapp.mySbrbTnum | changeToMoney}}</span>
                        <span class="applicationTitleThree" title="{{$ctrl.myapp.custSbrbTnum | changeToMoney}}">客户申购总量: {{$ctrl.myapp.custSbrbTnum | changeToMoney}}</span>
                        <span class="applicationTitleFour" title="{{$ctrl.myapp.winbidTnum | changeToMoney}}">我的中标总量: {{$ctrl.myapp.winbidTnum | changeToMoney}}</span>
                    </div>
                    <div class="col-sm-4 text-right">

                    </div>
                </div>
            </div>
            <div style="min-height: 500px">
                <div class="row">
                    <div class="col-xs-12 myTab">
                        <p class="investorNav">
                            <a class="navNews" ng-click="$ctrl.newsClick()"
                               ng-class="{'bgColor': $ctrl.navBarShow}">消息
                                <span ng-show="$ctrl.msgStatistics.total>0"
                                      style="padding:2px 8px 2px 7px; background: url(../../../../../resource/images/icon_newmessageBG.png) 5px 3px no-repeat;
  color: #fff;">{{$ctrl.msgStatistics.total>9?"9+":$ctrl.msgStatistics.total}}</span>
                            </a>
                            <a class="navResult" ng-click="$ctrl.resultClick()"
                               ng-class="{'bgColor': !$ctrl.navBarShow}">中标结果</a>
                            <a ng-show="!$ctrl.navBarShow" class="applicationBtn cursor" target="_blank"
                               href="{{$ctrl.downLoadUrl}}"
                               style="color: #fff; text-decoration: none; float: right; position: relative; z-index: 999">导出</a>
                        </p>
                        <div class="news" ng-show="$ctrl.navBarShow">
                            <msg-list items="$ctrl.items" pages="$ctrl.pages" mywinbid="$ctrl.mywinbid"
                                      msg-statistics="$ctrl.msgStatistics" msg-click="$ctrl.sendMsg()"></msg-list>
                        </div>
                        <div class="result" ng-show="!$ctrl.navBarShow">
                            <result-list msg-click="$ctrl.sendMsg()"></result-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--我的申购-->
    </div>
</div>
