.content {
  position: relative;
  overflow: auto;
  padding: 0 15px;
}

.castFree {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #444;
}

.castFree a {
  color: #888888;
}

.bord {
  border-bottom: 2px solid #26292e;
}

.castFree .castTabActive,
.castFree .rightTabActive {
  border-bottom: 2px solid #fda700;
}

.castFree .castTabActive a, .castFree .rightTabActive a {
  color: #fda700;
}

.castDocument {
  padding: 0 10px;
}

.documentPlace {
  background: #26292e;
  overflow-y: auto;
}

.freePlace {
  background: #26292e;
  //overflow-y: auto;
  overflow-x: hidden;
  color: #ffffff;
  padding: 0 10px 5px 0;
  list-style-type: none;
}

.minHeight {
  height: 220px;
}

.castUser {
  color: #666;
  font-size: 12px;
  margin-bottom: 0;
}

.castSend {
  background: #2e3136;
  padding: 10px;
}

.castInput {
  height: 30px;
  line-height: 30px;
  width: 240px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #222222;
  border: none;
}

.castIcon {
  color: #fda700;
  font-size: 24px;
}

.castBtn {
  height: 30px;
  line-height: 30px;
  border: 1px solid #fda700;
  background: none;
  color: #fda700;
  border-radius: 10px;
  padding: 0 5px;
}

.castContent {
  margin-top: 5px;
}

.msgBg {
  background: #7d531b;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

// 直播列表
.castCard {
  height: 230px;
  background: #2a2a2a;
  color: #fff;
  position: relative;
}

.castImg {
  height: 165px;
}

.castInfo {
  padding: 0 10px;
}

.castInfo {
  margin: 5px 0;
  font-size: 12px;
}

.castOthers {
  position: relative;
  bottom: 5px;
}

.castOthers span {
  color: #606060;
}

.castOtherRight {
  position: absolute;
  right: 0;
  bottom: -10px;
}

.rightTop {
  padding: 5px 20px;
  background: #222;
  opacity: 0.5;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
}

.castCard {
  border: 1px solid #2a2a2a;
}

.castCard:hover {
  border: 1px solid #fda700;
}

// 预告
.trailer {
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin: 5px;
}

.trailer span {
  padding: 5px 15px;
  background: #ff910c;
  margin-right: 10px;
}

.col-xs-6 {
  padding: 0;
}

.rightBorder {
  border-right: 1px solid #373b4e
}

.documentPlace {
  padding: 10px;
}

// 聊天样式
.castModel {
  position: relative;
}

.castLogin {
  width: 40px;
  height: 40px;
  float: left;
}

.castModelRigth {
  float: right;
  width: 220px;
}

.imgLogo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.space {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.castUser {
  padding-left: 40px;
  color: #fff;
}

.pBottom {
  margin-bottom: 5px;
}

.textColor {
  color: #d0a45e
}

.castHeader {
  margin-right: 20px;
}

.castHeader a {
  color: #fff6bf;
  text-decoration: none;
}

.msgIco {
  position: absolute;
  bottom: 60px;
  left: 15px;
  width: 350px;
  height: 85px;
  background: #555;
}

.msgIco li {
  padding: 5px 0 5px 5px;
}

.pDown {
  word-wrap: break-word;
  table-layout: fixed;
  word-break: break-all
}

.exchange {
  position: absolute;
  bottom: 30px;
  right: 380px;
  z-index: 99999;
}

.exchange a {
  color: #fff;
  font-weight: bold;
}

.noCast {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 15%;
}

.userLogoChecked {
  color: #ff900c;
}
.userLoginBorder {
  border: 1px solid #ff900c;
}