@import '../../../../../common/css/common';
h1,h2,h3,h4,h5,h6{
	margin: 0; 
	padding: 0;
}
.modal-dialog{
	
	
	#close_11{
	background:red;
	background:url("../../../../../../resource/images/btn_close02_gray.png") no-repeat;
	}
	#close_11:hover{
	background:url("../../../../../../resource/images/btn_close_yellow.png") no-repeat;
	}
	#img{
	background:url("../../../../../../resource/images/btn_delete_normal.png") no-repeat;
	}
	#img:hover{
	background:url("../../../../../../resource/images/btn_delete_hover.png") no-repeat;
	}


	
	
}