@import '../../../../../../common/css/common';
.my-quote{
	.modal-xl.modal-dialog {
		width: 12rem;
		.modal-content{
			border:0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			.modal-body{
				width: 12rem;
			}
			.modal-footer{
				left:50%;
				margin-left:-1.2rem;
			}
		}
	}
}
.modal-dialog{
	// height:6rem;
	width:8rem;
	margin-top:0;
	position:relative;
	z-index:1000;
	.modal-content{
		height:6.2rem;
		position:relative;
		.modal-body{
			height: 4.9rem;
			width:8rem;
			float:left;
			padding-left:0;
			padding-right:0;
			.cont{
				width:100%;
				border-top:1px solid #ccc;
				label {
					font-weight:500;
				}
				.marT10{
					margin-top:10px;
				}
				p.input-group{
					margin:0;
				}
				.cont_l,.cont_r{
					width:48%;
					display: inline-block;
					margin-bottom:  10px ;
				}
				.tit{
					display:inline-block;
					width:1.2rem;
					text-align: right;
					margin-right: 20px;
				}
				.titSearch{
					position: relative;
					input{
						padding:0px 20px;
					}
					.ser,.clear{
						position: absolute;
						top:.08rem;
					}
					.ser{
						left:.03rem;

					}
					.clear{
						right:5px;
					}
				}
			}
			.borT0{
				border-top:none;
				margin-top:0;
			}
		}
		.modal-footer{
			height: .4rem;
			position:absolute;
			left:3rem;
			bottom:0px;
			border:none;
		}
	}
}
@media screen and (min-width: 768px){
	.modal-dialog {
		margin:auto;
	}
}
quotemodal {
	div.bond-quote{
		font-family: 'microsoft yahei';
		font-size:.12rem;
		div.modal-header{

		}
		div.modal-body{
			>div{
				float:left;
			}
			div.table-quote-list{
				width:100%;
				table.table{
					thead{
						th{
							font-weight:normal;
						}
					}
					tbody{
						tr{
							td{
								input[type="text"]{
									width:100%;
									border:0;
								}
							}
						}
					}
				}
			}
		}
		div.modal-footer{
			padding:0;
		}
	}
}
