.my-quote{
	font-family: 'microsoft yahei';
	font-size:.12rem;
	$modalWidth:7.86rem;
	.modal-dialog{
		width:$modalWidth;
		margin-top:.2rem;
		position:relative;
		z-index:1000;
		.modal-content{
			border:0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			height:5.22rem;
			position:relative;
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			quotemodal{
				div.bond-quote{
					.modal-header{
						padding:0;
						background-image: url('../../../../../../../resource/images/chat_baojia_frame_title_middle.png');
						background-repeat:repeat-x;
						height:.32rem;
						border-bottom:1px solid #36474f;
						h3.modal-title{
							color:$textD;
							line-height:.32rem;
							font-size:.12rem;
							padding-left:.1rem;
							display:inline-block;
						}
						div.modal-close{
							height: .32rem;
							line-height: .32rem;
							margin-right: .1rem;
							float:right;
							background-image: url('../../../../../../../resource/images/btn_close02_gray.png');
							background-size: .1rem;
							background-position: center;
							background-repeat: no-repeat;
							width: .1rem;
						}
					}
					.modal-body{
						width: $modalWidth;
						background-color:$bgDefaultLightA;
						height: 4.9rem;
						float:left;
						padding:.06rem;
						>div{
							float:left;
						}
						div.table-quote-list{
							width:100%;
							height:4rem;
							table.table{
								border:0;
								color:#b8d1dd;
								thead{
										background-image: url('../../../../../../../resource/images/chat_baojia_frame_title_middle.png');
										background-repeat:repeat-x;
									th{
										font-weight:normal;
										color:#8ca5b1;
										height:.32rem;
										border:0;
									}
								}
								tbody{
									tr{
										td{
											border:0;
											span{
												width:100%;
												border:0;
												background:transparent;
											}
											span.drc-buy{
												color:$textI;
											}
											span.drc-sell{
												color:$textH;
											}
											span.shrtnm{
												display: inline-block;
												width: 1.17rem;
												word-break:keep-all;/* 不换行 */ 
												white-space:nowrap;/* 不换行 */ 
												overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
												text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
											}
											span.yld{
												color:$textI;
											}
										}
									}
								}
							}
						}
					}
					.modal-footer{
						height: .4rem;
						position:absolute;
						bottom:0px;
						border:none;
						left:50%;
						margin-left:-.8rem;
						padding:0;
					}
				}
			}
		}
	}
	@media screen and (min-width: 768px){
		.modal-dialog {
			margin:auto;
			margin-top:.2rem;
		}
	}
}

