<div class="bond-quote">
	<div class="modal-header">
		<h3 class="modal-title">我的报价</h3>
	</div>
	<div class="modal-body">
		<div class="table-responsive table-quote-list">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th style="width:.39rem"></th>
						<th style="width:.46rem">方向</th>
						<th style="width:.90rem">债券代码</th>
						<th style="width:1.17rem">债券简称</th>
						<th style="width:.66rem">数量(万)</th>
						<th style="width:.67rem">收益率</th>
						<th style="width:.71rem">净价(元)</th>
						<th style="width:.57rem">匿名</th>
						<th style="width:1.43rem">备注</th>
						<th style="width:.68rem">大厅挂牌</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in $instanceCtrl.quoteList">
						<td style="width:.39rem">
							<input type="checkbox" ng-model="item.checked">
						</td>
						<td style="width:.46rem">
							<input type="text" ng-model="item.drc">
						</td>
						<td style="width:.90rem">
							<input type="text" ng-model="item.bondCd">
						</td>
						<td style="width:1.17rem">
							<input type="text" ng-model="item.bondShrtnm">
						</td>
						<td style="width:.66rem">
							<input type="text" ng-model="item.num">
						</td>
						<td style="width:.67rem">
							<input type="text" ng-model="item.yldrto">
						</td>
						<td style="width:.71rem">
							<input type="text" ng-model="item.netprc">
						</td>
						<td style="width:.57rem">
							<input type="checkbox" ng-checked="item.wthrAnon==='1'">
						</td>
						<td style="width:1.43rem">
							<input type="text" ng-model="item.remark">
						</td>
						<td style="width:.68rem">
							<input type="checkbox" ng-checked="item.wthrListg==='1'">
						</td>
					</tr>
				</tbody>
		 	</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$instanceCtrl.ok()">确定</button>
		<button class="btn btn-warning" type="button" ng-click="$instanceCtrl.addQuote()">添加债券</button>
	</div>
</div>
