<div class="bond-quote">
	<div class="modal-header">
		<h3 class="modal-title">我的报价</h3>
		<div class="modal-close" ng-click="$instanceCtrl.cancel()"></div>
	</div>
	<div class="modal-body">
		<div class="table-responsive table-quote-list">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th></th>
						<th>方向</th>
						<th>债券代码</th>
						<th>债券简称</th>
						<th>数量(万)</th>
						<th>收益率</th>
						<th>净价(元)</th>
						<th>匿名</th>
						<th>备注</th>
						<th>大厅挂牌</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in $instanceCtrl.quoteList">
						<td>
							<input type="checkbox" ng-model="item.checked">
						</td>
						<td class="drc">
							<span class="drc-buy" ng-if="item.drc!='1'">买入</span>
							<span class="drc-sell" ng-if="item.drc=='1'">卖出</span>
						</td>
						<td class="bondCd">
							<span>{{item.bondCd}}</span>
						</td>
						<td class="bondShrtnm">
							<span>{{item.bondShrtnm}}</span>
						</td>
						<td class="num">
							<span>{{item.num|numFilter}}</span>
						</td>
						<td class="yldrto">
							<span>{{item.yldrto|yldrtoFilter}}%</span>
						</td>
						<td class="netprc">
							<span>{{item.netprc|number:4}}</span>
						</td>
						<td class="wthrAnon">
							<input type="checkbox" ng-checked="item.wthrAnon==='1'" disabled>
						</td>
						<td class="rmrk">
							<span uib-tooltip="{{item.rmrk}}">{{item.rmrk}}</span>
						</td>
						<td class="wthrListg">
							<input type="checkbox" ng-checked="item.wthrListg==='1'" disabled>
						</td>
					</tr>
				</tbody>
		 	</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$instanceCtrl.ok()">确定</button>
		<button class="btn btn-primary" type="button" ng-click="$instanceCtrl.addQuote()">添加债券</button>
	</div>
</div>
