.bondquotation{
	height:100%;
	.btn,.btn:hover,.btn.focus,.btn.active,.btn.visited,.btn:focus{
		outline: none;
		color:$textD;
		border:none;
	}

	.btn-primary,.btn-primary:hover,.btn-primary.focus,.btn-primary.active,.btn-primary.visited{
		background-color:$btnPrimary;
		border:none;
		border-radius:none;
	}
	.btn-default,.btn-default:hover,.btn-default.focus,.btn-default.active,.btn-default.visited{
		background-color:$bgDefaultLightC;
		color:$textD;
		border:none;
	}
	$borderColor:#36474f;
	.bg{
		background:url('../../../../../resource/images/img_bg_title.png')  center;
	}
	$inputPlaceColor:#ccc
	::-webkit-input-placeholder { /* WebKit browsers */
	color: $inputPlaceColor;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: $inputPlaceColor;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: $inputPlaceColor;
	}
	::-ms-input-placeholder { /* Internet Explorer 10+ */
	color: $inputPlaceColor;
	}
	.btn.active{
		background-color:$bgGold;
	}
	.btn{
		font-size: 12px;
		text-align: center;
		vertical-align: middle;
	}
	.colorH{
		color:$textH;
	}
	.colorI{
		color:$textI;
	}
	.colorF{
		color:$textF;
	}
	.colorN{
		color:$textN;
	}
	input{
		border:none;
		background:$bgDefault;
		font-size: 0.12rem;
		padding:0.04rem 0.1rem;
		height:20px;
		border:1px solid $borderDefault;
		color:$inputPlaceColor;
	}
	$cardW:3.7rem;
	$tableW:9.6rem;
	$marginL:0.1rem;
	$marginR:$cardW+$marginL;
	$marginW:0.06rem;
	font-size:0.12rem;
	margin:$marginW;
	position:static!important;
	aside.hallSidebar{
		width:$cardW;
		margin-left: $marginL;
		float:right;
		div#_body_{
			section.card{
				position: relative;
				$titleH:0.32rem;
				$titMarL:0.12rem;
				header.title{
					height:$titleH;
					line-height: $titleH;
					color:$textDefault;
					span{
						line-height:$titleH;
						margin-left:$titMarL;
					}
				}
				// main#settleChart{
				// 	width:3.7rem;
				// 	height:2.1rem;
				// 	background:$primaryBg;
				// 	position: absolute;
				// 	top:.3rem;
				// 	left:0;
				// 	right:0;
				// 	bottom:0;
				// }
			}
			section#bondInfo.card{
				main#BondMain {
					padding: 0.1rem;
					height: 2.8rem;
					.cont_l,.cont_r{
						width:50% ;
						float:left;
					}
					.tit{
						line-height: 0.18rem;
						height: 0.3rem;
						font-size:0.18rem;
						color:#ffeb62;
					}
					.col{
						width: 100%;
						display: inline-block;
						line-height: 0.22rem;
						height: 0.22rem;
						overflow: hidden;
						span{
							line-height: 0.22rem;
						}
						.tit_l{
							display: inline-block;
							float:left;
						}
						.textOverHidden{
							display: inline-block;
							width: 80%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
					.bgMore{
						float:right;
						margin-top: 0.05rem;
						display: inline-block;
						width:0.44rem;
						height: 0.16rem;
						background: url('../../../../../resource/images/btn_more_normal.png') no-repeat center;
					}
					.bgMore:hover{
						background: url('../../../../../resource/images/btn_more_hover.png') no-repeat center;
					}
					.mar_T10{
						text-align: right;
						display:inline-block;
						margin-top: 0.1rem;
						text-align: right;
						line-height: 0.16rem;
						height:0.16rem;
					}
				}
			}
			div#_gap_{
				height:0.1rem;
			}
			section#settlement{
				height:2.7rem;
			}
		}
	}
	div.hallTable{
		position: relative;
		margin-right:$marginR;
		height:100%;
		$headerH:0.32rem;
		$wrapW:0.1rem;
		.wid45{
			width:44%;
		}
		.wid55{
			width:56%;
		}
		header#condition{
			height:$headerH;
			.head{
				position:relative;
				height: $headerH;
				padding:0.04rem 0.1rem;
				.mar_L10{
					position: relative;
					display: inline-block;
					float: left;
					margin-left: 0.1rem;
					height: 0.24rem;
					line-height: 0.24rem;
					padding:0 0.2rem;
					border-radius: 0.2rem;
				}
				.padR{
					padding:0 0.4rem 0 0.2rem;
				}
				.padd5{
					display:inline-block;
					margin-left:0.15rem;
					width:0.24rem;
					height: 0.24rem;
					border-radius: 50%;
					background: $bgDefaultLightC;
					line-height: 0.24rem;
					text-align: center;
					.plus{
						display: inline-block;
						height:0.12rem;
						width:0.12rem;
						background: url('../../../../../resource/images/btn_plus_normal.png') no-repeat center;
					}
					.plus:hover{
						background: url('../../../../../resource/images/btn_plus_hover.png') no-repeat center;
					}
				}
				.myBond{
					position:absolute;
					right:0.05rem;
					display: inline-block;
					background: url('../../../../../resource/images/btn_delete_normal.png') no-repeat center;
					width:0.24rem;
					height: 0.24rem;
				}
				.myBond:hover{
					background: url('../../../../../resource/images/btn_delete_hover.png') no-repeat center;
				}
				.SelectDownBox{
					display:inline-block;
					float: right;
					margin:0.04rem 0 0 0.26rem;
					width:0.13rem;
					height: 0.14rem;
					background: url('../../../../../resource/images/btn_arrow_packup1_normal.png') no-repeat center;
				}
				.SelectDownBox:hover{
					background: url('../../../../../resource/images/btn_arrow_packup1_hover.png') no-repeat center;
				}
				.SelectDownBox.active{
					background: url('../../../../../resource/images/btn_arrow_unfold1_normal.png') no-repeat center;
				}
				.SelectDownBox.active:hover{
					background: url('../../../../../resource/images/btn_arrow_unfold1_hover.png') no-repeat center;
				}
			}
			.nowBondAlert{
				color:$textB;
				// height: 0.4rem;
				font-size: 0.14rem;
				// line-height:0.4rem;
				position:absolute;
				top:-0.7rem;
				right:-1.8rem;
				padding:0.05rem 0.1rem ;
				background: $bgGold;
			}
			.titSearchBox{
				position: absolute;
				top:0.03rem;
				right:0.4rem;
				width:2rem;
				.searchBg{
					display:inline-block;
					width:0.16rem;
					height: 0.16rem;
					background: url('../../../../../resource/images/icon_search.png') no-repeat center;
					position: absolute;
					z-index: 1;
					right:.05rem;
					top:.04rem;
					font-size:14px;
				}
				.searchBg:hover{
					background: url('../../../../../resource/images/icon_search_hover.png') no-repeat center;
				}
				input{
					width:100%;
					border-radius: 0.24rem;
					padding-right: 0.25rem;
					height: 0.24rem;
					color:#667882;
				}
			}
			
		}
		div#_body_{
				$height20:0.2rem;
				$titMinWidth:0.5rem;
				padding:0.1rem;
				section{
					padding: 0;
				}
				.className{
					width:2rem;
					height:.3rem;

				}
				.clearSelect{
					display: inline-block;
					width: 0.14rem;
					height: 0.14rem;
					background: url('../../../../../resource/images/btn_delete_normal.png') no-repeat center;
				}
				.clearSelect:hover{
					background: url('../../../../../resource/images/btn_delete_hover.png') no-repeat center;
				}
				.mar_T14{
					margin-top: 0.14rem;
				}
				.padd10{
					margin-bottom: 0.06rem;
					clear: both;
					.spacePlace{
						display: inline-block;
					}
					.btn,.spacePlace{
						padding:0 0.06rem;
						height: 0.2rem;
					}
					.tit{
						min-width: $titMinWidth;
						line-height: $height20;
						text-align: right;
						margin-right: $height20;
					}
				}
				.peoplePro{
					position: relative;
					width:1.9rem;
					display:inline-block;
					label{
						position: absolute;
						z-index: 1;
						right: 0.05rem;
						top:5px;
					}
					input{
						width: 100%;
						padding-right: 0.25rem;
						height: 0.2rem;
					}
				}
				.bgDY{
					width: 0.5rem;
					height: 0.2rem;
					text-align: center;
					line-height: 0.2rem;
					position: relative;
					right:-0.1rem;
					background: url('../../../../../resource/images/btn_changeday_normal.png') no-repeat center;
				}
				.bgDYActive{
					background: url('../../../../../resource/images/btn_changeday_select.png') no-repeat center;
				}
			}

		main{
			position:absolute;
			transition:all 0.5s;
			width:100%;
			bottom:0.2rem;
			top:0.32rem;
			min-height:0.5rem;
			overflow-y: auto;
			.my-table{
				width::100%;
			}
			table{
				th,td{
					text-align: center;
					white-space:nowrap;
				}
				td.bondCd,td.bondNm{
					max-width:0.8rem;
				}
				td{
					border-top: 1px solid $borderDefault;
					.bondShrtnm,.ofrUserNm,.rmrk{
						display: inline-block;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
					.bondShrtnm{
						width: 100%;
						max-width:0.8rem;
					}
					.ofrUserNm{
						width: 1rem;
					}
					.rmrk{
						max-width:0.3rem;
					}
				}
				th {
					padding:0;
					height: 0.32rem;
					border-bottom: none;
					vertical-align: middle;
				}
				th i{
					display: none;
				}
				tr.active{
					background: $bgDefaultLightB;
					td{
						background: $bgDefaultLightB;
					}
					.toopRmrk{
						padding:8px 0px;
					}
				}
				th.active{
					background: none;
				}
				.colorH{
					color:$textH;
				}
				.colorI{
					color:$textI;
				}
				.star{
					display: inline-block;
					width:0.2rem;
					height: 0.17rem;
					background: url('../../../../../resource/images/btn_star_normal.png') no-repeat center;
				}
				.star.active{
					background: url('../../../../../resource/images/btn_star_select.png') no-repeat center;
				}
				.sortDown,.sortUp{
					display:inline-block;
					width:0.07rem ;
					height:0.11rem;
					position: absolute;
					top:4px;
					right:-12px;
				}
				.sortDown{
					background: url('../../../../../resource/images/btn_sort_down.png') no-repeat  center;
				}
				.sortUp{
					background: url('../../../../../resource/images/btn_sort_up.png') no-repeat  center;
				}
				.starNor{
					width:0.4rem;
					background: url('../../../../../resource/images/btn_star_normal.png') no-repeat center;
				}
				.starSelect{
					width:0.4rem;
					background: url('../../../../../resource/images/btn_star_select.png') no-repeat center;
				}
				.chatRoom,.calculator{
					display:inline-block;
					width:0.17rem;
					height: 0.17rem;
				}
				.chatRoom{
					background: url('../../../../../resource/images/btn_chat_normal.png') no-repeat center;
					margin-right: 0.2rem;
				}
				.chatRoom:hover{
					background: url('../../../../../resource/images/btn_chat_press.png') no-repeat center;
				}
				.calculator{
					background: url('../../../../../resource/images/btn_calculator_normal.png') no-repeat center;
				}
				.calculator:hover{
					background: url('../../../../../resource/images/btn_calculator_hover.png') no-repeat center;
				}
			}
			thead tr{
				background:$bgDefaultLightA;
			}
			.change,.delete,.send,.addNew{
				display: inline-block;
				padding: 6px;
				margin: 0 10px ;
			}
			.change{
				background: url('../../../../../resource/images/btn_edite_normal.png')  no-repeat center;
			}
			.change:hover{
				background: url('../../../../../resource/images/btn_edite_hover.png')  no-repeat center;
			}
			.delete{
				background: url('../../../../../resource/images/btn_delete_normal.png') no-repeat  center;
			}
			.delete:hover{
				background: url('../../../../../resource/images/btn_delete_hover.png') no-repeat  center;
			}
			.send{
				background: url('../../../../../resource/images/btn_send_normal.png') no-repeat center;
			}
			.send:hover{
				background: url('../../../../../resource/images/btn_send_hover.png') no-repeat center;
			}
			.unShowName{
				background: url('../../../../../resource/images/btn_person.png') no-repeat center;
			}
			.addNew{
				background: url('../../../../../resource/images/btn_guapai_normal.png') no-repeat  center;
			}
			.addNew:hover{
				background: url('../../../../../resource/images/btn_guapai_hover.png') no-repeat  center;
			}
		}
		.top35{
			top: 3.5rem;
		}
		.myPage{//分页
				height: 0.4rem;
				text-align: right;
				.pagination{
					margin:0;
				}
				span{
					display: inline-block;
					padding:0 5px;
					margin:0 0.1rem;
					line-height: 0.34rem;
				}
			}
	}
}
.bondquotation{
	div#_body_.collapse{
		height: 3.2rem;
	}
	td.care{
		background: url('../../../../../resource/images/btn_star_select.png') no-repeat center;

	}
	td.noCare{
		background: url('../../../../../resource/images/btn_star_normal.png') no-repeat center;
	}
}



