@media screen and (max-width: 1398px){
	#lineDownQuotation{
		.table-responsive{
			overflow-y:auto;
			overflow-x:hidden;
			border:none;
		}
	}
}
@media  screen and (min-width: 1399px) {
	#lineDownQuotation{
		.table-responsive{
			overflow-y:auto;
			overflow-x:hidden;
		}
	}
}
.lineDownQuotation{
	position: relative;
	input{
		width:0.5rem;
	}
	height:100%;
	color: $textF;
	// background: $bgDefaultLightB;
	.bg{
		background:url(../../../../../../../resource/images/img_bg_title.png) 100% 100%;
	}
	.btn,.btn:hover,.btn.focus,.btn.active,.btn.visited,.btn:focus{
		outline: none;
		color:$textD;
		border:none;
		padding:0.02rem 0.1rem;
		vertical-align: middle;
		text-align: center;

	}
	.btn-default,.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default.active,.btn-default.visited,.btn-default:visited{
		background-color:$bgDefaultLightC;
		color:$textD;
		border:none;
		padding:0.02rem 0.1rem;
		vertical-align: middle;
		text-align: center;
	}
	.btn-default.active{
		background: $bgGold;
	}
	.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary.active,.btn-primary.visited,.btn-primary:visited{
		background-color:$bgGold;
		border:none;
	}
	.btn.active{
		background:$bgGold;
	}
	header#top{
		padding: 0.1rem 0.4rem;
		label{
			color: $textF;
		}
		background: $bgDefault;
		.tit{
			margin-right:0.2rem;
		}
		.col{
			display: inline-block;
			margin: 0  0.5rem 0.1rem 0;
		}
		input,select{
			background:$bgDefaultDarkC;
			border:none;
		}

	}
	section#lineDownQuotation{
		position: absolute;
		top:0.9rem;
		bottom:0.3rem;
		width:100%;
		overflow-y: auto;
		table{
			tbody{
				td.tel{
					span.phone,span.chat,span.qq{
						display:inline-block;
						width:0.2rem;
						height:0.2rem;
						margin:0 0.05rem;
					}
					.phone{
						background:url('../../../../../../../resource/images/btn_phone_normal.png') no-repeat center;
					}
					.phone:hover{
						background:url('../../../../../../../resource/images/btn_phone_hover.png') no-repeat center;
					}
					.qq{
						background:url('../../../../../../../resource/images/btn_QQ_normal.png') no-repeat center;
					}
					.qq:hover{
						background:url('../../../../../../../resource/images/btn_QQ_hover.png') no-repeat center;
					}
					.chat{
						background:url('../../../../../../../resource/images/btn_chat_normal.png') no-repeat center;
					}
					.chat:hover{
						background:url('../../../../../../../resource/images/btn_chat_press.png') no-repeat center;
					}
				}
			}
			.other{
				max-width:1rem;
				overflow:hidden ;
				text-overflow: ellipsis;
				white-space:nowrap;
			}
			.otherTooltip,.other:hover{
				color:$textM;
			}
		}
		.wrkTel{
			line-height: 0.3rem;
			span{
				margin-left:0.2rem;
				padding:0.1rem ;
			}
			text-align: left;
			background:url('../../../../../../../resource/images/icon_phone01.png') no-repeat left center;
		}
		.ctcTel{
			line-height: 0.3rem;
			span{
				margin-left:0.2rem;
				padding:0.1rem;
			}
			text-align: left;
			background:url('../../../../../../../resource/images/icon_phone02.png') no-repeat left center;
		}
		.qqtooltip{
			div{
				line-height:0.2rem;
				margin-left:0.05rem;
				text-align:left;
			}
			padding:0.1rem 0.2rem;
			background:url('../../../../../../../resource/images/icon_QQ.png') no-repeat 0 0.1rem;
		}
		.bgStar{
			background: url(../../../../../../../resource/images/btn_star_normal.png) no-repeat center;
		}
		.bgStar.active{
			background: url(../../../../../../../resource/images/btn_star_select.png) no-repeat center;
		}
	}
	.myPage1{//分页
			// position: absolute;
			// bottom:0.3rem;
			// right:0.1rem;
			height: 0.4rem;
			text-align: right;
			.pagination{
				margin:0;
			}
			span{
				display: inline-block;
				padding:0 5px;
				margin:0 0.1rem;
				line-height: 0.34rem;
			}
		}
}
