<div class="lineDownQuotation" ui-view="linedownCreat">
	<header id="top">
		<div class="col">
			<span class="tit">方向</span>
			<div class="btn-group">
				<label class="btn-default "
					ng-repeat= "(key,item) in drc.value"
					uib-btn-radio="item.value"
					ng-model="searchConditions.drc">
					{{item.name}}
				</label>
			</div>
		</div>
		<div class="col" >
			<span class="tit">种类</span>
			<div class="btn-group">
				<label class="btn "
					ng-model="searchConditions.ctlg"
					uib-btn-radio="''"
					ng-click='searchConditions.ctlgSelecteds={}'>
					全部
				</label>
				<label class="btn "
					ng-repeat= "(key,item) in ctlg.value"
					ng-model="searchConditions.ctlgSelecteds[key]"
					ng-hide='item.value==0'
					uib-btn-checkbox
					btn-checkbox-true="item.value"
					ng-click='allOrNoAll()'>
					{{item.name}}
				</label>
			</div>
		</div>
		<div class="col">
			<span class="tit">利率</span>
			<div class="btn-group">
				<label class="btn active">全部</label>&nbsp;
				<input type="text"
					ng-model='searchConditions.intRtStrtVal'>
					&nbsp;&nbsp; 至&nbsp;&nbsp;
				<input type="text"
					ng-model='searchConditions.intRtEndVal'>
				&nbsp;{{ 1 | percentOrBpFilter}}&nbsp;<!-- 百分号 -->
			</div>
		</div>
		<div class="col">
			<span class="tit">期限</span>
			<div class="btn-group">
				<label class="btn "
					ng-model="searchConditions.trmTp"
					uib-btn-radio="''"
					ng-click='searchConditions.trmTpSelecteds={}'>
					全部
				</label>
				<label class="btn "
					ng-repeat= "(key,item) in  trmTp.value"
					ng-model="searchConditions.trmTpSelecteds[key]"
					uib-btn-checkbox
					btn-checkbox-true="item.value"
					ng-hide='item.value==11 ||  item.value==0'
					ng-click='allOrNoAll()'>
					{{item.name}}
				</label>&nbsp;&nbsp;
				<input type="text" ng-model="searchConditions.trmLwrLmtVal">
				<select ng-model='searchConditions.trmLwrLmtUnit'>
					<option value="1">天</option>
					<option value="2">月</option>
					<option value="3">年</option>
				</select>&nbsp;&nbsp; 至&nbsp;&nbsp;
				<input type="text" ng-model="searchConditions.trmUpLmVal">
				<select ng-model='searchConditions.trmUpLmUnit'>
					<option value="1">天</option>
					<option value="2">月</option>
					<option value="3">年</option>
				</select>
			</div>
		</div>
		<button class="btn btn-primary" ng-click='getList()'>查询</button>
	</header>
	<section id='lineDownQuotation'>
		<grid-view
			fields = "fields"
			query = "searchConditions"
			items = "infoList">
		</grid-view>
		<div class="myPage1" >
			<ul  uib-pagination
				boundary-links="true"
				total-items="totalPage"
				ng-model="searchConditions.pageNum"
				previous-text="&lsaquo;"
				next-text="&rsaquo;"
				first-text="&laquo;"
				last-text="&raquo;"
				ng-change='getList()'
				items-per-page='searchConditions.pageSize'
				num-pages="numPages"
				></ul>
			<span style="float: right">{{searchConditions.pageNum}} / {{numPages}}</span>
		</div>
	</section>
</div>
