<div class="lineDownQuotation" ui-view="linedownCreat">
	<header id="top">
		<div class="col">
			<span class="tit">方向</span>
			<div class="btn-group">
				<label class="btn btn-default "
					uib-btn-radio="''"
					ng-model="searchConditions.drc">
					全部
				</label>
				<label class="btn btn-default "
					ng-repeat= "(key,item) in drc.value"
					uib-btn-radio="item.value"
					ng-model="searchConditions.drc">
					{{item.name}}
				</label>
			</div>
		</div>
		<div class="col" >
			<span class="tit">种类</span>
			<div class="btn-group">
				<label class="btn "
					ng-model="searchConditions.ctlg"
					uib-btn-radio="''"
					ng-click='searchConditions.ctlgSelecteds={}'>
					全部
				</label>
				<label class="btn "
					ng-repeat= "(key,item) in ctlg.value"
					ng-model="searchConditions.ctlgSelecteds[key]"
					uib-btn-checkbox
					btn-checkbox-true="item.value"
					ng-click='allOrNoAll()'>
					{{item.name}}
				</label>
			</div>
		</div>
		<div class="col">
			<span class="tit">利率</span>
			<div class="btn-group">
				<label class="btn active">全部</label>&nbsp;
				<input class="form-control" type="text"
					ng-model='searchConditions.intRtStrtVal'>
					&nbsp;&nbsp; 至&nbsp;&nbsp;
				<input class="form-control" type="text"
					ng-model='searchConditions.intRtEndVal'>
				&nbsp;{{ 1 | percentOrBpFilter}}&nbsp;<!-- 百分号 -->
			</div>
		</div>
		<div class="col">
			<span class="tit">期限</span>
			<div class="btn-group">
				<label class="btn "
					ng-model="searchConditions.trmTpBtn"
					uib-btn-radio="''"
					ng-click='searchConditions.trmTpBtnSelecteds={}'>
					全部
				</label>
				<label class="btn "
					ng-repeat= "(key,item) in  trmTp.value"
					ng-model="searchConditions.trmTpBtnSelecteds[key]"
					uib-btn-checkbox
					btn-checkbox-true="item.value"
					ng-hide='item.value==11 '
					ng-click='allOrNoAll()'>
					{{item.name}}
				</label>&nbsp;&nbsp;
				<input class="form-control" type="text" ng-model="searchConditions.trmLwrLmtVal">
				<select class="form-control" ng-model='searchConditions.trmLwrLmtUnit'>
					<option value="1">天</option>
					<option value="2">月</option>
					<option value="3">年</option>
				</select>&nbsp;&nbsp; 至&nbsp;&nbsp;
				<input class="form-control" type="text" ng-model="searchConditions.trmUpLmVal">
				<select class="form-control" ng-model='searchConditions.trmUpLmUnit'>
					<option value="1">天</option>
					<option value="2">月</option>
					<option value="3">年</option>
				</select>
			</div>
		</div>
		<button class="btn btn-primary pull-right" ng-click='getList()'>查询</button>
	</header>
	<section id='lineDownQuotation'>
		<grid-view
			fields = "fields"
			query = "searchConditions"
			items = "infoList">
		</grid-view>
		<div uikit-pager="Pager" style="display: inline-block;text-align: right;width: 100%"></div>
	</section>
</div>
