.spokes_man_html{
    width:100%;
    height:100%;
    font-size: .16rem;
    background:url('../images/spokes_bg.png') no-repeat right .6rem bottom 0;
    background-size:2.18rem 2.64rem;
    overflow:auto;   
} 
.spokes_banner{
    width:7.9rem;
    height:2.2rem;
    background:url('../images/spokes_banner.png') no-repeat;
    background-size:7.88rem 2.18rem;
    overflow:hidden;
}
.spokes_banner_text{
    width:4.12rem;
    height:auto;
    margin-left:1.6rem;
    margin-top:.25rem;
}
.spokes_banner_text h1{
    font-size:.24rem;
    color:#ffeb62;
    padding-bottom:.1rem;
}
.spokes_banner_text p{
    font-size:.14rem;
    color:#fff;
    line-height:.22rem;
}
.spokes_banner dl{
    width:2rem;
    height:2rem;
    float:right;
    margin:.15rem;
}
.spokes_banner dl dt{
    width:1.6rem;
    height:1.6rem;
    margin:0 auto;
}
.spokes_banner dl dt img{
    width:100%;
    height:100%;
}
.spokes_banner dl dd{
    font-size:.14rem;
    color:#fff;
    text-align:center;
    padding-top:.1rem;
}
.spokes_list{
    width:7.9rem;
    height:auto;
    clear:both;
}
.spokes_list h1{
    height:.34rem;
    color:#fff6bf;
    line-height:.34rem;
    font-size:.14rem;
    margin-top:.2rem;
}
.spokes_list dl{
    height:.63rem;
    width:100%;
    border-bottom:1px #36474f solid;
    margin-bottom:0;
}
.spokes_list dl.top_line{
    border-top:1px #36474f solid;
}
.spokes_list dl dt{
    width:.4rem;
    height:.4rem;
    margin:.1rem;
    float:left;
}
.spokes_list dl dt img{
    width:100%;
    height:100%;
}
.spokes_list dl dd{
    width:7.27rem;
    padding:.1rem 0 .1rem .1rem;
    font-size:.14rem;
    float:left;
}
.spokes_list dl dd div{
    float:left;
}
.spokes_list dl dd div.spokes_list_name{
    width:3.6rem;
    color:#fff; 
} 
.spokes_list dl dd div.spokes_list_name_no{
    color:#667882; 
}
.spokes_list dl dd div.spokes_list_glob{
    width:2.5rem;
    height:.4rem;
    color:#ffeb62;
    line-height:.4rem;
}
.spokes_list dl dd div.spokes_list_status{
    width:.8rem;
    height:.3rem;
    border:1px #59be72 solid;
    color:#59be72;
    margin-top:.05rem; 
    text-align:center;
    line-height:.25rem;
    float:right;
}
.spokes_list dl dd div.spokes_list_status_no{
    color:#667882;
    border:1px #667882 solid;
}


