
<div class="spokes_man_html">

    <div class="spokes_banner"> 
        <dl> 
            <dt><img ng-src="{{getImgUrl}}"/></dt>
            <dd>扫二维码并分享给您的好友</dd>
        </dl>
        <div class="spokes_banner_text"> 
            <h1>{{PLiteraText.title}}</h1>
            <p>{{PLiteraText.content}}</p>
            <p>{{PLiteraText.remark}}</p>
        </div>
    </div>
    <div class="spokes_list"> 
        <h1>邀请记录</h1>
        <dl class="top_line" ng-repeat="list in Invitation"> 
            <dt><img ng-src="{{list.headUrl}}"/></dt>
            <dd> 
                <div class="spokes_list_name" ng-if="list.realNameState=='3'"><span ng-class="{spokes_list_name_no:list.realNameState=='1'}">认证姓名：{{list.userName}}</span><br/><span >认证手机：{{list.loginName}}</span></div>
                <div class="spokes_list_name" ng-if="list.realNameState!='3'"><span ng-class="{spokes_list_name_no:list.realNameState=='1'}">认证姓名：未认证</span><br/><span >认证手机：{{list.loginName}}</span></div>
                <div class="spokes_list_glob" ng-if="list.realNameState=='3'">+{{list.accountBalance}}金币</div>
                <div class="spokes_list_glob" ng-if="list.realNameState!='3'"></div>
                <div class="spokes_list_status" ng-class="{spokes_list_status_no:list.realNameState=='1'}">{{list.realNameState | realNameStateFilter}}</div>
            </dd>
        </dl>
        <div uikit-pager="Pager" style="display: inline-block;text-align: right;width: 100%"></div>
    </div> 
</div>  