<div class="lineUp">
	<header id="top">
		<textarea class="cont" ng-model='$ctrl.ofrDscListInfo'></textarea>
		<button class="btn-default pull-right" ng-click="$ctrl.onlineAnalysisOfr()">提交</button>
		<div style="clear: both;"></div>
	</header>
	<section id="lineUpCont">
		<div class="head">
			预览：<div class="plus" ng-click="$ctrl.addBondList()"><span class="bgPlus"></span></div>
		</div>
		<div id="table">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr class="bg">
							<th>方向</th>
							<th>期限</th>
							<th>金额</th>
							<th>模式</th>
							<th>利率</th>
							<th>交易限制</th>
							<th>备注</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='item in  $ctrl.ofrDscList'>
							<td>
								<select name="" id="">
									<option value="1">{{item.drc}}</option>
									<option value="2">融出</option>
								</select>
								<!-- <downlist ng-model="" list-data="{}"></downlist> -->
							</td>
							<td>
								<select name="" id="">
									<option value="">隔夜</option>
									<option value="">7天</option>
								</select>
							</td>
							<td>
								<input type="text">&nbsp;
								<select name="" id="">
									<option value="">万</option>
									<option value="">亿</option>
								</select>

							</td>
							<td>
								<select name="" id="">
									<option value="">押利率</option>
									<option value="">押信用</option>
								</select>
							</td>
							<td>
								<input type="text">
							</td>
							<td>
								<select name="" id="">
									<option value="">押利率</option>
									<option value="">押信用</option>
								</select>
							</td>
							<td>
								<input type="text">
							</td>
							<td>
								<span class="delete" ng-click="$ctrl.deleteList($index)"></span>
							</td>
						</tr>
					</tbody>
			 	</table>
			</div>
		</div>
		<div class="footer">
			<button class="btn btn-primary" ng-click='$ctrl.onlineAddOfr()'>确认发布</button>
		</div>
	</section>
</div>
