.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab{
	background-color:$btnPrimary;
}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover{
	background-color:$btnPrimary;
}
a.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, a.md-button.md-primary.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, a.md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover{
	background-color:$btnPrimary;
}
div#chatroom{
	background: $bgDefaultDarkC;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	$asideW: .6rem;
	$listW: 3.5rem;
	>*{
		height:100%;
	}
	aside{
		float:left;
		width: $asideW;
		background: $bgDefaultDarkB;
		ul{
			li{
				height:$asideW;
				line-height:$asideW;
				text-align:center;
				font-size:.2rem;
				a{
					color:#fff;
					text-shadow:.02rem .02rem .02rem #555;
					display:block;
					width:100%;
					height:100%;
					background-repeat: no-repeat;
					background-position: center;
				}
				a#friendslist{
					background-image:url('../../../../../resource/images/icon_yijia_01_normal.png');
				}
				a#groupslist{
					background-image:url('../../../../../resource/images/icon_yijia_02_normal.png');
				}
				a#bargainlist{
					background-image:url('../../../../../resource/images/icon_yijia_03_normal.png');
				}
			}
			&.friendslist{
				li{
					a#friendslist{
						color:$textB;
						text-shadow:.04rem .04rem .04rem #444;
						@include background('../../../../../resource/images/icon_yijia_01_current.png',$bgDefaultLightA,auto);
					}
				}
			}
			&.groupslist{
				li{
					a#groupslist{
						color:$textB;
						text-shadow:.04rem .04rem .04rem #444;
						@include background('../../../../../resource/images/icon_yijia_02_current.png',$bgDefaultLightA,auto);
					}
				}
			}
			&.bargainlist{
				li{
					a#bargainlist{
						color:$textB;
						text-shadow:.04rem .04rem .04rem #444;
						@include background('../../../../../resource/images/icon_yijia_03_current.png',$bgDefaultLightA,auto);
					}
				}
			}
		}

	}
	div#list{
		float:left;
		width: $listW;
		background-color:#243941;//$bgDefaultLightA;
		overflow:auto;
	}
	$tipsHeaderH:.32rem;
	$infoH:.8rem;
	$btnsH:.4rem;
	$operateHeaderH:.26rem;
	$operateBodyH:.3rem;
	$foldListH1:.24rem;
	$foldListH3:.52rem;
	$sendareaH: 1.6rem;
	main{
		margin-left: $asideW+$listW;
		position:relative;
		>*{
			width:100%;
			position:absolute;
		}
		div#chatcontent{
			top:0;
			bottom:$sendareaH;
			/* overflow-y:auto; */
			background-color:#121f25;
			div.friend-tips{
				/* background-color:red; */
				color:$textD;
				text-align:center;
				height:$tipsHeaderH;
				line-height:$tipsHeaderH;
				background-image:url('../../../../../resource/images/chat_baojia_frame_title_middle.png');
				background-size: auto 100%;
				background-repeat:repeat-x;
			}
			div.bargain{
				position:absolute;
				top:.32rem;
				left:0;
				right:0;
				z-index:10;
				background:$bgDefaultLightA;
				padding:0 .1rem;
				div.info{
					/* background-color:green; */
					height:$infoH;
					font-size:.12rem;
					padding:.1rem 0;
					border-bottom:.01rem solid #3f4d54;
					div.abbr{
						color:$textD;
						margin-top:.02rem 0;
						height:.12rem;
						line-height:.12rem;
						span.drc{
							float:right;
							display:none;
						}
						span.drc.show-drc{
							display:inline;
						}
					}
					div.bond{
						font-size:.14rem;
						color:$textG;
						margin:.08rem 0;
						height:.14rem;
						line-height:.14rem;
						span{
							float:right;
						}
					}
					div.level{
						color:$textB;
						height:.12rem;
						line-height:.12rem;
					}
				}
				div.operate-btns{
					/* background-color:blue; */
					height:$btnsH;
					line-height:$btnsH;
					span#counting{
						height:$btnsH;
						line-height:$btnsH;
						img{
							margin:0 .02rem;
						}
						>span{
							display:inline-block;
							width:.6rem;
						}
					}
					button{
						float:right;
						width:.64rem;
						height:.3rem;
						margin-top:.04rem;
						background-color:$btnPrimary;
						border:0;
						@include radius(.04rem);
						color:$textD;
						margin-right:.02rem;
					}
					button#operateBargain,button#operatePublish{
						margin-right:.5rem;
					}
					button#operateReject{
						color:$textF;
						background-color:$bgDefaultLightC;
					}
					button#operateDeal{
					}
					button#close{
						background-color:$primaryBg;
					}
					button.hide-btn{
						display:none;
					}
				}
				div.operate{
					/* background-color:red; */
					height:$operateHeaderH+$operateBodyH;
					position:relative;
					div.input{
						float:left;
						text-align:center;
						>span{
							display:inline-block;
							height:$operateHeaderH+$operateBodyH;
							line-height:$operateHeaderH+$operateBodyH;
							float:left;
							/* margin:0 .1rem; */
							div.input-label{
								color:$textB;
								font-weight: normal;
								text-align: center;
								height:$operateHeaderH;
								line-height:$operateHeaderH;
							}
							$operateBodyH26:0.26rem;
							div.input-content{
								text-align: center;
								height:$operateBodyH26;
								line-height:$operateBodyH;
								margin:0 .04rem;
								input{
									width:100%;
									height:100%;
									text-align:center;
									background:$bgDefaultDarkA;
									border:0;
									@include radius(.02rem);
									padding:0 .1rem;
								}
								>span{
									display:inline;//inline-block;
									word-break:keep-all;/* 不换行 */ 
									white-space:nowrap;/* 不换行 */ 
									overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
									//text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
									font-size:.16rem;
									color:$textG;
								}
								g-spinner{
									>div{
										height:$operateBodyH26;
										line-height:$operateBodyH;
									}
									>div.g-spinner-input{
										margin-right:.18rem;
										input{}
									}
									>div.g-spinner-spin{
										float:right;
										width:.16rem;
										span{
											display:block;
											height:$operateBodyH/2-.01;
											line-height:$operateBodyH/2-.01;
											background-color:#516974;
											background-repeat: no-repeat;
											background-size: .12rem;
											background-position: center;
										}
										span.g-spinner-up{
											background-image:url('../../../../../resource/images/btn_arrow_packup2_normal.png');
										}
										span.g-spinner-down{
											background-image:url('../../../../../resource/images/btn_arrow_unfold2_normal.png');
											margin-top:.02rem;
										}
									}
								}
							}
						}
					}
				}
				div.bargain-list-state{
					float: right;
					background-image: url('../../../../../resource/images/btn_arrow_unfold1_normal.png');
					background-repeat: no-repeat;
					background-size:.14rem;
					width:.14rem;
					height:.14rem;
					margin-right:.5rem;
					/* position:relative;
					top:.4rem; */
				}
				div.bargain-cur-history{
					/* background-color:yellow; */
					ul.bargain-cur-history-ul{
						li{
							font-size:0;
							height:.24rem;
							line-height:.24rem;
							margin:.02rem 0;
							span{
								text-align:center;
								font-size:.12rem;
								/* margin:0 .1rem; */
								display:inline-block;
								word-break:keep-all;/* 不换行 */ 
								white-space:nowrap;/* 不换行 */ 
								overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
								//text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
							}
							$colW1:.56rem;
							$colW2:.9rem;
							$colW3:.9rem;
							$colW4:.7rem;
							$colW5:1.1rem;
							span.bargain-cur-history-drc{
								width:$colW1;
								div{
									width:.32rem;
									height:.22rem;
									line-height:.2rem;
									text-align:center;
								}
								div.seller{
									border:1px solid $textH;
									color:$textH;
								}
								div.buyer{
									border:1px solid $textI;
									color:$textI;
								}
							}
							span.bargain-cur-history-yldrto{
								width:$colW2;
							}
							span.bargain-cur-history-netprc{
								width:$colW3;
							}
							span.bargain-cur-history-num{
								width:$colW4;
							}
							span.bargain-cur-history-setamt{
								width:$colW5;
							}
						}
						li.diff{
							color:$textG;
						}
					}
				}
			}
			div.bargain.fold{
				display:none;
			}
			ul#chat_content{
				position:absolute;
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$operateBodyH+$foldListH1+$foldListH3;
				left:0;
				bottom:0;
				right:0;
				overflow-y:auto;
			}
			ul#chat_content.fold-list-h0{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$operateBodyH;
			}
			ul#chat_content.fold-list-h1{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$operateBodyH+$foldListH1;
			}
			&#chatcontent.off-bargain{
				ul#chat_content,ul#chat_content.fold-list-h0,ul#chat_content.fold-list-h1{
					top:$tipsHeaderH;
				}
			}
		}
		div#sendarea{
			bottom:0;
			height:$sendareaH;
			min-height:1.6rem;
			background-color:$bgDefaultLightA;
			/* border-top:1px solid $primaryBg; */
			>*{
				display:block;
				position:absolute;
				left:0;
				right:0;
			}
			$fnAreaH: .32rem;
			$btnAreaH: .6rem;
			#fnarea{
				color:#6b838e;
				top:0;
				height:$fnAreaH;
				background-image:url('../../../../../resource/images/img_bg_title.png');
				background-size: auto 100%;
				background-repeat:repeat-x;
				>span{
					display: inline-block;
					height: .3rem;
					line-height: .3rem;
					margin:0 .04rem;
					cursor:pointer;
				}
				span#emoticon{
					margin-left:.1rem;
					margin-right:.4rem;
				}
				span#card{
					margin-right:.4rem;
				}
				span#history{
					float:right;
				}
			}
			textarea#inputarea{
				color:#6b838e;
				font-size:.14rem;
				top:$fnAreaH;
				bottom:$btnAreaH;
				width: inherit;
				resize: none;
				border: 0;
				padding:.04rem;
				background:$bgDefaultLightB;
			}
			#btnarea{
				bottom:0;
				height:$btnAreaH;
				background:$bgDefaultLightB;
				button{
					float:right;
					height:.3rem;
					margin:.1rem;
				}
			}
		}
	}
	main.hide-inputs{
		div#chatcontent{
			div.bargain{
				div.operate{
					height:$operateHeaderH;
					div.input{
						>span{
							height:$operateHeaderH;
							line-height:$operateHeaderH;
							div.input-content{
								display:none;
							}
						}
					}
				}
			}
			ul#chat_content{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$foldListH1+$foldListH3;
			}
			ul#chat_content.fold-list-h0{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH;
			}
			ul#chat_content.fold-list-h1{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$foldListH1;
			}
			&#chatcontent.off-bargain{
				ul#chat_content,ul#chat_content.fold-list-h0,ul#chat_content.fold-list-h1{
					top:$tipsHeaderH;
				}
			}
		}
	}
	main.list-unfold{
		div#chatcontent{
			div.bargain{
				bottom:0;
				div.bargain-list-state{
					background-image: url('../../../../../resource/images/btn_arrow_packup1_normal.png');
				}
				div.bargain-cur-history{
					position:absolute;
					top:$infoH+$btnsH+$operateHeaderH+$operateBodyH;
					bottom:0;
					overflow-y:auto;
				}
			}
			ul#chat_content{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$operateBodyH+$foldListH1+$foldListH3;
			}
			ul#chat_content.fold-list-h0{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$operateBodyH;
			}
			ul#chat_content.fold-list-h1{
				top:$tipsHeaderH+$infoH+$btnsH+$operateHeaderH+$operateBodyH+$foldListH1;
			}
			&#chatcontent.off-bargain{
				ul#chat_content,ul#chat_content.fold-list-h0,ul#chat_content.fold-list-h1{
					top:$tipsHeaderH;
				}
			}
		}
	}
	main.list-unfold.hide-inputs{
		div#chatcontent{
			div.bargain{
				div.bargain-cur-history{
					top:$infoH+$btnsH+$operateHeaderH;
				}
			}
			ul#chat_content{
				display:none;
			}
		}
	}
	div.bargain-all-history{
		display:none;//chatchat
	}
}
div#chatroom.show-chat-history{//chatchat
	$chatHistoryW: 4rem;
	main{
		margin-right: $chatHistoryW+0.04rem;
		div#sendarea{
			#fnarea{
				span#history{
					/* color:$primaryText; */
				}
			}
		}
	}
	div.bargain-all-history{
		float:right;
		width: $chatHistoryW;
		display:block;
		background-color: $bgDefaultLightB;
		$tipsH: .32rem;
		color:$textK;
		position:relative;
		height:100%;
		div.bargain-all-history-tips{
			height: $tipsH;
			line-height: $tipsH;
			background-image:url('../../../../../resource/images/img_bg_title.png');
			background-size: auto 100%;
			background-repeat:repeat-x;
			padding:0 .06rem;
			color:$textD;
		}
		header.bargain-all-history-header{
			font-size:0;
			padding:0 .06rem;
			span{
				font-size:.12rem;
				display:inline-block;
				text-align:center;
				height:$tipsH;
				line-height:$tipsH;
			}
			span.all-history-info{
				width:1.1rem;
				text-align:left;
			}
			span.all-history-drc{
				width:.48rem;
			}
			span.all-history-num{
				width:.5rem;
			}
			span.all-history-yield{
				width:.6rem;
			}
			span.all-history-time{
				width:.8rem;
			}
		}
		div#bargainAllHistory{
			position:absolute;
			top:.64rem;
			left:0;
			right:0;
			bottom:0;
			overflow-y:auto;
			ul.bargain-all-history-list{
				background: $bgDefaultDarkA;
				>li{
					border-bottom:.01rem solid #36474f;//$textK;
					padding:.06rem;
					>div.all-history-item{
						height:.6rem;
						line-height:.6rem;
						font-size:0;
						span{
							font-size:.12rem;
							display:inline-block;
							text-align:center;
							word-break:keep-all;/* 不换行 */ 
							white-space:nowrap;/* 不换行 */ 
							overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
							div.history-info-nm{
								height:.3rem;
								line-height:.4rem;
								color:$textG;
							}
							div.history-info-cd{
								height:.3rem;
								line-height:.2rem;
							}
						}
						span.all-history-info{
							width:1.1rem;
							text-align:left;
						}
						span.all-history-drc{
							width:.48rem;
							height:.6rem;
							line-height:.6rem;
							background-repeat: no-repeat;
							background-position: center;
						}
						span.all-history-drc.drc8{
							background-image:url('../../../../../resource/images/icon_hebuy.png');
						}
						span.all-history-drc.drc9{
							background-image:url('../../../../../resource/images/icon_hesale.png');
						}
						span.all-history-drc.drc2{
							background-image:url('../../../../../resource/images/icon_ibuy.png');
						}
						span.all-history-drc.drc3{
							background-image:url('../../../../../resource/images/icon_isale.png');
						}
						span.all-history-num{
							width:.5rem;
						}
						span.all-history-yield{
							width:.6rem;
						}
						span.all-history-time{
							width:.8rem;
						}
						span.all-history-icon{
							width: .1rem;
							height: .6rem;
							line-height: .6rem;
							background-image:url('../../../../../resource/images/btn_arrow_packup2_normal.png');//btn_arrow_unfold2_normal
							background-size:.1rem;
							background-repeat: no-repeat;
							background-position: center;
						}
					}
					>div.all-history-exchanges{
						border-top:.01rem solid $textK;
						font-size:0;
						position:relative;
						>div.history-exchanges-seller,div.history-exchanges-buyer{
							vertical-align:top;
							display:inline-block;
							width:1.8rem;
							font-size:.12rem;
							margin:.1rem 0;
							text-align:center;
							span{
								font-size:.12rem;
								display:inline-block;
								word-break:keep-all;/* 不换行 */ 
								white-space:nowrap;/* 不换行 */ 
								overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
								color:$textK;
							}
							span.history-exchanges-yldrto{
								width:.5rem;
							}
							span.history-exchanges-netprc{
								width:.64rem;
							}
							span.history-exchanges-num{
								width:.5rem;
							}
						}
						div.history-exchanges-seller{
							color:$textH;
							/* border-right:.01rem solid $textK; */
						}
						div.history-exchanges-buyer{
							color:$textI;
						}
						div.vline{
							width:1px;
							border-left:1px solid $textK;
							position:absolute;
							top:.12rem;
							bottom:.1rem;
							left:1.8rem;
						}
					}
				}
				>li.fold{
					>div.all-history-item{
						span.all-history-icon{
							background-image:url('../../../../../resource/images/btn_arrow_unfold2_normal.png');//btn_arrow_unfold2_normal
						}
					}
					>div.all-history-exchanges{
						display:none;
					}
				}
			}
		}
	}
}