<div class="all_main">
	<!-- //导航 -->
		<div class="nav ">
				<div class="nav_nav" ng-onint="$ctrl.tabkey==0">
					<ul>
						<li class="nav_top" ng-class="{'clear':$ctrl.tabkey==0}"  ng-click="$ctrl.changetab(0)">推荐</li>
						<li class="nav_top"  ng-class="{clear:$ctrl.tabkey==1}" ng-click="$ctrl.changetab(1);$ctrl.isThree=true;$ctrl.isFour=false;$ctrl.xxx_one=false;">负面</li>
						<li class="nav_top" ng-class="{clear:$ctrl.tabkey==2}" ng-click="$ctrl.changetab(2);$ctrl.isThree=true;$ctrl.isFour=false;$ctrl.xxx_one=false;">自媒体</li>
						<li class="nav_top all_show" ng-class="{clear:$ctrl.tabkey==3}" ng-click="$ctrl.changetab(3);$ctrl.isThree=true;$ctrl.isFour=false;$ctrl.xxx_one=false;" >全部</li>
						<li class="nav_top" ng-class="{clear:$ctrl.tabkey==4}" ng-click="$ctrl.changetab(4);$ctrl.isThree=false;$ctrl.isFour=true;$ctrl.xxx_one=false;">收藏({{$ctrl.num_one}})</li>
						<li class="nav_top result_one" ng-class="{clear:$ctrl.tabkey==5}" ng-click="$ctrl.changetab(5);$ctrl.isThree=false;$ctrl.isFour=false;$ctrl.xxx_one=true; "  ng-if="$ctrl.flag_one">搜索结果 <span  ng-click="$ctrl.searchInfoClose()" >
						<img src="../../../../../../resource/images/btn_close02_gray.png" alt="">
						</span></li>

					</ul>
				</div>
				<div class="nav_all">
						<div class="nav_one">
							<!-- <img src="../../../../../../resource/images/btn_refresh_normal.png" height="24" width="40" alt=""> -->
						</div>
						<div class="nav_two">
							<input type="text" ng-model="$ctrl.searchInfo.search">
							<i class="nav_two_close" ng-click="$ctrl.cancelSearch()" ng-If="$ctrl.searchInfo.search.length">
								<!-- <img src="../../../../../../resource/images/btn_clear2_normal" alt=""> -->
							</i>
							<i ng-click="$ctrl.searchInfoLists()">
								<img src="../../../../../../resource/images/icon_search_hover.png" alt="">
							</i>
						</div>
			</div>
				
		</div>
		<!-- tab内容 -->
		<div class="clearfix"></div>
	<div class="table_all">
		<div class="table" >
		<!-- 推荐页面 -->
			<div class="list  introduced" ng-if="$ctrl.tabkey==0"  >
				
				<div class="introduced_center  " iscroll  on-bottom="$ctrl.getrecommendedLists(1)" >
					<ul   id="recoment_ul" ng-repeat="list in $ctrl.table" >
						<li ng-click='$ctrl.activeTab1()'>
						<div class="introduced_lf"  >
							<div class="introduced_center_pp">
								<img ng-src="{{list.img}}" alt="">
							</div>
							<!-- <div class="clearfix"></div> -->
							<div class="introduced_center_bb">
								<!-- <p class="h4">{{list.title}}</p> -->
								<h4 ui-sref="home.messagedetail({iid:list.iid,})">{{list.title}}</h4>
								<p  >{{list.note}}</p>
								<p class="introduced_center_bb_pp" >
								<span class="introduced_center_bb_span_img">
								<img ng-src="{{list.source_logo}}" alt="">
								</span>
								<span>{{list.source}}</span> 
								<span >{{list.time_str}}</span>
								</p>
							</div>
						</div>
						</li>
						
						
					</ul>
					<div class="clearfix"></div>
					<!-- 无资源图片 -->
					<!-- <div class="img_img" ng-If='$ctrl.fullmarks=false'>
							<img src="../../../../../../resource/images/img_head_systemmessage.png" height="" width="" alt="">
					</div> -->

				</div>

			</div>
		<!-- 负面页面 -->
			<div class="list introduced"   >
				<div class="introduced_center" iscroll on-bottom="$ctrl.fn()">
					<ul ng-repeat="lt in $ctrl.one">
						<li ng-click='$ctrl.activeTab1()' >
						<div class="introduced_lf"  >
							<div class="introduced_center_pp">
								<img ng-src="{{lt.img}}" alt="">
							</div>
							
							<div class="introduced_center_bb">
								<h4 ui-sref="home.messagedetail({iid:(lt.iid||lt.info_id)})">{{lt.title}}</h4>
								<p class="introduced_center_bb_filter" ng-bind-html="lt.note|color:$ctrl.searchInfo.search" ng-If="$ctrl.filter"></p>
								<p ng-If="!$ctrl.filter">{{lt.note}}</p>
								<p class="introduced_center_bb_pp">
								<span class="introduced_center_bb_span_img">
								<img ng-src="{{lt.source_logo}}" alt="">
								</span>
								<span>{{lt.source}}</span> 
								<span >{{lt.time_str}}</span>
								<span>{{lt.favorite_time}}</span>
								</p>
								
							</div>
						</div>
						</li>
						
					</ul>
					<div class="clearfix"></div>
					<!-- 收藏 -->
					<div class="img_img"  style="width:300px;height:80px;" ng-show="$ctrl.tag" >
								<div class="img_img_tu" style="height:60px;width:50px;margin:0 auto;">
								<img src="../../../../../../resource/images/icon_hint_noresult.png" height="" width="" alt="">
								</div>
								<p style="text-align:center;">暂无收藏</p>
					</div>
						

					<div class="img_img" ng-If='$ctrl.fullmarks'>
						<img src="../../../../../../resource/images/img_head_systemmessage.png" height="" width="" alt="">
					</div>
						<!-- 搜索结果 -->
					<div class="tips loading"  ng-If="$ctrl.img_flg_one" >
					加载中...
					</div>
					<div class="img_img"  style="width:300px;height:80px;" ng-show="$ctrl.fullmarks_one" >
								<div class="img_img_tu" style="height:60px;width:60px;margin:0 auto;"><img src="../../../../../../resource/images/icon_hint_noresult.png" height="" width="" alt=""></div>
								<p style="text-align:center;">暂无和 <span style="color:#FF9973;">&nbsp;"{{$ctrl.result_end}}"&nbsp;</span>相关的搜索结果</p>
					</div>
				</div>

			</div>
				
		
		

		

		
	<!-- 添加滚动条 -->
	 
	</div>


	<div class="introduced_rt" iscroll on-bottom="$ctrl.qinfoLists()">
		
		<div class="introduced_rt_top">
			<span>快讯</span>
		</div>
		<div class="introduced_rt_center">
			<ul ng-repeat="lis in $ctrl.flash_one" >
				<li ng-init="is_show=0">
					<span  class="pan_a" ng-class="{'span_a':is_show==0, 'span_b':is_show==1}" ng-click="$ctrl.doCheck()">{{lis.data[0].content}}</span>
				<!-- <span ng-show='$ctrl.target' ></span> -->
				<p><span class="introduced_rt_center_time" >{{lis.data[0].time_str}}</span><span class="open">
				<a class="rrrr "  href="javascript:0;" ng-click="$ctrl.doCheck($index);is_show=1" ng-show="is_show==0" > 展开</a>
				<a class="rrrr"  href="javascript:0;" ng-click="$ctrl.doCheck($index);is_show=0"  ng-show="is_show==1" > 收起</a>
				<!-- <a href="javascript:0;" ng-click="$ctrl.doCheck()"  ng-show="$ctrl.target" ><i class=" icon-angle-up"></i> 收起</a> -->
				</span></p>
				</li>
				
				
			</ul>
			<div class="img_img" ng-If='$ctrl.fullmarks_flash'>
			<img src="../../../../../../resource/images/img_head_systemmessage.png" height="" width="" alt="">
			</div>
			</div> 
		</div>

</div>

</div>
