<div class="all_main">
	<!-- //导航 -->
		<div class="nav ">
			<div class="nav_nav">
				<ul>
					<li class="nav_top clear"id="ooo" ng-click="$ctrl.changetab(0)">推荐</li>
					<li class="nav_top"  ng-click="$ctrl.changetab(1)">负面</li>
					<li class="nav_top" ng-click="$ctrl.changetab(2)">自媒体</li>
					<li class="nav_top" ng-click="$ctrl.changetab(3)">全部</li>
					<li class="nav_top" ng-click="$ctrl.changetab(4)">收藏(10)</li>
					<li class="nav_top" ng-click="$ctrl.changetab(5)">详情</li>

				</ul>
				</div>
				<div class="nav_all">
					<div class="nav_one">8888</div>
					<div class="nav_two">
						<input type="text">
						<i class="nav_two_close" ng-click="$ctrl.cancelSearch()">00</i>
						<i>11</i>
					</div>
				</div>
		</div>
		<!-- tab内容 -->
		<div class="clearfix"></div>
		<div class="table">
		<!-- 推荐页面 -->
			<div class="list  introduced"  >
				<!-- <div class="introduced_lf">
					<ul>
						<li>1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
						<li>6</li>
						<li>7</li>
						<li>8</li>
						<li>9</li>
						<li>10</li>
						
					</ul>
				</div> -->
				<div class="introduced_center">
					<ul ng-repeat="list in $ctrl.table">
						<li >
						<div class="introduced_lf">
							<div class="introduced_center_pp">
								<img src="{{list.img}}" alt="">
							</div>
							<!-- <div class="clearfix"></div> -->
							<div class="introduced_center_bb">
								<h5>{{list.title}}</h5>
								<p>{{list.note}}</p>
								<p>{{list.source}} <span >{{list.time_str}}</span><span ng-If="false">时间</span></p>
							</div>
						</div>
						</li>
						<!-- <li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
						<li>6</li>
						<li>7</li>
						<li>8</li>
						<li>9</li>
						<li>10</li> -->
						
					</ul>
					<p class="tips loading">加载中...</p>
				</div>
				<div class="introduced_rt">
					<div class="introduced_rt_top">
						<span>快讯</span>
					</div>
					<div class="introduced_rt_center">
						<ul ng-repeat="lis in $ctrl.flash_one">
							<li ng-init="is_show=0">
								<span  class="pan_a" ng-class="{'span_a':is_show==0, 'span_b':is_show==1}" ng-click="$ctrl.doCheck()">{{lis.data[0].content}}</span>
							<!-- <span ng-show='$ctrl.target' ></span> -->
							<p><span>{{lis.data[0].time_str}}</span><span class="open">
							<a class="rrrr "  href="javascript:0;" ng-click="$ctrl.doCheck($index);is_show=1" ng-show="is_show==0" > 展开</a>
							<a class="rrrr"  href="javascript:0;" ng-click="$ctrl.doCheck($index);is_show=0"  ng-show="is_show==1" > 收起</a>
							<!-- <a href="javascript:0;" ng-click="$ctrl.doCheck()"  ng-show="$ctrl.target" ><i class=" icon-angle-up"></i> 收起</a> -->
							</span></p>
							</li>
						</ul>
						

					</div> 
				</div>
				


			</div>
		<!-- 负面页面 -->
			<div class="list introduced" >
				1111111111111111
			</div>
		<!-- 自媒体页面 -->
			<div class="list introduced" >
				22222222222222222222
			</div>
		<!-- 全部页面 -->
			<div class="list introduced" >
				3333333333333333333
			</div>
		<!-- 收藏页面 -->
			<div class="list introduced">
				44444444444444444
			</div>
		<!-- 详情页面 -->
			<div class="list  "id='details'>
				<div class="details_lf">
					<div class="details_lf_top">
						<h4>科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技</h4>
						<p>时间</p>
					</div>
					<div class="details_lf_contail">
						<p>本期投资提示：</p>
						<p><span>科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技</span></p>
						<p><span>科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技</span></p>
					</div>
					<div class="details_lf_img">
						<!-- 加图片 -->
					</div>
					<div class="details_lf_contail">
						<p><span>科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技</span></p>
						<p><span>科技改变生活”的理念，引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技引进、研发并推动发展金融行业先进的信息技术，以提高金融行业信息技术水平，促进并带动金融行业信息技术的长足发展为目标，创新科技</span></p>
					</div>
					<!-- 评论 -->
					<div class="details_lf_comments">
						<div class="details_lf_comments_text" style="margin-top:10px;">
							<textarea name="" id="" cols="" rows="" ></textarea>
						</div>
						<div class="details_lf_comments_button">
							<button >发布评论</button>
						</div>
					</div>
					<!-- 评论区域 -->
					<div class="details_lf_comments_area">
						<div class="details_lf_comments_area_box">
							<div class="comments_area_header">
								<p>2条评论</p>
							</div>
							<!-- 显示评论内容 -->
							<div class="clearfix"></div>
							<div class="comments_area_content">
								<ul>
									<li style="margin-top:10px;">
									<!-- 评论头像 -->
										<div class="area_content_title">
											<div class="title_one"></div>
											<div class="title_two">
												<p>Mr&nbsp;Me</p>
												<p><span>机构名称</span>&nbsp;&nbsp;<span>职称</span></p>
											</div>
										</div>
										<div class="area_content">
											<p>回复Mr A: 评论正文评论正文评论正文评论正文评论正文评论正文评论正文评论评论正文评论正文评论正文评论正文评论正文评论正文评论正文评论论正文评论正文评论正文评论</p>
											<p class="area_content_time">
											<span class="area_content_span01">2016-08-01 20:40</span> 
											<span class="area_content_span02"><a href="javascript:0;">删除.</a>
											<a href="javascript:0;">赞(10).</a><a href="javascript:0;" ng-If="false">赞.</a>
											<a href="javascript:0;" ng-If="false">已赞(11).</a>
											<a href="javascript:0;" ng-click=" $ctrl.response()">回复</a>
											</span>
											</p>
											<div class="clearfix"></div>
											<p class="import" id="import" >
											<!-- ng-If="$ctrl.reply" -->
											<textarea name="" id="" cols="" rows=""></textarea>
											<!-- <input style="button" class="response" value="发布回复"> -->
											<span id="response">
												<button class="btn  " type="button" ng-click=" $ctrl.cancelBubble()" >取消回复</button>
												<button class="btn  " type="button" >发布回复</button>
											</span>
											
											</p>
										</div>
									</li>
									<div class="clearfix"></div>
									<li style="margin-top:10px;">
									<!-- 评论头像 -->
										<div class="area_content_title">
											<div class="title_one"></div>
											<div class="title_two">
												<p>Mr&nbsp;Me</p>
												<p><span>机构名称</span>&nbsp;&nbsp;<span>职称</span></p>
											</div>
										</div>
										<div class="area_content">
											<p>回复Mr A: 评论正文评论正文评论正文评论正文评论正文评论正文评论正文评论评论正文评论正文评论正文评论正文评论正文评论正文评论正文评论论正文评论正文评论正文评论</p>
											<p class="area_content_time">
											<span class="area_content_span01">2016-08-01 20:40</span> 
											<span class="area_content_span02"><a href="javascript:0;">删除.</a>
											<a href="javascript:0;">赞(10)</a>.<a href="javascript:0;" ng-If="false">赞.</a>
											<a href="javascript:0;" ng-click=" $ctrl.response()">回复</a>
											</span>
											</p>
											<div class="clearfix"></div>
											<p class="import" ng-If="$ctrl.reply" >
											<textarea name="" id="" cols="" rows=""></textarea>
											<!-- <input style="button" class="response" value="发布回复"> -->
											<span id="response">
												<button class="btn  " type="button" >取消回复</button>
												<button class="btn  " type="button" >发布回复</button>
											</span>
											
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- 右侧 -->
				<div class="details_rt">
					<div class="details_rt_top">
						<div class="details_rt_top_left">
							<span>1232</span><span><a  href="javascript:0;" ng-click="$ctrl.getCheck()"   ng-hide="$ctrl.flag" ><i class="icon-angle-down"></i> 收藏</a><a href="javascript:0;" ng-click="$ctrl.getCheck()"  ng-hide="!$ctrl.flag" ><i class=" icon-angle-up"></i> 取消收藏</a></span>
						</div>
						<div class="details_rt_top_right">
							<span>2424</span><span>打开原网站</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="details_rt_contail">
						<div class="details_rt_contail_top">
							<div class="two_top">
							<!-- 图片 -->
								<div class="two_top_lf"></div>
								<div class="two_top_rt">
									<span>	中证网</span>
								</div>
							</div>
							<!-- 内容 -->
							<div class="clearfix"></div>
							<div class="two_center">
								<ul style="list-style-type:lower-roman;">
									<li>的理念，引进、研发并推动发展金融行业先进的信息技术，以提高</li>
									<li>促进并带动金融行业信息技术的长足发展为目标，创新科技引进、</li>
									<li>研发并推动发展金融行业先进的信息技术，足发展为目标</li>
									<li>业信息技术水平，促进并带动金融行业信息技术的长足发展为目标</li>
								</ul>



							</div>
						</div>

						<div class="details_rt_contail_footer">
							<button class="one_left">
								<p>上一篇：</p>
								<p>上一篇资讯标题上一篇</p>
							</button>
							<button class="one_right">
								<p>下一篇：</p>
								<p>上一篇资讯标题上一篇</p>
							</button>
						</div>
					</div>


				</div>
				

			</div>

		</div>
</div>
