<div class="nowBond " >
	<div class="modal-header">
		<h3 class="modal-title" >现券报价
		    <i class="fa fa-times pull-right" aria-hidden="true" ng-click="$instanceCtrl.cancel()""></i>
		</h3>
	</div>
	<div class="modal-body">
		<div class="table-responsive mytable" ng-class='{"hideRight" : $instanceCtrl.hideRight}'>
			<div class="head">
				<span>
					<label style="padding:10px;">方向</label>
					<label  ng-model='$instanceCtrl.drc' uib-btn-radio="'1'"  class="btn ">卖出</label >
					<label  ng-model='$instanceCtrl.drc' uib-btn-radio="'-1'"  class="btn ">买入</label >
				</span>
				<span class="pull-right">
					<button class="btn btn-warning " type="button" ng-click="$instanceCtrl.addQuote()">添加债券</button>
				<!-- <button class="btn btn-warning" type="button" ng-click="$instanceCtrl.cancel()">债券搜索</button> -->
					<button class="btn btn-warning" type="button" ng-click="$instanceCtrl.show()">债券搜索</button>
					<!-- <button class="btn btn-warning" type="button" ng-click="$instanceCtrl.show()">客户经理代挂</button> -->
				</span>
			</div>
			<table class="table myTable">
				<thead>
					<tr class="bg">
						<th style="width:.5rem">序号</th>
						<!-- <th style="width:.46rem">方向</th> -->
						<th style="width:.90rem">债券代码</th>
						<th style="width:1.17rem">债券简称</th>
						<th style="width:.66rem">数量(万)</th>
						<th style="width:.67rem">收益率%</th>
						<th style="width:.71rem">净价(元)</th>
						<th style="width:.57rem">匿名</th>
						<th style="width:.7rem" ng-class="{'hidden' : $instanceCtrl.isShow ==false }">大厅挂牌</th>
						<th style="width:1.43rem">备注</th>
						<th style="width:0.5rem">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in $instanceCtrl.quoteList" >
						<td style="width:.5rem">
							{{$index+1}}
							<!-- <input type="checkbox" ng-model="item.checked"> -->
						</td>
						<!-- <td style="width:.46rem"> -->
							<!-- <input type="text" ng-model="item.drc"> -->
						<!-- </td> -->
						<td style="width:.90rem">
							<input type="text"
								placeholder="请输入债券代码或简称"
								ng-model="item.bondCd"
								uib-typeahead="list as list.bondCd for list in  $instanceCtrl.queryQuote($viewValue)"
								typeahead-template-url="customTemplate2.html"
								typeahead-on-select = '$instanceCtrl.showBondShrtnm($item,$index)'
								typeahead-show-hint="false">
						</td>
						<td style="width:1.17rem">
							<input type="text" disabled="true" ng-model="item.bondShrtnm">
						</td>
						<td style="width:.66rem">
							<input type="text" ng-model="item.num" >
						</td>
						<td style="width:.67rem">
							<input type="text" ng-model="item.yield"  ng-change='$instanceCtrl.netprc(item ,item.bondCd)'>
						</td>
						<td style="width:.71rem">
							<input type="text" ng-model="item.netprc" ng-change='$instanceCtrl.yield(item ,item.bondCd)'>
						</td>
						<td style="width:.57rem">
							<input type="checkbox" ng-model="item.wthrAnon">
						</td>
						<td style="width:.68rem" ng-class="{'hidden' : $instanceCtrl.isShow ==false }" >
							<input type="checkbox" ng-model="item.wthrListg" >
						</td>
						<td style="width:1.43rem">
							<!-- <textarea  ng-model="item.remark" ></textarea> -->
							<input type="text" ng-model="item.remark" ng-change='$instanceCtrl.deleteRemark(item)'>
						</td>
						<td style="width:.68rem">
							<span ng-click='$instanceCtrl.delete($index)'>删除</span>
							<!-- <input type="text" ng-model="item.remark"> -->
						</td>
					</tr>
				</tbody>
		 	</table>
		</div>
		<div class="mysearch" ng-class='{"hideRight" : $instanceCtrl.hideRight}'>
			<header>
				债券搜索
			</header>
			<div>
				<div style="display: inline-block;width: 50%;">
					债券类型
					<select ng-model="$instanceCtrl.searchConditions.creditType">
						<option value="">全部</option>
						<option value="1">利率债</option>
						<option value="2">国债</option>
						<option value="3">央票</option>
						<option value="4">金融债</option>
						<option value="5">地方债</option>
						<option value="6">信用债</option>
						<option value="7">短融</option>
						<option value="8">中票</option>
						<option value="9">企业债</option>
						<option value="10">公司债</option>
						<option value="11">同业存单</option>
						<option value="99">其他</option>
					</select>
				</div>
				<div  style="display: inline-block;width: 50%;">
					期限
					<span style="display: inline-block;text-align:center;width: 0.51rem;height: 0.2rem;background: url(../../../../../resource/images/btn_changeday_normal.png) no-repeat center; position: relative;right: -0.1rem;">
						{{$instanceCtrl.searchConditions.termType}}
					</span>
				</div>
				
				
				<input type="text"  style="width:90px;" ng-model="$instanceCtrl.searchConditions.termStart">&nbsp;&nbsp;至&nbsp;&nbsp;  
				<input type="text" style="width:90px;" ng-model="$instanceCtrl.searchConditions.termEnd">
				票面
				<select ng-model="$instanceCtrl.searchConditions.rateType">
					<option value="">全部</option>
					<option value="1">浮息</option>
					<option value="2">固息</option>
				</select>
				评级
				<select ng-model="$instanceCtrl.searchConditions.creditSymbol">
					<option value="">全部</option>
					<option value="1">AAA1</option>
					<option value="2">AA+</option>
					<option value="3">AA</option>
					<option value="4">AA-</option>
					<option value="5">A+</option>
					<option value="99">其他</option>
				</select>
				<button type='button' ng-click="$instanceCtrl.searchBonds()">搜索</button>
			</div>
			<main>
				<div class="table-responsive table-search-list">
					<table class="table ">
						<thead>
							<tr class="bg">
								<th>债券代码</th>
								<th>债券简称</th>
								<th>收益率%</th>
								<th>剩余期限</th>
								<th>评级</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item2 in $instanceCtrl.searchList">
								<td>{{item2.bondCd}}</td>
								<td>{{item2.bondShrtnm }}</td>
								<td>{{item2.yield | yldrtoFilter}}</td>
								<td>{{item2.rsdtrm }}</td>
								<td>{{item2.sbjRtg}}</td>
								<td>
									<a ng-click="$instanceCtrl.addQuote(item2)">+</a>
								</td>
							</tr>
						</tbody>
				 	</table>
				</div>
				<!-- <ul>
					<li ng-repeat="item in $instanceCtrl.items">
						<a href="#" ng-click="$event.preventDefault(); $instanceCtrl.selected.item = item">{{ item }}</a>
					</li>
				</ul>
				Selected:<b>{{ $instanceCtrl.selected.item }}</b> -->
			</main>
		</div>
		<div style="clear: both;"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$instanceCtrl.ok()">发布</button>
	</div>
</div>
<script type="text/ng-template" id="customTemplate2.html">
	<a data-id="{{match.model.bondid}}">
		<span ng-bind-html="match.label | uibTypeaheadHighlight:query" ></span>
		<span>{{match.model.bondShrtnm}}</span>
		<span>{{match.model.sbjRtg}}</span>
		<span>{{match.model.rsdtrm}}</span>
	</a>
</script>
