<!-- <div>
	<p>{{ $ctrl.name }}</p>
</div> -->
<!-- 弹窗 -->

<div class="newdebtdialog " >
	<!-- <div class="modal-wfcontent"  > -->
		<div class="modal-header ng-scope">
			<p class="modal-title newdebtdialog-title" >申购 
				<i class="fa fa-times cancal-right" aria-hidden="true" ng-click="$ctrl.closenewDebt()"></i>
			</p>
		</div>
		<div class="modal-body ng-scope newdebtdialog-body"  >
			<div class="modal-body_one">
				<p>联系人：<span>{{$ctrl.allnewdebtobject.instNm}}</span>-<span>{{$ctrl.allnewdebtobject.teamNm}}</span>-<span>{{$ctrl.allnewdebtobject.position}}投资经理</span>- <span>{{$ctrl.allnewdebtobject.userNm}}</span><span class="modal-body_span" ng-click="$ctrl.iWantDstrs()">我要分销</span> </p>
			</div>
			<div class="modal-body_two">
				<div class="modal-body_two_lf">{{$ctrl.Infolist_newdebt.bondNm}}</div>
				<div class="modal-body_two_bot">
					<p><span>债券期限：{{$ctrl.Infolist_newdebt.trm}}</span><span>发行规模（亿）：{{$ctrl.Infolist_newdebt.issuNum}}</span></p>
					<p><span>申购利率(%)：
					<!-- {{$ctrl.Infolist_newdebt.sbrbIntrtLwrLmt}}-{{$ctrl.Infolist_newdebt.sbrbIntrtUpLm}} -->

					<e ng-show="$ctrl.Infolist_newdebt.sbrbIntrtLwrLmtBoder">[</e>   <e ng-show="!$ctrl.Infolist_newdebt.sbrbIntrtLwrLmtBoder">(</e> {{$ctrl.Infolist_newdebt.sbrbIntrtLwrLmt | dotFilter}}-{{$ctrl.Infolist_newdebt.sbrbIntrtUpLm | dotFilter }} <e ng-show="!$ctrl.Infolist_newdebt.sbrbIntrtUpLmBoder">)</e><e ng-show="$ctrl.Infolist_newdebt.sbrbIntrtUpLmBoder">]</e>

					</span><span>主/债评级：{{$ctrl.Infolist_newdebt.sbjRtg}}/{{$ctrl.Infolist_newdebt.dbtItmRtg}}</span></p>
				</div>
			</div>
			<div class="modal-body_three">
				<ul>
					<li>全场倍数：{{$ctrl.Infolist_newdebt.whlTmsNum}}<i></i></li>
					<li>边际利率：{{$ctrl.Infolist_newdebt.bdyIntrt}}<i></i></li>
					<li>边际倍数：{{$ctrl.Infolist_newdebt.bdyTmsNum}}<i></i></li>
					<li class="modal-body_three_li">截标时间：{{$ctrl.Infolist_newdebt.clsbidTm}}</li>
				</ul>
			</div>
			<form action="" name="myForm" ng-submit="$ctrl.addSbrbList()">
				<div class="modal-body_middle">
					<div class="modal-body_four">
					申购量占发行量的比例(%)：{{addSbrblistInfo_num | dotFilter }}
					</div>
					<div class="modal-body_five">

						 <table  class=" table-responsive  table my_table">
								<thead>
									<tr style="background:#273B46;" >
										<th ></th>
										<th >利率(%)</th>
										<th>申购量(万)</th>
										<th> 交割方式</th>
										<th >销售方式</th>	
										<th >备注</th>
										
									</tr>
								</thead >
								<tbody style="border: none; "  ng-inint="index == 0">
									<tr  ng-repeat="item in $ctrl.addSbrblistInfo.bondSbrbVOList track by $index">
										<td >{{item.num}}</td>
										<td><input type="text"  ng-model="item.sbrbIntrt"></td>
										<td><input type="text" ng-model="item.sbrbNum"></td>
										<td><select name=""  class="td_select" ng-model="item.dlvTp" name= 'dlvTp '>
											<option value="1" ng-selected="1">分销</option>
											<option value="2">上市</option>
										</select></td>
										<td>
										<select name=""  class="td_select" ng-model="item.sellrMod" name= 'sellrMod ' >
											<option value="1" ng-selected="1">折价</option>
											<option value="2">单反</option>
										</select>
										</td>
										<td><input type="text" ng-model="item.rmrk" class="myfenxiao" maxlength="10"></td>
									</tr> 
									
								</tbody>
					</table>
					</div>
					<div class="modal-body_footer">
						<p> <span class="span_class"><img src="../../../../../resource/images/icon_addlist_hover.png" height="16" width="18" alt=""></span><span ng-click="$ctrl.addnewDebtin($ctrl.addnewDebtinInfo)">增加标位</span><span class="modal-body_footer_sa" ng-click="$ctrl.clearInfo()">清空信息</span></p>
					</div>
				</div>
				<div class="modal_footer_end">
					<input  type="submit" class="btn  modal_footer_end_button" style="background:#FF671B;" value="申购"/>
				    <button type="button" class="btn " ng-click="$ctrl.closenewDebt()" >取消</button>
				</div>
			</form>
		</div>
</div>
