<div class="mywealth_html">
    <div class="mywealth_banner"> 
        <div class="mywealth_banner_left"> 
            <h1>我的金币</h1>
            <h2>{{coinRemain}}</h2> 
            <div><button type="button" ng-click="goldFun()">金币记录</button><button type="button" style="margin-left:.2rem" ng-click="giftFun()">兑换记录</button></div>
        </div> 
        <!--轮播图-->
        <div class="mywealth_banner_right"> 
            <div uib-carousel interval="2000" active="active1" style='height:100%'>
                <div uib-slide ng-repeat="aa in slidesBanner track by aa.index" index="aa.index">
                    <img ng-src="{{aa.imageUrl}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="mywealth_liwu"> 
        <h1 class="h1">商城礼品</h1>
        <dl class="dl" ng-repeat="g_list in golbExchangeList"> 
            <dt><img ng-src="{{g_list.imageUrl}}"/></dt>
            <dd> 
                <h1>{{g_list.name}}</h1>
                <h1>{{g_list.description}}</h1>
                <p>{{g_list.priceCoin}}金币</p>
                <button type="button" ng-click="open(g_list)">兑换商品</button>
            </dd>
        </dl>
    </div>
    <div class="mywealth_list">
        <uib-tabset ng-init='active=0' active='active' id="jilu" >
            <uib-tab index="0" class="ulTab" heading="金币记录" ng-click="goldShuaXin()">
                <div class="tab_table1"> 
                    <table class="table mywealth_table">
                        <tbody>
                            <tr ng-repeat="list in goldRecord"> 
                                <td>{{list.createTime}}</td>
                                <td>{{list.detailTypeStr}}</td>
                                <td>{{list.coinChange}}金币</td>
                                <td>余额：{{list.coinRemain}}金币</td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div uikit-pager="Pager1" style="display: inline-block;text-align: right;width: 100%"></div>
            </uib-tab>
            <uib-tab index="1"  heading="兑换记录" id="duihuan">
                <div class="mywealth_jilu"> 
                    <dl class="top_line" ng-repeat="Cv_list in recordConversion"> 
                        <dt><img ng-src="{{Cv_list.imageUrl}}"/></dt>
                        <dd class="dd1"> 
                            <div class="mywealth_list_name">
                                <span>兑换</span>{{Cv_list.name}}{{Cv_list.description}}<br/>
                                <span style="font-size:.14rem">订单号：{{Cv_list.orderNumber}}</span><br/>
                                <span class="jujue" ng-if="Cv_list.status==103">被拒原因：{{Cv_list.remarks}}</span> 
                            </div>
                            <div class="mywealth_list_status"> 
                                <span>花费金币：</span><span style="color:#ffeb62">{{Cv_list.totalCoin}}</span><br/>
                                <span style="color:#6b838e;font-size:.14rem;">兑换时间：{{Cv_list.requestTime}}</span>                           
                            </div> 
                        </dd>
                        <dd class="dd2" ng-if="Cv_list.status==102"><img src="../images/jl_bg1.png"/></dd>
                        <dd class="dd2" ng-if="Cv_list.status==103"><img src="../images/jl_bg2.png"/></dd>
                        <dd class="dd2" ng-if="Cv_list.status==101"><img src="../images/jl_bg3.png"/></dd>
                        <dd class="dd2" ng-if="Cv_list.status==104"><img src="../images/jl_bg4.png"/></dd>
                        <dd class="dd2" ng-if="Cv_list.status==105"><img src="../images/jl_bg5.png"/></dd>
                    </dl>
                </div> 
                <div uikit-pager="Pager2" style="display: inline-block;text-align: right;width: 100%"></div>
            </uib-tab>
        </uib-tabset>
        
    </div>
</div>