<div class="pageheader">
	<div id="altarea">
		<div id="logo" class="leftblock">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="home">GSJ</a>
			</div>
		</div>
		<div id="nav" class="leftblock">
			<pagenav></pagenav>
		</div>
		<div id="qrcode" class="leftblock"></div>
		<div id="tag" class="rightblock"></div>
		<div id="menu" class="rightblock"></div>
		<div id="coin" class="rightblock"></div>
		<div id="complain" class="rightblock"></div>
		<div style="clear:both;"></div>
	</div>
	<pagetab test="xxx"></pagetab>
</div>