@import "../../css/common";

.navbar-header > a.navbar-brand {padding-top:.5rem !important; padding-bottom:5px !important; height:auto;}
.navbar-header {min-height:2.4rem !important}

.pageheader{
	background-color: $defaultBgDark;
	height:4.8rem;
	display:block;
}

div#altarea{
	#logo{
		margin:0 1rem;
	}
	.leftblock,.rightblock{
		height:2.4rem;
		line-height:2.4rem;
		color:$defaultTextLight;
	}
	.leftblock{
		float:left;
	}
	.rightblock{
		float:right;
	}
	#nav{
		width: 21rem;
	}
}