@import "../../css/common";

.pagenav{
	background-color: $defaultBgDark;
	height:2.2rem;
	line-height:2.2rem;
	display:block;
	.navbar{
		min-height:2.2rem !important; 
		margin-bottom: 0;
		ul.nav.navbar-nav{
			li{
				height:2.2rem;
				display:inline-block;
				a {
					height:2.2rem;
					padding-top:.3rem !important;
					padding-bottom:.3rem !important;
				}
			}
		}
	}
}