@import "../../css/common";

.pagenav{
	background-color: $defaultBgDark;
	height:.22rem;
	line-height:.22rem;
	display:block;
	.navbar{
		min-height:.22rem !important; 
		margin-bottom: 0;
		ul.nav.navbar-nav{
			li{
				height:.22rem;
				display:inline-block;
				a {
					height:.22rem;
					padding-top:.03rem !important;
					padding-bottom:.03rem !important;
				}
			}
		}
	}
}