<div class="nav">
	<ul id="nav">
		<li ng-repeat="level1 in $ctrl.navs">
			<a ui-sref="{{level1.rstate}}" ng-click="$ctrl.addtab(level1)">{{level1.rlabel}}</a>
			<ul>
				<li ng-repeat="level2 in level1.children">
					<a ui-sref="{{level2.rstate}}" ng-click="$ctrl.addtab(level2)">{{level2.rlabel}}</a>
					<ul class="xd">
						<li ng-repeat="level3 in level2.children">
							<a ui-sref="{{level3.rstate}}" ng-click="$ctrl.addtab(level3)">{{level3.rlabel}}</a>
							<ul class="xd">
								<li ng-repeat="level4 in level3.children">
									<a ui-sref="{{level4.rstate}}" ng-click="$ctrl.addtab(level4)">{{level4.rlabel}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>