.login-body {
	height: 100%;
	overflow:auto;
	background:url('./images/img_login_bg.jpg') #3a3c48;
	div.bgbanner{
		width: 10rem;
		margin: 0 auto;
		position:relative;
	}

	header{
		height:.4rem;
		line-height:.4rem;
		div.header-left{
			float:left;
		}
		div.header-right{
			width:27vw;
			float:right;
			>*{
				color:#fff;
			}
			a{
				margin-right:2vw;
				font-size:.94vw;
			}
			a:hover,a:active{
				color:#5999e9;
				text-decoration: none;
			}
			#register{
				font-size:.8vw;
				padding: 5px 20px;
				background:#5a99e9;
				float:right;
				margin-top:1.4vh;
				border-width: 0;
				border-radius: 3px;
				line-height: 25px;
			}
		}
	}
	.main {
		padding: 1rem 0;
	}
	.laptop {
		float:left;
		width: 5.2rem;
		margin-left: -.7rem;
	}
	.login-form-main{
		float:right;
		padding: .56rem 0;
		color:#fff;
		text-align:center;
		width: 3.92rem;
	}
	.login-title{
		font-size:.25rem;
		text-align: center;
		padding-left: .56rem;
	}
	.login-form-main a{
		margin:0 1vh;
		color:#fff;
	}
	::-webkit-input-placeholder{
		color: #fff;
	}
	:-moz-placeholder{
		color: #fff;
	}
	::-moz-placeholder{
		color: #fff;
	}
	:-ms-input-placeholder {
		color: #fff;
	}
	.login-tr{
		width:100%;
		height:.36rem;
		font-size:.12rem;
		.login-tr-icon{
			float:left;
			display:block;
			width:12%;
			height:80%;
			img{
				margin-top:1vh;
				height: 100%;
			}
		}
		.login-tr-input{
			position: relative;
			margin-left:14%;
			height:80%;
			input{
				height:100%;
				width:100%;
				border:none;
				color:#fff;
				background-color: rgba(255,255,255,.2);
				padding-left:.08rem;
				border:1px solid #c1b8b1;
				border-radius: .04rem;
				-moz-border-radius: .04rem;
				-webkit-border-radius: .04rem;
			}
		}

	}
	.loginbtn{
		font-size:.16rem;
		background-color: #5999e9;
		width:100%;
		height:100%;
		border:none;
		border-radius: .04rem;
		-moz-border-radius: .04rem;
		-webkit-border-radius: .04rem;
	}
	.login-tr-footer{
		padding-left: .56rem;
	}
	.pic-generation-img {
		position:absolute;
		top:0;
		right: 0;
		height:100%;
	}
	footer{
		padding: .7rem 0 .35rem;
		width:100%;
		background: #3A3C48;
		overflow:hidden;
		>div.footer-con{
			width:10rem;
			margin: 0 auto;
			dl{
				padding-right:.6rem;
				float:left;
				dt{
					width:3.4vw;
					height:6vw;
					float:left;
					background-repeat: no-repeat;
					background-size:2.4vw 2.4vw;
					background-position: 0 50%;
					border-right:1px #50525a solid;
				}
				dd{
					float:left;
					padding-left:1vw;
					p{
						color:#a0a3b2;
						padding:1vh 0;
						margin:0;
						a{
							color:#a0a3b2;
							text-decoration:none;
							cursor:pointer;
						}
					}
				}
			}
			dl.footer-about dt{
				background-image:url('./images/icon_footer_about.png');
			}
			dl.footer-wechat{
				dt{
					background-image:url('./images/icon_footer_wechat.png');
				}
				dd.dd2 div{
					height:6vw;
					background:url('./images/img_footer_QRcode.png') no-repeat left center;
					background-size:6vw 6vw;
					padding-left:8vw; 
					p{
						padding-top:1vh;
					}
				}
			}
			dl.footer-connect{
				dt{
					background-image:url('./images/icon_footer_connect.png');
				}
				dd{
					p{
						padding-top:1vh;
					}
					p:last-child{
						padding-left:2vw;
					}
				}
			}
		}
	}
	
}