<div class="login-body">
	<style type="text/css">
		@media screen and (min-width: 1900px) {
		    html {
				font-size:140px;
			}
		}
	</style>
	<div class="bgbanner">
		<header>
			<div class="header-left">
				<img src="./images/top_logo1.png"/>
			</div>
			<div class="header-right" id="header_right">
				<a href="{{$root.window.officialnUrl}}" class="on">首页</a>
				<a href="{{$root.window.officialnUrl}}/html/newmessage.html">最新资讯</a>
				<a href="{{$root.window.officialnUrl}}/html/aboutus.html">关于我们</a>
				<a href="{{$root.window.officialnUrl}}/html/download.html">下载</a>
				<a id="register" href="{{$root.window.officialnUrl}}/html/register.html" >注册</a>
			</div>
		</header>
		<div class="main">
			<img class="laptop" src="./images/img_login_UI.png" alt="">
			
			<div class="login-form-main">
				<form class="login-form" ng-submit="$ctrl.login()" name="loginForm" novalidate="novalidate">
				<div class="login-tr">
					<div class="login-title">登录</div>
				</div>
				<div class="login-tr">
					<span class="login-tr-icon">
						<img id="login-icon-account" src="./images/icon_login_phone.png" alt="">
					</span>
					<div class="login-tr-input">
						<input type="text" id="account" name="account" ng-model="$ctrl.account"
						placeholder="注册手机号"
						validation-tooltip="$ctrl.validdationAccount($value)">
					</div>
					<!-- {{$ctrl.account}} -->
				</div>
				<div class="login-tr">
					<span class="login-tr-icon">
						<img id="login-icon-account" src="./images/icon_login_password.png" alt="">
					</span>
					<div class="login-tr-input">
						<input type="password" id="password" name="password" ng-model="$ctrl.password"
						placeholder="登录密码"
						validation-tooltip="$ctrl.validdationPassword($value)"><!-- {{$ctrl.password}} -->
					</div>
				</div>
				<div class="login-tr">
					<span class="login-tr-icon">
						<img id="login-icon-account" src="./images/icon_login_CAPTCHA.png" alt="">
					</span>
					<div class="login-tr-input" style="text-align: left;">
						<input type="text" id="picGenerationCode" name="picGenerationCode" ng-model="$ctrl.picGenerationCode"
						placeholder="图形验证码"
						validation-tooltip="$ctrl.validdationCode($value)">
						<img class="pic-generation-img" ng-src="{{$ctrl.picGenerationUrl}}" ng-click="$ctrl.reloadPicGenerationUrl($ctrl.account)">
					</div>
				</div>
				<div class="login-tr">
					<span class="login-tr-icon"></span>
					<div class="login-tr-input">
						<button type="submit" class="loginbtn">
							<span>{{$ctrl.loginLabel}}</span>
						</button>
					</div>
				</div>
				<div class="login-tr login-tr-footer">
					<a href="{{$root.window.officialnUrl}}html/register.html">注册账号</a>|<a href="#">忘记密码</a>
				</div>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<footer>
		<div class="footer-con">
			<dl class="footer-about">
				<dt></dt>
				<dd>
					<p><a href="{{$root.window.officialnUrl}}/html/newmessage.html">最新资讯</a></p>
					<p><a href="{{$root.window.officialnUrl}}/html/aboutus.html">关于我们</a></p>
					<p>服务条款</p>
				</dd>
			</dl>
			<dl class="footer-wechat">
				<dt></dt>
				<dd class="dd2">
					<div> 
						<p>扫码关注微信公众号</p>
						<p>或搜索公众号：alphabond</p>
						<p>获得最新咨询</p>
					</div>
				</dd>
			</dl>
			<dl class="footer-connect">
				<dt style=""></dt>
				<dd> 
					<p>联系客服：400-658-6610</p>
					<p>意见反馈：service@afcatstar.com.cn</p>
					<p>公司地址：中国·北京市海淀区中关村南大街2号</p>
					<p>数码大厦A座22层</p>
				</dd>
			</dl>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>
