<div id="wrap">
	<div class="bgbanner">
		<img id="laptop" src="../../../app/components/login/images/img_login_UI.png" alt="">
		<header>
			<div class="header-left">
				<img src="../../../app/components/login/images/top_logo1.png"/>
			</div>
			<div class="header-right" id="header_right">
				<a href="http://www.alphabond.com.cn/html/index.html" class="on">首页</a>
				<a href="http://www.alphabond.com.cn/html/newmessage.html">最新资讯</a>
				<a href="http://www.alphabond.com.cn/html/aboutus.html">关于我们</a>
				<a href="http://www.alphabond.com.cn/html/download.html">下载</a>
				<button id="register" type="button" class="btn">注册</button>
			</div>
		</header>
		<main>
			<div id="dialog">
				<div class="login-tr">
					<div id="login">登录</div>
				</div>
				<div class="login-tr">
					<span class="login-tr-icon">
						<img id="login-icon-account" src="../../../app/components/login/images/icon_login_phone.png" alt="">
					</span>
					<div class="login-tr-input">
						<input type="text" id="account" ng-model="$ctrl.account">
					</div>
					<!-- {{$ctrl.account}} -->
				</div>
				<div class="login-tr">
					<span class="login-tr-icon">
						<img id="login-icon-account" src="../../../app/components/login/images/icon_login_password.png" alt="">
					</span>
					<div class="login-tr-input">
						<input type="password" id="password" ng-model="$ctrl.password"><!-- {{$ctrl.password}} -->
					</div>
				</div>
				<div class="login-tr">
					<span class="login-tr-icon">
						<img id="login-icon-account" src="../../../app/components/login/images/icon_login_CAPTCHA.png" alt="">
					</span>
					<div class="login-tr-input">
						<input type="generator" id="generator" ng-model="$ctrl.generator"><!-- {{$ctrl.password}} -->
					</div>
				</div>
				<div class="login-tr">
					<span class="login-tr-icon"></span>
					<div class="login-tr-input">
						<button type="button" id="loginbtn" ng-click="$ctrl.login()">登录</button>
					</div>
				</div>
				<div class="login-tr">
					<a href="#">注册账号</a>|<a href="#">忘记密码</a>
					<button class="btn btn-default" type="button" ng-click="$ctrl.hack()">HACK</button>
				</div>
			</div>
		</main>
	</div>
	<footer>
		<div class="footer-con">
			<dl class="footer-about">
				<dt></dt>
				<dd>
					<p><a href="http://www.alphabond.com.cn/html/newmessage.html">最新资讯</a></p>
					<p><a href="http://www.alphabond.com.cn/html/aboutus.html">关于我们</a></p>
					<p>服务条款</p>
				</dd>
			</dl>
			<dl class="footer-wechat">
				<dt></dt>
				<dd class="dd2">
					<div> 
						<p>扫码关注微信公众号</p>
						<p>或搜索公众号：alphabond</p>
						<p>获得最新咨询</p>
					</div>
				</dd>
			</dl>
			<dl class="footer-connect">
				<dt style=""></dt>
				<dd> 
					<p>联系客服：400-658-6610</p>
					<p>意见反馈：service@afcatstar.com.cn</p>
					<p>公司地址：中国·北京市海淀区中关村南大街2号</p>
					<p>数码大厦A座22层</p>
				</dd>
			</dl>
		</div>
	</footer>
</div>
<!-- <hr>
<div>
	<p>注册</p>
	<span>账号</span><input type="text" id="acc" ng-model="$ctrl.acc">{{$ctrl.acc}}
	<button type="button" ng-click="$ctrl.generate()">获取验证码</button>
	<br>
	<span>密码</span><input type="password" id="pas" ng-model="$ctrl.pas">{{$ctrl.pas}}
	<br>
	<button type="button" ng-click="$ctrl.register()">注册</button>
</div>
<pre>
	13365439876 qwer 107802
	13891179999 123456a 5304
</pre> -->