<!-- <div>
	<p>{{ $ctrl.id }}</p>
</div> -->
<!-- 下拉选择 -->
<div class="ourSelect"  ng-mouseleave='$ctrl.xxxx()'>
	<input type="text" class="one" uib-tooltip="{{$ctrl.info}}" placeholder="{{$ctrl.placeholder}}" ng-focus='$ctrl.isCollapsed = "true"'  ng-model='$ctrl.info' >
	<span class="pull-right">
		<div class="unSelectBg" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"></div>
        <!-- <i class=" glyphicon"  ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i> -->
    </span>
	<div class="tree"  uib-collapse="!$ctrl.isCollapsed" >
	  	<ul class="scroll-body one" slim-scroll>
		    <li ng-class="closed" ng-repeat='list1 in $ctrl.data.data;'>
		      	<div class="one " ng-click="isCollapsed2 = !isCollapsed2" ng-click='$ctrl.ourStopPropagation($event)'>
		      		<!-- {{list1.checked}} -->
		        	<label for="list1" ng-click='$ctrl.ourStopPropagation($event)' ng-class="{'unSelectBg' :(!list1.checked ) ,'selectBg' : list1.checked}"   >
		        		<input type="checkbox" ng-change="$ctrl.allChecked(list1)" ng-click='$ctrl.ourStopPropagation($event)'  ng-model='list1.checked'   id="list1" name='list1' /></label>
		        	<span>{{list1.label}}</span>
		        	<span class="pull-right marR5">
		        		<div  ng-class="{'unSelectBg' :(!list1.checked ) ,'selectBg' : list1.checked}"  ng-click="isCollapsed = !isCollapsed"></div>
				        <!-- <i class=" glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed2, 'glyphicon-chevron-right': !isCollapsed2}"></i> -->
				    </span>
		      	</div>
				<ul>
			        <li uib-collapse="!isCollapsed2" ng-repeat='list2 in list1.children'>
			        	<div class="two" ng-click="isCollapsed3 = !isCollapsed3" >
			        		<label for="list2" ng-class="{'unSelectBg' :(!list2.checked ) ,'selectBg' : list2.checked}"  ng-click='$ctrl.ourStopPropagation($event)'>
			        			<input  type="checkbox" id='list2' name='list2'  ng-model='list2.checked' ng-change="$ctrl.list2Checked(list2, list1)" ng-click='$ctrl.ourStopPropagation($event)'/>
			        		</label>
				            <span >{{list2.label}}</span>
				            <!-- <span class="pull-right marR5" ng-if='list2 && list2.children.length>0 ' >
						        <i class="glyphicon"  ng-class="{'glyphicon-chevron-down': isCollapsed3, 'glyphicon-chevron-right': !isCollapsed3}"></i>
						    </span> -->
				        </div>
				        <ul>
				        	<li class="three" uib-collapse="!isCollapsed3"  ng-repeat='list3 in list2.children'>
				        		<label for="list3" ng-class="{'unSelectBg' :(!list3.checked ) ,'selectBg' : list3.checked}" ng-click='$ctrl.ourStopPropagation($event)'>
				        		</label>
				        		<input type="checkbox" id='list3' name='list3' ng-model='list3.checked' ng-change="$ctrl.list3Checked(list3,list2, list1)" ng-click='$ctrl.ourStopPropagation($event)'/>
				            	<span >{{list3.label}}</span>
				        	</li>
				        </ul>

			        </li>
		       </ul>
		    </li>
	  	</ul>
	</div>
</div>