// @import url(http://fonts.googleapis.com/css?family=Roboto);

$defaultTextLight:#f5f5f5;
$defaultTextDark:#212121;
$primaryText:#3caa9e;
$successText:#90b901;
$warnText:#e1bd2c;
$dangerText:#ea6969;
$defaultBgLight:#f2f2f2;
$defaultBgDark:#1C2B36;
$primaryBg:#209e91;
$successBg:#90b901;
$warnBg:#dfb81c;
$dangerBg:#e85656;

$headerH:.6rem;
$footerH:.3rem;