<div class="row">
    <div class="col-sm-8">
        <!--申购列表-->
        <div class="row">
            <div class="applicationList">
                <div class="col-sm-8">
                    <span class="applicationColor">申购列表</span>
                </div>
                <div class="col-sm-4 text-right">
                    <span class="applicationBtn cursor" ng-click="$ctrl.addModel()">添加</span>
                    <span class="applicationBtn cursor">导出</span>
                    <span class="applicationBtn cursor" ng-click="$ctrl.sendApp()">发送</span>
                </div>
            </div>
        </div>
        <div class="row" ng-show="$ctrl.addState">
            <div class="col-xs-12">
                <add-application state="$ctrl.addState"></add-application>
            </div>
        </div>
        <div class="row addApp">
            <div class="col-sm-12 investor">
                <table width="100%">
                    <tr>
                        <th></th>
                        <th>申购人</th>
                        <th>利率(%)</th>
                        <th>申购量(亿)</th>
                        <th>交易方式</th>
                        <th>销售方式</th>
                        <th>申购状态</th>
                        <th>申购渠道</th>
                        <th>申购时间</th>
                        <th>备注</th>
                        <th></th>
                    </tr>
                    <tr ng-dblclick="$ctrl.outModel(item.sndrTeamId, item.rcptyTeamId)" ng-click="$ctrl.trClick($index)" ng-class='{clicked: $index==$ctrl.trClicked}'
                        ng-repeat="item in $ctrl.items track by $index">
                        <td>
                            <img src="../../../../../../../resource/images/new.png" width="20" ng-click="$ctrl.readNews(item.sbrbId)"/>
                        </td>
                        <td>
                            {{item.rcptyUserNm}}
                        </td>
                        <td>
                            {{item.sbrbIntrt}}
                        </td>
                        <td>
                            {{item.sbrbNum}}
                        </td>
                        <td>
                            {{item.dlvTp | applicationTransaction}}
                        </td>
                        <td>
                            {{item.sellrMod | applicationSale}}
                        </td>
                        <td>
                            <select ng-model="item.sndrSbrbEStatus">
                                <option value='1'>未发送</option>
                                <option value='2'>已发送</option>
                                <option value='3'>新消息</option>
                                <option value='4'>已读</option>
                                <option value='5'>已撤销</option>
                                <option value='6'>对方撤销</option>
                                <option value='7'>已拒绝</option>
                                <option value='8'>对方拒绝</option>
                                <option value='9'>已失效</option>
                            </select>
                        </td>
                        <td>
                            {{item.sbrbChnl | applicationChanel}}
                        </td>
                        <td>
                            {{item.createTime}}
                        </td>
                        <td>
                            {{item.mark}}
                        </td>
                        <td>
                            <input type="checkbox" name="sendMsg" style="width: 20px" ng-model="$ctrl.checkMsg[$index]" />
                        </td>
                    </tr>
                </table>
                <!-- 分页 -->
                <ul
                        uib-pagination
                        boundary-links="true"
                        total-items="$ctrl.pages.totalResult"
                        ng-model="$ctrl.pages.currentPage"
                        class="pagination-sm"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        ng-change="$ctrl.pageChange($ctrl.pages.currentPage)"
                ></ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4 myTab">

    </div>
</div>