@import '../../common/css/common';
h1,h2,h3,h4,h5,h6{
	margin: 0; 
	padding: 0;
}
.o-v-a{
	aside.hallSidebar{
		width:30rem;
		float:right;
		height:100%;
		div#_header_{
			height:6%;
		}
		section.card{
			border-width:0 .1rem .1rem .1rem;
			border-style:solid;
			border-color:#dddddd;
			margin-right:.2rem;
			position: relative;
			header.title{
				height:3rem;
				background:$defaultBgDark;
				color:$defaultTextLight;
				h4{
					height:3rem;
					line-height:3rem;
					margin-left:.6rem;
				}
			}
			main#settleChart{
				width:28rem;
				height:18rem;
				background:$primaryBg;
				position: absolute;
				top:3rem;
				left:0;
				right:0;
				bottom:0;
			}
		}
		section#bondInfo{
			height:46%;
		}
		div#_gap_{
			height:1%;
		}
		section#settlement{
			height:46%;
		}
	}
	div.hallTable{
		margin-right:30rem;
		height:100%;
		header#condition{
			height:6%;
			background:$defaultBgLight;
			position:relative;
			z-index: 1;
			.panel-group {
				margin-bottom: 0;
				.panel{
					border-radius: 0;
					.panel-heading {
						padding: .5rem 1.5rem;
						border-radius: 0;
					}
					.panel-body {
						height:40rem;
						padding:1rem 1rem 0 1rem;
					}
				}
			}
		}
		main{
			height:93%;
		}
	}
}
