<div>
	<p>{{ $ctrl.name }}</p>
	<button type="button" class="btn btn-default">boostrap</button>
	<input type="text" ng-model="$ctrl.name" class="form-control">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<p>Search: <input ng-model="$ctrl.query" class="form-control"/></p>
				<p>Sort by: 
					<select ng-model="$ctrl.orderProp" class="form-control">
						<option value="name">name</option>
						<option value="snippet">snippet</option>
					</select>
				</p>
			</div>
			<br>
			<div class="col-md-8">
				<ul class="phones">
					<li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
						<a ui-sref="home.chatroom.detail({id:phone.name})">{{phone.name}}</a>
						<p>{{phone.snippet}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
