<div class="o-v-a">
	<aside class="hallSidebar">
		<div id="_body_">
			<section class="card" id="bondInfo">
				<header class="title">
					<h4>债券信息</h4>
				</header>
			</section>
			<div id="_gap_"></div>
			<section class="card" id="settlement">
				<header class="title">
					<h4>计算行情</h4>
				</header>
				<main id="settleChart"></main>
			</section>
		</div>
	</aside>
	<div class="hallTable">
		<header id="condition">
			<uib-accordion close-others="oneAtATime">
				<div uib-accordion-group class="panel-default" is-open="status.open">
					<uib-accordion-heading>
						{{ $ctrl.name }}
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</uib-accordion-heading>
					债券报价筛选条件
				</div>
			</uib-accordion>
		</header>
		<main>
			<div id="testSlimScroll" slim-scroll>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>表格标题</th>
								<th>表格标题</th>
								<th>表格标题</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
							<tr>
								<td>表格单元格</td>
								<td>表格单元格</td>
								<td>表格单元格</td>
							</tr>
						 </tbody>
				 	</table>
				</div>
			</div>
		</main>
	</div>
</div>
