<div class="onlineBond" ui-view='lineupCreat'>
	<header id="top" >
		<div class="col ">
			<span class="tit">{{drc.name}}</span>
			<div class="btn-group">
				<label class="btn btn-default"
				uib-btn-radio="''"
				ng-model="searchConditions.drc">
				全部</label>
				<label class="btn btn-default"
				ng-repeat= "item in  drc.value"
				uib-btn-radio="item.value"
				ng-model="searchConditions.drc">
				{{item.name}}</label>
			</div>
		</div>
		<div class="col form-inline">
			<span class="tit">期限</span>
			<div class="btn-group marR1">
				<label class="btn"
					ng-model="searchConditions.trmTpBtn"
					uib-btn-radio="''"
					ng-click='searchConditions.trmTpBtnSelecteds={}'>
					全部</label>
				<label class="btn active"
					ng-repeat= "(key,item) in  trmTp.value"
					ng-model="searchConditions.trmTpBtnSelecteds[key]"
					uib-btn-checkbox
					btn-checkbox-true="item.value"
					ng-hide='item.value==11'
					ng-click='allOrNoAll()'>
					{{item.name}}</label>
			</div>
			<input class="form-control " type="text" ng-model='searchConditions.trmLwrLmtVal'>
			<select class="form-control " ng-model='searchConditions.trmLwrLmtUnit'>
				<option value="1">天</option>
				<option value="2">月</option>
				<option value="3">年</option>
			</select>
			&nbsp;&nbsp; 至&nbsp;&nbsp;
			<input class="form-control " type="text" ng-model='searchConditions.trmUpLmVal'>
			<select class="form-control " ng-model='searchConditions.trmUpLmUnit'>
				<option value="1">天</option>
				<option value="2">月</option>
				<option value="3">年</option>
			</select>
		</div><br>
		<div class="col">
			<span class="tit">模式</span>
			<div class="btn-group">
				<label class="btn active"
				ng-model="searchConditions.mode"
				uib-btn-radio="''"
				ng-click='searchConditions.modeSelecteds={}'>
				全部</label>
				<label class="btn"
				ng-repeat= "(key,item) in  mode.value"
				ng-model="searchConditions.modeSelecteds[key]"
				uib-btn-checkbox
				btn-checkbox-true="item.value"
				ng-click='allOrNoAll()'>
				{{item.name}}</label>
			</div>
		</div>
		<div class="col">
			<span class="tit">利率</span>
			<div class="btn-group marR1">
				<label class="btn active"
					ng-model="searchConditions.intrtTpBtn"
					uib-btn-radio="''">
						全部</label>
				<label class="btn"
					ng-repeat= "(key,item) in  intrtTp.value"
					ng-if='item.value != 4 '
					ng-hide='item.value==0'
					ng-model="searchConditions.intrtTpBtn"
					uib-btn-radio="item.value">
					{{item.name}}</label>
			</div>
			<input class="form-control " type="text"
				ng-disabled="searchConditions.intrtTpBtn==1"
				ng-model='searchConditions.intRtStrtVal'>
				&nbsp;&nbsp; 至&nbsp;&nbsp;
			<input class="form-control " type="text"
				ng-disabled="searchConditions.intrtTpBtn==1"
				ng-model='searchConditions.intRtEndVal'>&nbsp;{{searchConditions.intrtTpBtn | percentOrBpFilter}}
		</div><br>
		<div class="col">
			<span class="tit">金额</span>
			<div class="btn-group marR1">
				<label class="btn active">全部</label>
			</div>
			<input class="form-control " type="text" ng-model='searchConditions.amtStrt'>
				&nbsp;&nbsp; 至&nbsp;&nbsp;
			<input class="form-control " type="text" ng-model='searchConditions.amtEnd'>
			<select class="form-control " ng-model='searchConditions.amtUnit'>
				<option value="1">万</option>
				<option value="2">亿</option>
			</select>
		</div>
		<button class="btn btn-primary pull-right" ng-click='getList()'> 查询 </button>
	</header>
	<section id="onLineBond">
		<grid-view fields="fields"
			query="searchConditions"
			items="infoList">
		</grid-view>
		<div uikit-pager="Pager" style="display: inline-block;text-align: right;width: 100%"></div>
	</section>
</div>
