@media  screen and (max-width: 1398px){
	#onLineBond{
		.table-responsive{
			// height:6.1rem;
			overflow-y:auto;
			overflow-x:hidden;
			// margin-bottom:0;
			border:none;
		}
	}
}
@media screen and (min-width: 1399px) {
	#onLineBond{
		.table-responsive{
			// height:6.6rem;
			overflow-y:auto;
			overflow-x:hidden;
		}
	}
}
.onlineBond {
	position: relative;
	.colorH{
		color:$textH;
	}
	.colorI{
		color:$textI;
	}
	.colorF{
		color:$textF;
	}
	.colorN{
		color:$textN;
	}
	.btn.active{
		background:#997E51;
		color:#F7EFB5;
	}
	height:100%;
	color: $textF;
	.bg{
		background:url('../../../../../../../resource/images/img_bg_title.png') 100% 100%;
		background-size: auto 100%;
	}
	header#top{
		.form-control{
			display:inline-block;
		}
		select{
			width:0.4rem;
			padding:0;
		}
		input{
			width:0.5rem;
			padding:0;
		}
		padding: 0.1rem 0.2rem;
		background: $bgDefault;
		.tit{
			margin-right:0.2rem;
		}
		.col{
			display: inline-block;
			margin: 0  0.5rem 0.1rem 0;
			.marR1{
				margin-right:0.1rem;
			}
		}
		input,select{
			background:$bgDefaultDarkC;
			border:none;
		}

	}
	section#onLineBond{
		table{
			td,th{
				text-align: center;
			}
			tbody{
				td{
					min-width:0.5rem;
				}
				td.maxWid15{
						max-width:0.9rem;
						overflow:hidden ;
						text-overflow: ellipsis;
						white-space:nowrap;
					}
				td.tel{
					span.phone,span.qq,span.chat{
						display:inline-block;
						width:0.2rem;
						height:0.2rem;
						margin:0 0.05rem;
					}
					.phone{
						background:url('../../../../../../../resource/images/btn_phone_normal.png') no-repeat center;
					}
					.phone:hover{
						background:url('../../../../../../../resource/images/btn_phone_hover.png') no-repeat center;
					}
					.qq{
						background:url('../../../../../../../resource/images/btn_QQ_normal.png') no-repeat center;
					}
					.qq:hover{
						background:url('../../../../../../../resource/images/btn_QQ_hover.png') no-repeat center;
					}
					.chat{
						background:url('../../../../../../../resource/images/btn_chat_normal.png') no-repeat center;
					}
					.chat:hover{
						background:url('../../../../../../../resource/images/btn_chat_press.png') no-repeat center;
					}
				}
				.other,.txnRstNm{
					max-width:1rem;
					overflow:hidden ;
					text-overflow: ellipsis;
					white-space:nowrap;
				}
				.otherTooltip,.other:hover,.txnRstNm:hover{
					color:$textM;
				}
				.txnRstNm{
					display:inline-block;
				}
				div.rmrk{
					max-width:1rem;
					display:inline-block;
					overflow:hidden ;
					text-overflow: ellipsis;
					white-space:nowrap;
				}
				.rmrk:hover{
					color:$textM;
				}
				div.tooltip-inner{
					color:$textM;
					padding:0.05rem 0.1rem;
				}
			}
			.bgStar{
				width:0.4rem;
				min-width:0.4rem;
				background: url('../../../../../../../resource/images/btn_star_normal.png') no-repeat center;
			}
			.bgStar.active{
				background: url('../../../../../../../resource/images/btn_star_select.png') no-repeat center;
			}
			.bgStar.bgNone{
				background-image:none;
				text-align:center;
			}
		}
		.wrkTel{
			line-height: 0.3rem;
			span{
				margin-left:0.2rem;
				padding:0.1rem ;
			}
			text-align: left;
			background:url('../../../../../../../resource/images/icon_phone01.png') no-repeat left center;
		}
		.ctcTel{
			line-height: 0.3rem;
			span{
				margin-left:0.2rem;
				padding:0.1rem;
			}
			text-align: left;
			background:url('../../../../../../../resource/images/icon_phone02.png') no-repeat left center;
		}
		.qqtooltip{
			div{
				line-height:0.2rem;
				margin-left:0.1rem;
				text-align:left;
			}
			padding:0.1rem 0.2rem 0.1rem 0.25rem;
			background:url('../../../../../../../resource/images/icon_QQ.png') no-repeat 0 0.1rem;
		}
	}
}
