<div class="willQuote">
		<div class="tit">
			资金报价

		</div>
		<header id="condition">
			<ul class="head">
				<li>
					<a id="lineUp " ui-sref-active="actived" ui-sref="home.capitalQuotation.onLineBond.create" > 线上资金</a>
				</li>
				<li>
					<a id="lineDown"  ui-sref="home.capitalQuotation.lineDownQuotation.create" ui-sref-active="actived"> 线下资金</a>
				</li>
			</ul>
		</header>
		<div id="secondList">
			<div class="lineDown">
				<header id="top">
					<form name='textarea' id="aaa" ng-submit='offlineAnalysisOfr()'>
						<textarea class="cont" ng-model='ofrDscListInfo' placeholder="请再此粘贴报价" required></textarea>
						<span style="color:#ccc">示例： 吸收线下资金：7天2.6%，14天3.0%，1个月4.2%，2个月-3个月4.4%，4个月4.3%。6个月-1年4.2%</span>
						<button  class="btn btn-default pull-right" ng-disabled="changeStatus==true">提取</button>
						<div style="clear: both;"></div>
					</form>
				</header>
				<section id="lineUpCont" >
					<div class="head">
						预览：
						<button type="button" class="plus" ng-disabled="changeStatus==true" ng-click="addBondList()"><span class="bgPlus"></span></button>

					</div>
					<form name="tableForm" id='form' ng-submit="addOrChange()" >
						<div id="table">
							<table class="table table-responsive">
								<thead>
									<tr class="bg">
										<th><i style="color:yellow">* </i>方向</th>
										<th><i style="color:yellow">* </i>种类</th>
										<th>隔夜</th>
										<th>7天</th>
										<th>14天</th>
										<th>21天</th>
										<th>1个月</th>
										<th>2个月</th>
										<th>3个月</th>
										<th>6个月</th>
										<th>9个月</th>
										<th>一年</th>
										<th>自定义</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat='item in  ofrDscList' >
										<td>
											<new-select ng-init='itme.drc=""' ng-model='item.drc' required items='drcSelect'></new-select>
										</td>
										<td>
											<new-select ng-model='item.ctlg' required items='ctlgSelect'></new-select>
										</td>
										<td>
											<input type="text" ng-model='item.dy1IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.dy7IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.dy14IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.dy21IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.mo1IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.mo2IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.mo3IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.mo6IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.mo9IntRtVal'>
										</td>
										<td>
											<input type="text" ng-model='item.yr1IntRtVal'>
										</td>
										<td class="uDFTrmList" >
											<span ng-repeat ='(key,list) in item.uDFTrmList; '>
												<input type="text" ng-model='list.uDFTrm'>
												<new-select ng-model='list.uDFTrmUnit' items='dayMonSelect'></new-select>
												<input type="text" ng-model='list.uDFInRtVal'>%
												<span class="plus" ng-if='(item.uDFTrmList.length == ($index+1))'  ng-click="adduDFTrmList(item)"><span class="bgPlus"></span></span>
												<br>
											</span>

										</td>
										<td>
											<input style="width:100%" type="text"
											uib-tooltip='{{item.rmrk}}'
											ng-model='item.rmrk'>
										</td>
										<td>
											<button type="button" ng-disabled="changeStatus==true" class="delete" ng-click="deleteList($index)"></button>
										</td>
									</tr>
								</tbody>
						 	</table>
						</div>
						<div class="footer">
							<input type='submit' style='width:1rem;'  class="btn btn-primary typeBtn" ng-disabled='ofrDscList.length<=0 ' value='确认发布' />
							<button type="button" style='width:1rem;' class="btn btn-default " ng-click='cancle()'>取消报价</button>
						</div>
					</form>
				</section>
			</div>
		</div>
</div>

